Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix typo
  common/utils/thirdParty/gtag.js
Due: prettier --write, eslint --fix

Make pages named functions and page titles global variables
  pages/about.js
  pages/branding.js
  pages/challenge.js
  pages/chapter_leader.js
  pages/code_schools.js
  pages/contact.js
  pages/events.js
  pages/faq.js
  pages/get_involved.js
  pages/history.js
  pages/index.js
  pages/jobs.js
  pages/join.js
  pages/leadership_circle.js
  pages/login.js
  pages/password_reset/confirm.js
  pages/password_reset/index.js
  pages/podcast.js
  pages/policy.js
  pages/press.js
  pages/profile/change_password.js
  pages/profile/index.js
  pages/profile/update.js
  pages/resources/[page].js
  pages/resources/index.js
  pages/sponsorship.js
  pages/terms.js
  pages/thank_you.js
  pages/who_we_serve.js
  scripts/createPage/builders.js
Due: prettier --write, eslint --fix

skeleton component, cleaning up, edge cases for query page
  common/constants/testIDs.js
  components/Cards/ResourceCard/ResourceSkeletonCard.js
  components/Cards/ResourceCard/ResourceSkeletonCard.module.css
  components/Cards/ResourceCard/__tests__/ResourceSkeletonCard.test.js
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

handle some of the edge cases, search by cost
  .vscode/launch.json
  common/styles/themeMap.js
  components/Cards/ResourceCard/ResourceSkeletonCard.module.css
  components/Cards/ResourceCard/__stories__/ResourceSkeletonCard.stories.js
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

delete launch.json
  .vscode/launch.json
Due: none

removed double pagination due to errors
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add flex to search fields to condense them
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix the url change lag from router.push
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Update .mergify.yml
  .mergify.yml
Due: none

fix for array as param w/ qs
  common/utils/api-utils.js
Due: prettier --write, eslint --fix

combined both useEffect calls
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Add new icons
  public/static/images/icons/Custom/check-circle.svg
  public/static/images/icons/Custom/x-circle.svg
Due: none

Edit appearance and content of SchoolCards
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/SchoolCard.module.css
  components/Cards/SchoolCard/__stories__/__snapshots__/SchoolCard.stories.storyshot
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Add utm_source to sponsor links
  common/constants/partners.js
  components/ReusableSections/__stories__/__snapshots__/ReusableSections.stories.storyshot
Due: prettier --write, eslint --fix

handle 404s/no matches for resources
  common/utils/api-utils.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

starting to write e2e tests
  common/constants/testIDs.js
  components/Cards/ResourceCard/ResourceCard.js
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

update select/input with current params
  pages/resources/[page].js
Due: prettier --write, eslint --fix

when page number is NaN
  pages/resources/[page].js
Due: prettier --write, eslint --fix

rebasing
  .mergify.yml
  common/constants/partners.js
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/SchoolCard.module.css
  components/Cards/SchoolCard/__stories__/__snapshots__/SchoolCard.stories.storyshot
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/ReusableSections/__stories__/__snapshots__/ReusableSections.stories.storyshot
  package.json
  public/static/images/icons/Custom/check-circle.svg
  public/static/images/icons/Custom/x-circle.svg
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

remove page param from as path
  pages/resources/[page].js
Due: prettier --write, eslint --fix

removed path-utils & use getStaticPaths/getStaticProps in [article].js
  blogArticles/hello-world.mdx
  common/utils/path-utils.js
  next.config.js
  pages/blog/[article].js
Due: prettier --write, eslint --fix

internalize "getAllArticleNames" into "getStaticPaths"
  pages/blog/[article].js
Due: prettier --write, eslint --fix

fix infinite loop from resources/NaN redirect
  pages/resources/[page].js
Due: prettier --write, eslint --fix

add styling
  package.json
  pages/blog/[article].js
  pages/styles/article.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add styling as requested
  package.json
  pages/blog/[article].js
  pages/styles/article.module.css
Due: prettier --write, eslint --fix, stylelint --fix

edit css styling and remove paragraph tags
  pages/blog/[article].js
  pages/styles/article.module.css
Due: prettier --write, eslint --fix, stylelint --fix

edit text-align
  pages/styles/article.module.css
Due: prettier --write, stylelint --fix

made it into a proper form
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Initial attempt at adding recaptcha
  components/ReCaptcha/ReCaptcha.js
  components/ReCaptcha/__stories__/ReCaptcha.stories.js
  components/ReCaptcha/__tests__/ReCaptcha.test.js
  package.json
  pages/_app.js
  pages/join.js
  report.20200508.170656.48535.0.001.json
  yarn.lock
Due: prettier --write, eslint --fix

Initial attempt at adding recaptcha
  components/ReCaptcha/__tests__/ReCaptcha.test.js
Due: prettier --write, eslint --fix

Re-attempt at implementing ReCaptcha
  components/ReCaptcha/ReCaptcha.js
Due: prettier --write, eslint --fix

Delete report.20200508.170656.48535.0.001.json
  report.20200508.170656.48535.0.001.json
Due: none

Remove unused theme values
  common/styles/themeMap.js
Due: prettier --write, eslint --fix

Update lockfile
  yarn.lock
Due: none

Allow conditional rendering of validation styling
  components/Form/Input/Input.js
  components/Form/Select/Select.js
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

Update stories and snapshots
  components/Form/Input/__stories__/Input.stories.js
  components/Form/Select/__stories__/Select.stories.js
  components/Form/Select/__stories__/__snapshots__/Select.stories.storyshot
Due: prettier --write, eslint --fix

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
