Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

moved function to inline
  components/Nav/Nav.tsx
Due: none

aded utils directory and utility type for PressLinks
  components/Press/PressLinks/PressLinks.tsx
  utils/types.ts
Due: none

migrated Form.js to Form.tsx
  components/Form/Form.tsx
Due: none

migrated JoinSection files .tsx and updated snapshot
  components/ReusableSections/JoinSection/JoinSection.tsx
  components/ReusableSections/JoinSection/__stories__/JoinSection.stories.js
  components/ReusableSections/JoinSection/__stories__/JoinSection.stories.tsx
  components/ReusableSections/JoinSection/__tests__/JoinSection.test.tsx
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
Due: prettier --write, eslint --fix

migrated SponsorsSection files to .tsx
  components/ReusableSections/SponsorsSection/SponsorsSection.tsx
  components/ReusableSections/SponsorsSection/__stories__/SponsorSection.stories.js
  components/ReusableSections/SponsorsSection/__stories__/SponsorSection.stories.tsx
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.tsx
Due: prettier --write, eslint --fix

added test-id to SponsorsSection and added snapshot test
  components/ReusableSections/SponsorsSection/SponsorsSection.tsx
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.tsx
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: none

migrated ScreenReaderOnly files to .tsx and updated snapshot
  components/ScreenReaderOnly/ScreenReaderOnly.tsx
  components/ScreenReaderOnly/__stories__/ScreenReaderOnly.stories.js
  components/ScreenReaderOnly/__stories__/ScreenReaderOnly.stories.tsx
  components/ScreenReaderOnly/__tests__/ScreenReaderOnly.test.js
  components/ScreenReaderOnly/__tests__/ScreenReaderOnly.test.tsx
  components/ScreenReaderOnly/__tests__/__snapshots__/ScreenReaderOnly.test.tsx.snap
Due: prettier --write, eslint --fix

migrated SocialMedia and SocialMediaContainer to .tsx
  components/SocialMedia/SocialMedia.tsx
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.js
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.tsx
  components/SocialMedia/SocialMediaContainer/__tests__/SocialMediaContainer.test.tsx
  components/SocialMedia/SocialMediaContainer/__tests__/__snapshots__/SocialMediaContainer.test.tsx.snap
Due: prettier --write, eslint --fix

migrated SocialMediaItem to .tsx and updated other SocialMedia prop type descriptions
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.tsx
  components/SocialMedia/SocialMediaItem/SocialMediaItem.tsx
  components/SocialMedia/SocialMediaItem/__tests__/SocialMediaItem.test.tsx
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
  components/SocialMedia/__tests__/SocialMedia.test.tsx
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.tsx.snap
Due: none

migrated SuccessStory files to .tsx and updated snapshot
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/SuccessStory.tsx
  components/SuccessStory/__stories__/SuccessStory.stories.js
  components/SuccessStory/__stories__/SuccessStory.stories.tsx
  components/SuccessStory/__tests__/SuccessStory.test.tsx
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
Due: prettier --write, eslint --fix

updated resusable sections' Story titles
  components/ReusableSections/DonateSection/__stories__/DonateSection.stories.tsx
  components/ReusableSections/JoinSection/__stories__/JoinSection.stories.tsx
  components/ReusableSections/SponsorsSection/__stories__/SponsorSection.stories.tsx
Due: none

removed props type and typed component with PropsWithChildren<>
  components/ScreenReaderOnly/ScreenReaderOnly.tsx
Due: none

applied quotation mark change and updated SuccessStory snapshot
  components/SuccessStory/SuccessStory.tsx
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
Due: none

migrated TimelineEvent files to .tsx and updated snapshot
  components/Timeline/TimelineEvent/TimelineEvent.tsx
  components/Timeline/TimelineEvent/__tests__/TimelineEvent.test.tsx
  components/Timeline/TimelineEvent/__tests__/__snapshots__/TimelineEvent.test.tsx.snap
Due: none

migrated Timeline files to .tsx and updated snapshots
  components/Timeline/Timeline.tsx
  components/Timeline/TimelineNav/TimelineNav.tsx
  components/Timeline/TimelineNav/__tests__/TimelineNav.test.tsx
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
  components/Timeline/__tests__/Timeline.test.tsx
  components/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
Due: none

added overlayClassName to Modal props type
  components/Modal/Modal.tsx
Due: none

migrated UpgradeBrowserOverly files to .tsx aand updated snapshot
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.js
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.tsx
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.tsx
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, eslint --fix

removed prop-types from TimelineEvent
  components/Timeline/TimelineEvent/TimelineEvent.tsx
Due: none

Migrate components to Typescript (#1808)
  components/ReusableSections/DonateSection/__stories__/DonateSection.stories.tsx
  components/ReusableSections/JoinSection/JoinSection.tsx
  components/ReusableSections/JoinSection/__stories__/JoinSection.stories.js
  components/ReusableSections/JoinSection/__stories__/JoinSection.stories.tsx
  components/ReusableSections/JoinSection/__tests__/JoinSection.test.tsx
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/SponsorsSection.tsx
  components/ReusableSections/SponsorsSection/__stories__/SponsorSection.stories.js
  components/ReusableSections/SponsorsSection/__stories__/SponsorSection.stories.tsx
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.js
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.tsx
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/ScreenReaderOnly/ScreenReaderOnly.tsx
  components/ScreenReaderOnly/__stories__/ScreenReaderOnly.stories.js
  components/ScreenReaderOnly/__stories__/ScreenReaderOnly.stories.tsx
  components/ScreenReaderOnly/__tests__/ScreenReaderOnly.test.js
  components/ScreenReaderOnly/__tests__/ScreenReaderOnly.test.tsx
  components/ScreenReaderOnly/__tests__/__snapshots__/ScreenReaderOnly.test.tsx.snap
  components/SocialMedia/SocialMedia.tsx
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.js
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.tsx
  components/SocialMedia/SocialMediaContainer/__tests__/SocialMediaContainer.test.tsx
  components/SocialMedia/SocialMediaContainer/__tests__/__snapshots__/SocialMediaContainer.test.tsx.snap
  components/SocialMedia/SocialMediaItem/SocialMediaItem.tsx
  components/SocialMedia/SocialMediaItem/__tests__/SocialMediaItem.test.tsx
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
  components/SocialMedia/__tests__/SocialMedia.test.tsx
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.tsx.snap
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/SuccessStory.tsx
  components/SuccessStory/__stories__/SuccessStory.stories.js
  components/SuccessStory/__stories__/SuccessStory.stories.tsx
  components/SuccessStory/__tests__/SuccessStory.test.tsx
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
Due: prettier --write, eslint --fix

changed content type to React.ReactNode[]
  components/Timeline/TimelineEvent/TimelineEvent.tsx
Due: none

i guess i was wrong 😂
  components/Timeline/TimelineEvent/TimelineEvent.tsx
Due: none

Migrate timeline typescript (#1809)
  components/Modal/Modal.tsx
  components/Timeline/Timeline.tsx
  components/Timeline/TimelineEvent/TimelineEvent.tsx
  components/Timeline/TimelineEvent/__tests__/TimelineEvent.test.tsx
  components/Timeline/TimelineEvent/__tests__/__snapshots__/TimelineEvent.test.tsx.snap
  components/Timeline/TimelineNav/TimelineNav.tsx
  components/Timeline/TimelineNav/__tests__/TimelineNav.test.tsx
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
  components/Timeline/__tests__/Timeline.test.tsx
  components/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.js
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.tsx
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.tsx
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, eslint --fix

migrated Form component to .tsx and updated snapshot
  components/Form/__tests__/Form.test.tsx
  components/Form/__tests__/__snapshots__/Form.test.tsx.snap
Due: none

migrated ThemedReactSelect to .tsx and updated snapshot
  components/Form/Select/ThemedReactSelect.tsx
  components/Form/Select/__tests__/ThemedReactSelect.test.tsx
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
Due: none

migrated Select component to .tsx
  components/Form/Select/Select.tsx
  components/Form/Select/ThemedReactSelect.js
  components/Form/Select/__tests__/Select.test.tsx
  components/Form/Select/__tests__/ThemedReactSelect.test.js
  components/Form/Select/__tests__/__snapshots__/Select.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

migrated Select to .tsx
  components/Form/Select/Select.tsx
  components/Form/Select/ThemedReactSelect.tsx
  components/Form/Select/__tests__/Select.test.tsx
Due: none

included Formik types and removed those from component props types
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Select/Select.tsx
  components/Form/Select/ThemedReactSelect.tsx
  yarn.lock
Due: none

updated snapshots using form components
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
Due: none

update formik, ts, format checkbox file, and update project .vscode settings
  .vscode/settings.json
  components/Form/Checkbox/Checkbox.tsx
  package.json
  yarn.lock
Due: none

Fix link styles, add new theme value, and add scholarship page
  .vscode/settings.json
  common/styles/globals.css
  common/styles/themeMap.js
  common/styles/variables.css
  components/Container/Container.tsx
  components/ErrorDisplay/ErrorDisplay.tsx
  components/Nav/Nav.module.css
  components/Timeline/Timeline.tsx
  pages/scholarship.tsx
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix

update snapshot tests
  components/Container/__tests__/__snapshots__/Container.test.tsx.snap
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
Due: none

add "scholarship" link to nav and footer
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: prettier --write, eslint --fix

fix link on ResourceCard
  components/Cards/ResourceCard/ResourceCard.module.css
Due: prettier --write, stylelint --fix

Add Scholarship page (#1819)
  .vscode/settings.json
  common/constants/navigation.js
  common/styles/globals.css
  common/styles/themeMap.js
  common/styles/variables.css
  components/Cards/ResourceCard/ResourceCard.module.css
  components/Container/Container.tsx
  components/Container/__tests__/__snapshots__/Container.test.tsx.snap
  components/ErrorDisplay/ErrorDisplay.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
  components/Nav/Nav.module.css
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
  components/Timeline/Timeline.tsx
  pages/scholarship.tsx
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix

add code_platoon subpage and fix code review issues
  pages/scholarship/code_platoon.tsx
  pages/scholarship/index.tsx
Due: none

add code_platoon subpage and fix code review issues (#1820)
  pages/scholarship/code_platoon.tsx
  pages/scholarship/index.tsx
Due: none

fixed minor styling issue on hero text
  pages/index.tsx
  styles/index.module.css
Due: prettier --write, stylelint --fix

fixed styling issue in FlatCard. Pic was covering text
  components/Cards/FlatCard/FlatCard.js
  styles/kc.module.css
Due: prettier --write, eslint --fix, stylelint --fix

removed unneeded code
  styles/kc.module.css
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
