Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"]
}

ditch circleci, switch yarn to pnpm, and update husky
  .circleci/config.yml
  .eslintignore
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/upload_coverage.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  .mergify.yml
  .prettierignore
  CONTRIBUTING.md
  README.md
  common/utils/api-utils.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, eslint --fix

fix pnpm in ci?
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/upload_coverage.yml
Due: none

update snapshots
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
Due: none

merge actions
  .github/workflows/ci.yml
  .github/workflows/report_coverage.yml
  .github/workflows/upload_coverage.yml
Due: none

fix sharp and update chromatic workflow
  .github/workflows/chromatic.yml
  package.json
Due: none

simplify ci
  .github/workflows/ci.yml
Due: none

try matrix
  .github/workflows/ci.yml
Due: none

hopefully fix report_coverage not running
  .github/workflows/report_coverage.yml
Due: none

rename action
  .github/workflows/chromatic.yml
Due: none

[IOK-0000] ditch circleci, switch yarn to pnpm, and update husky (#1956)
  .circleci/config.yml
  .eslintignore
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/report_coverage.yml
  .github/workflows/upload_coverage.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  .mergify.yml
  .prettierignore
  CONTRIBUTING.md
  README.md
  common/utils/api-utils.ts
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: prettier --write, eslint --fix

rename playwright
  .github/workflows/playwright.yml
Due: none

rename action and label
  .github/workflows/e2e.yml
Due: none

consolidate actions
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

rename chromatic action
  .github/workflows/chromatic.yml
Due: none

maybe fix report_coverage?
  .github/workflows/report_coverage.yml
Due: none

rename playwright action (#1957)
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  .github/workflows/report_coverage.yml
Due: none

fix typo
  common/styles/variables.css
Due: prettier --write, stylelint --fix

consolidate further
  .github/workflows/ci.yml
  .github/workflows/report_coverage.yml
Due: none

rename again
  .github/workflows/ci.yml
Due: none

Fix report upload workflow (#1958)
  .github/workflows/ci.yml
  .github/workflows/report_coverage.yml
  common/styles/variables.css
Due: prettier --write, stylelint --fix

remove unused deps
  package.json
  pnpm-lock.yaml
Due: none

replace react-scroll-up-button
  components/ScrollToTopButton/ScrollToTopButton.tsx
  components/ScrollToTopButton/__tests__/ScrollToTopButton.test.tsx
  components/ScrollToTopButton/__tests__/__snapshots__/ScrollToTopButton.test.tsx.snap
  pages/_app.tsx
Due: prettier --write, eslint --fix

replace react-scroll
  components/Timeline/TimelineNav/TimelineNav.tsx
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
  types/index.d.ts
Due: prettier --write, eslint --fix

add breakpoint size values to tailwind config
  tailwind.config.ts
Due: prettier --write, eslint --fix

ditch react-on-screen
  pages/get_involved.tsx
  pages/services.tsx
Due: prettier --write, eslint --fix

update deps
  package.json
  pnpm-lock.yaml
Due: none

remove internationalized-documentation
  internationalized-documentation/Arabic/CODE_OF_CONDUCT_AR.md
  internationalized-documentation/Germany/CODE_OF_CONDUCT_DE.md
  internationalized-documentation/India/CODE_OF_CONDUCT_HI.md
  internationalized-documentation/README.md
  internationalized-documentation/Spanish/CODE_OF_CONDUCT_ES.md
  internationalized-documentation/Turkey/CODE_OF_CONDUCT_TR.md
Due: none

whoops update lockfile
  pnpm-lock.yaml
Due: none

no hashlinks on mobile
  components/Heading/Heading.tsx
  components/ReusableSections/SponsorsSection/SponsorsSection.tsx
  e2e/hashlink.spec.ts
Due: prettier --write, eslint --fix

update snapshots
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: none

remove e2e failure comment if e2e test passes
  .github/workflows/ci.yml
Due: none

force fail
  e2e/hashlink.spec.ts
Due: prettier --write, eslint --fix

fix test
  e2e/hashlink.spec.ts
Due: prettier --write, eslint --fix

remove e2e failure comment if e2e test passes (#1960)
  .github/workflows/ci.yml
Due: none

style tweaks
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/FeaturedJobItem/FeaturedJobItem.tsx
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/OutboundLink/OutboundLink.tsx
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.tsx.snap
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
Due: prettier --write, eslint --fix

remove more unused stuff
  common/utils/api-utils.ts
  common/utils/auth-utils.js
  common/utils/cookie-utils.ts
  components/Nav/__tests__/Nav.test.tsx
  package.json
  pnpm-lock.yaml
  test-utils/createComponentInstance.js
  test-utils/flushPromises.js
  test-utils/jest-next-image.js
  test-utils/mocks/jwtMock.js
  test-utils/mocks/nextContextMock.js
  test-utils/mocks/nextRouterMock.js
  test-utils/mocks/passwordResetMock.js
  test-utils/mocks/svgMock.js
  test-utils/mocks/testFileMock.js
  test-utils/transforms/file.js
  test-utils/wait.js
Due: prettier --write, eslint --fix

fix .vscode/settings.json
  .vscode/settings.json
Due: none
