Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

removed close button theme option
  components/Buttons/CloseButton/CloseButton.module.css
  components/Modal/Modal.js
Due: prettier --write, eslint --fix, stylelint --fix

updated tests and replaced some modal instances
  components/Modal/Modal.js
  components/Modal/Modal.module.css
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  jest.setup.js
  pages/_app.js
Due: prettier --write, eslint --fix, stylelint --fix

updated CI tests
  common/constants/testIDs.js
  components/Modal/Modal.js
  cypress/integration/code_schools.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/resources.spec.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

reupdated tests and removed react-modal imports
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

small change to trigger rechecks
  components/Modal/Modal.module.css
Due: prettier --write, stylelint --fix

center pic vertically
  components/Nav/Nav.module.css
  components/Nav/NavMobile/NavMobile.js
  components/Nav/NavMobile/NavMobile.module.css
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

increase join page cypress timeout
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

find by test id
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

add random number to e2e test user email
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

randomize first and last
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

reset mock user before each
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

add timeout
  cypress/integration/profile/update.spec.js
Due: prettier --write, eslint --fix

revert e2e changes
  cypress/integration/join.spec.js
  cypress/integration/profile/update.spec.js
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

bump timeout
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

Replace img usages with next/image (#1585)
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/Nav.js
  components/Nav/Nav.module.css
  components/Nav/NavMobile/NavMobile.js
  components/Nav/NavMobile/NavMobile.module.css
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/Press/PressPhotos/PressPhotos.js
  components/Press/PressPhotos/__tests__/__snapshots__/PressPhotos.test.js.snap
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.js
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.js.snap
  cypress/integration/join.spec.js
  next.config.js
  pages/challenge.js
  pages/events.js
  pages/get_involved.js
  pages/podcast.js
  pages/slack_guide.js
  public/favicon.png
Due: prettier --write, eslint --fix, stylelint --fix

modified modal cypress tests
  cypress/integration/code_schools.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

add treehouse + coursera to partnerships
  common/constants/partners.js
Due: prettier --write, eslint --fix

prepare for team page changes
  pages/team.js
  styles/team.module.css
Due: prettier --write, eslint --fix, stylelint --fix

render "team" in "about" nav dropdown
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

adjust nav
  common/constants/navigation.js
  components/Nav/NavMobile/NavMobile.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

lower arbitrary number
  cypress/integration/team.spec.js
Due: prettier --write, eslint --fix

remove test
  cypress/integration/team.spec.js
Due: prettier --write, eslint --fix

Address Board Requests (#1593)
  common/constants/navigation.js
  common/constants/partners.js
  components/Nav/NavMobile/NavMobile.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  cypress/integration/team.spec.js
  pages/team.js
  styles/team.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update team page gratitude aside
  pages/team.js
Due: prettier --write, eslint --fix

add hero to team page
  pages/team.js
  styles/team.module.css
Due: prettier --write, eslint --fix, stylelint --fix

define utilities to leverage placeholder="blur" on next/image
  common/utils/__tests__/__snapshots__/next-utils.test.js.snap
  common/utils/__tests__/next-utils.test.js
  common/utils/next-utils.js
Due: prettier --write, eslint --fix

use placeholder="blur" on FlatCard
  components/Cards/FlatCard/FlatCard.js
Due: prettier --write, eslint --fix

Update Team page hero (#1594)
  common/utils/__tests__/__snapshots__/next-utils.test.js.snap
  common/utils/__tests__/next-utils.test.js
  common/utils/next-utils.js
  components/Cards/FlatCard/FlatCard.js
  pages/team.js
  styles/team.module.css
Due: prettier --write, eslint --fix, stylelint --fix

moved close button to overlay and updated corresponding test
  components/Modal/Modal.js
  components/Modal/Modal.module.css
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

wrapping close button with Dialog Close
  components/Modal/Modal.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: prettier --write, eslint --fix

add AsChild prop to Dialog.Close
  components/Modal/Modal.js
Due: prettier --write, eslint --fix

updated AsChild snapshot test
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: none

Replace all instances of react-modal with Radix UI's Dialog (#1592)
  common/constants/testIDs.js
  components/Modal/Modal.js
  components/Modal/Modal.module.css
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.js
  cypress/integration/code_schools.spec.js
  cypress/integration/modal.spec.js
  cypress/integration/resources.spec.js
  jest.setup.js
  package.json
  pages/_app.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

added mailto
  pages/branding.js
Due: prettier --write, eslint --fix

no reason to have these consts in the scope of the component when module scope is fine
  components/Nav/Nav.js
Due: prettier --write, eslint --fix

switch to svg logo. This will likely need to be reupdated when the svg logo is uploaded to s3.
  pages/branding.js
  public/logo.svg
Due: prettier --write, eslint --fix

did not need this extra div, just caused problems with flexbox layout
  components/Container/Container.js
  components/Container/Container.module.css
Due: prettier --write, eslint --fix, stylelint --fix

yarn update
  yarn.lock
Due: none

Created logo react component instead of using image as svg. The component supports dark mode, and callbacks for letter and mark fill colors.
  common/styles/themeMap.js
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.js.snap
  components/Branding/Logo/Logo.js
  components/Branding/Logo/Logo.module.css
  components/Branding/Logo/__tests__/Logo.test.js
  components/Branding/Logo/__tests__/__snapshots__/Logo.test.js.snap
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Container/__tests__/__snapshots__/Container.test.js.snap
  components/Content/__tests__/__snapshots__/Content.test.js.snap
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
  components/Nav/Nav.js
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/JoinSection.module.css
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  public/logo.svg
Due: prettier --write, eslint --fix, stylelint --fix

linter complaining about scope here
  decorators/withAuthSync/withAuthSync.js
Due: prettier --write, eslint --fix
