Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

add navigation to merch store and copy on services page (#1438)
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  pages/services.js
Due: prettier --write, eslint --fix

update next version and resolve issues around upgrade
  components/Cards/ImageCard/__tests__/__snapshots__/ImageCard.test.js.snap
  components/Cards/SchoolCard/__tests__/SchoolCard.test.js
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/PartnerLogoLink/__tests__/PartnerLogoLink.test.js
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.js.snap
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  pages/_app.js
  pages/_error.js
  test-utils/jest-next-image.js
  yarn.lock
Due: prettier --write, eslint --fix

update dependencies
  package.json
  yarn.lock
Due: none

update snapshot
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: none

Add Tri Tran to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

only build with google analytics if deployed to vercel prod
  cypress/integration/join.spec.js
  pages/_document.js
Due: prettier --write, eslint --fix

fix alert queries
  cypress/integration/login.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/password_reset/index.spec.js
  cypress/integration/profile/change_password.spec.js
  cypress/integration/profile/update.spec.js
Due: prettier --write, eslint --fix

create and use code of conduct link for DRY
  common/constants/urls.js
  pages/slack_guide.js
Due: prettier --write, eslint --fix

adjust registration form styles and implement a code of conduct checkbox
  common/constants/messages.js
  common/constants/testIDs.js
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/Form/Input/Input.js
  components/Form/Input/Input.module.css
  components/Form/Input/__tests__/Input.test.js
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

resolve test issues and update snapshots
  components/Form/Checkbox/Checkbox.js
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix

fix broken integration tests
  cypress/integration/join.spec.js
  cypress/support/commands.js
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

Integrate Code of Conduct checkbox on registration form (#1482)
  common/constants/messages.js
  common/constants/testIDs.js
  common/constants/urls.js
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/Form/Input/Input.js
  components/Form/Input/Input.module.css
  components/Form/Input/__tests__/Input.test.js
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/RegistrationForm.module.css
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  cypress/integration/join.spec.js
  cypress/support/commands.js
  pages/slack_guide.js
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix, stylelint --fix

upgrade node version
  .circleci/config.yml
  .nvmrc
Due: none

update jsconfig
  jsconfig.json
Due: none

update many dependencies and resolve a few bugs
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/LoginForm/LoginForm.js
  components/Forms/LoginForm/__tests__/LoginForm.test.js
  components/Forms/PasswordResetForm/PasswordResetForm.js
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/RegistrationForm.test.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  jest.config.js
  package.json
  test-utils/mockGenerators/mockUser.js
  yarn.lock
Due: prettier --write, eslint --fix

resolve lint errors
  common/constants/descriptions.js
  common/constants/navigation.js
  components/Pagination/Pagination.js
  components/Press/PressLinks/Articles.js
  components/SocialLoginGroup/SocialLoginGroup.js
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

Update some dependencies (#1486)
  .circleci/config.yml
  .nvmrc
  common/constants/descriptions.js
  common/constants/navigation.js
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/LoginForm/LoginForm.js
  components/Forms/LoginForm/__tests__/LoginForm.test.js
  components/Forms/PasswordResetForm/PasswordResetForm.js
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/RegistrationForm.test.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/Pagination/Pagination.js
  components/Press/PressLinks/Articles.js
  components/SocialLoginGroup/SocialLoginGroup.js
  cypress/plugins/index.js
  jest.config.js
  jsconfig.json
  package.json
  test-utils/mockGenerators/mockUser.js
  yarn.lock
Due: prettier --write, eslint --fix

fix lockfile
  yarn.lock
Due: none

try some more shit
  .storybook/main.js
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix broken test and lint config
  .eslintrc.js
  components/Forms/LoginForm/__tests__/LoginForm.test.js
  jest.config.js
Due: prettier --write, eslint --fix

remove react import
  components/Form/Checkbox/Checkbox.js
Due: prettier --write, eslint --fix

run linter
  common/constants/urls.js
Due: prettier --write, eslint --fix

upgrade to storybook prerelease (and update other minor versions of diff deps0
  package.json
  yarn.lock
Due: none

revert some upgrades and get storybook working
  .babelrc.js
  .circleci/config.yml
  .storybook/main.js
  common/styles/themeMap.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

even more downgrading
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix broken integration tests
  cypress/integration/faq.spec.js
  cypress/integration/join.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/password_reset/index.spec.js
  cypress/integration/profile/change_password.spec.js
  cypress/integration/profile/update.spec.js
  next.config.js
Due: prettier --write, eslint --fix

update next and storybook and use postcss 8 + webpack 5
  .storybook/main.js
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fixed Button's top padding to 1
  components/Buttons/Button/Button.module.css
Due: prettier --write, stylelint --fix

Fixed Button's top padding to 1 (#1508)
  components/Buttons/Button/Button.module.css
Due: prettier --write, stylelint --fix

Removed text-align from 4 files
  pages/blog/[article].js
  pages/code_schools.js
  pages/profile/index.js
  pages/team.js
Due: prettier --write, eslint --fix

Removed all instances of Text-Align: Justify
  components/FeaturedJobItem/FeaturedJobItem.module.css
  components/ReusableSections/DonateSection/DonateSection.module.css
  components/ReusableSections/JoinSection/JoinSection.module.css
  components/ReusableSections/SponsorsSection/SponsorsSection.module.css
  styles/about.module.css
  styles/branding.module.css
  styles/chapter_leader.module.css
  styles/contact.module.css
  styles/events.module.css
  styles/get_involved.module.css
  styles/index.module.css
  styles/press.module.css
  styles/services.module.css
  styles/sponsorship.module.css
Due: prettier --write, stylelint --fix

Removed all text-align: justify in js files
  components/ReusableSections/DonateSection/DonateSection.js
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
  components/ReusableSections/JoinSection/JoinSection.js
  pages/about.js
  pages/branding.js
  pages/chapter_leader.js
  pages/contact.js
  pages/events.js
  pages/get_involved.js
  pages/index.js
  pages/press.js
  pages/services.js
  pages/sponsorship.js
Due: prettier --write, eslint --fix

Updated yarn snapshot tests
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: none

Deleted missed textAlign:Justify from sponsorship file
  pages/sponsorship.js
Due: prettier --write, eslint --fix

Remove text align justify (#1517)
  components/FeaturedJobItem/FeaturedJobItem.module.css
  components/ReusableSections/DonateSection/DonateSection.js
  components/ReusableSections/DonateSection/DonateSection.module.css
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/JoinSection.module.css
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/ReusableSections/SponsorsSection/SponsorsSection.module.css
  pages/about.js
  pages/branding.js
  pages/chapter_leader.js
  pages/contact.js
  pages/events.js
  pages/get_involved.js
  pages/index.js
  pages/press.js
  pages/services.js
  pages/sponsorship.js
  styles/about.module.css
  styles/branding.module.css
  styles/chapter_leader.module.css
  styles/contact.module.css
  styles/events.module.css
  styles/get_involved.module.css
  styles/index.module.css
  styles/press.module.css
  styles/services.module.css
  styles/sponsorship.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add Sung Paik to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Sung Paik to challenge list (#1518)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Fix broken LogRocket image on readme
  README.md
  public/static/images/logrocket.svg
Due: none

Fix broken LogRocket image on readme (#1520)
  README.md
  public/static/images/logrocket.svg
Due: none
