Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FontSection component (#1784)
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/FontSection.module.css
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on Label component
  components/Form/Input/__tests__/__snapshots__/Input.test.js.snap
  components/Form/Label/Label.js
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on Label component (#1785)
  components/Form/Input/__tests__/__snapshots__/Input.test.js.snap
  components/Form/Label/Label.js
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix

max some fixes
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/head.js
  tailwind.config.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on TimelineEvent component
  components/Timeline/TimelineEvent/TimelineEvent.js
  components/Timeline/TimelineEvent/__tests__/__snapshots__/TimelineEvent.test.js.snap
Due: prettier --write, eslint --fix

fix broken theme value
  tailwind.config.js
Due: prettier --write, eslint --fix

update theme values to make more sense
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  components/Cards/Card/Card.js
  components/Cards/Card/__tests__/__snapshots__/Card.test.js.snap
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.js.snap
  components/FeaturedJobItem/FeaturedJobItem.js
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Form/Input/__tests__/__snapshots__/Input.test.js.snap
  components/Form/Label/Label.js
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  components/HeroBanner/HeroBanner.js
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
  components/Modal/Modal.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix

install twMerge, convert ImageCard, + fix ImageCard visual bugs
  components/Cards/Card/Card.js
  components/Cards/Card/__tests__/__snapshots__/Card.test.js.snap
  components/Cards/ImageCard/ImageCard.js
  components/Cards/ImageCard/ImageCard.module.css
  components/Cards/ImageCard/__tests__/__snapshots__/ImageCard.test.js.snap
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.js.snap
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on TimelineEvent component (#1786)
  components/Timeline/TimelineEvent/TimelineEvent.js
  components/Timeline/TimelineEvent/__tests__/__snapshots__/TimelineEvent.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on TimelineNav component
  components/Timeline/TimelineNav/TimelineNav.js
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on TimelineNav component
  components/Timeline/TimelineNav/TimelineNav.module.css
Due: prettier --write, stylelint --fix

Replaced all the css into tailwind css on TimelineNav component (#1787)
  components/Timeline/TimelineNav/TimelineNav.js
  components/Timeline/TimelineNav/TimelineNav.module.css
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FlatCard component
  components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on FlatCard component
  components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/FlatCard.module.css
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FlatCard component (#1788)
  components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/FlatCard.module.css
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

fix style bugs with flatcard
  components/Cards/FlatCard/FlatCard.js
  components/SuccessStory/SuccessStory.js
Due: prettier --write, eslint --fix

update snapshots
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.js.snap
Due: none

Converted all the css into Tailwind css of Heading component
  components/Content/__tests__/__snapshots__/Content.test.js.snap
  components/Heading/Heading.js
  components/Heading/__tests__/__snapshots__/Heading.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: prettier --write, eslint --fix

Converted all the css into Tailwind css of Heading component
  components/Heading/Heading.module.css
Due: prettier --write, stylelint --fix

remove code_schools page
  common/constants/navigation.js
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/SchoolCard.module.css
  components/Cards/SchoolCard/__stories__/SchoolCard.stories.js
  components/Cards/SchoolCard/__tests__/SchoolCard.test.js
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  cypress/e2e/code_schools.spec.js
  cypress/e2e/modal.spec.js
  next-sitemap.config.js
  pages/code_schools.js
  pages/press.js
  styles/code_schools.module.css
Due: prettier --write, eslint --fix, stylelint --fix

remove code_schools page (#1791)
  common/constants/navigation.js
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/SchoolCard.module.css
  components/Cards/SchoolCard/__stories__/SchoolCard.stories.js
  components/Cards/SchoolCard/__tests__/SchoolCard.test.js
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  cypress/e2e/code_schools.spec.js
  cypress/e2e/modal.spec.js
  next-sitemap.config.js
  pages/code_schools.js
  pages/press.js
  styles/code_schools.module.css
Due: prettier --write, eslint --fix, stylelint --fix

added second Checkbox and link to Slack guidelines
  common/constants/messages.js
  common/constants/urls.js
  components/Forms/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

added classes to adjust content alignment
  components/Forms/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

updated RegistrationForm test snapshot
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: none

updated Footer test snapshot
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

updated Cypress tests and added test for Slack Guidelines checkbox
  cypress/e2e/join.spec.js
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

initial ts setup. changed pages/*.js to pages/*.tsx
  next-env.d.ts
  next.config.js
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/_error.tsx
  pages/about.tsx
  pages/blog/index.tsx
  pages/branding.tsx
  pages/challenge.tsx
  pages/chapter_leader.tsx
  pages/chapters.tsx
  pages/confirm_email.tsx
  pages/contact.tsx
  pages/donate.tsx
  pages/faq.tsx
  pages/get_involved.tsx
  pages/history.tsx
  pages/index.tsx
  pages/jobs.tsx
  pages/join/form.tsx
  pages/join/index.tsx
  pages/join/success.tsx
  pages/podcast.tsx
  pages/policy.tsx
  pages/press.tsx
  pages/project_rebuild.tsx
  pages/services.tsx
  pages/slack_guide.tsx
  pages/sponsorship.tsx
  pages/team.tsx
  pages/terms.tsx
  pages/thank_you.tsx
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

add @typescript-eslint
  .eslintrc.js
  components/Cards/Card/Card.js
  components/Container/Container.js
  next.config.js
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/_error.tsx
  pages/confirm_email.tsx
  pages/faq.tsx
  pages/podcast.tsx
  pages/slack_guide.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

add types
  pages/join/form.tsx
  pages/join/index.tsx
Due: none

update eslint ts override config
  .eslintrc.js
  pages/confirm_email.tsx
  pages/join/form.tsx
Due: prettier --write, eslint --fix

remove prop-types from .ts, .tsx files
  pages/_app.tsx
  pages/join/form.tsx
Due: none

changed Footer snapshot copy back to 2023
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

changed date string for Footer.test.js mock date
  components/Footer/__tests__/Footer.test.js
Due: prettier --write, eslint --fix

initial ts setup. changed pages/*.js to pages/*.tsx (#1792)
  .eslintrc.js
  components/Cards/Card/Card.js
  components/Container/Container.js
  next-env.d.ts
  next.config.js
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/_error.tsx
  pages/about.tsx
  pages/blog/index.tsx
  pages/branding.tsx
  pages/challenge.tsx
  pages/chapter_leader.tsx
  pages/chapters.tsx
  pages/confirm_email.tsx
  pages/contact.tsx
  pages/donate.tsx
  pages/faq.tsx
  pages/get_involved.tsx
  pages/history.tsx
  pages/index.tsx
  pages/jobs.tsx
  pages/join/form.tsx
  pages/join/index.tsx
  pages/join/success.tsx
  pages/podcast.tsx
  pages/policy.tsx
  pages/press.tsx
  pages/project_rebuild.tsx
  pages/services.tsx
  pages/slack_guide.tsx
  pages/sponsorship.tsx
  pages/team.tsx
  pages/terms.tsx
  pages/thank_you.tsx
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

updated form width
  components/Forms/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

re-added Community to checkbox label copy
  components/Forms/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
