Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"]
}

fix issue with sublink width
  components/Nav/NavListItem/NavListItem.module.css
Due: prettier --write, stylelint --fix

extract InlineLoadingSpinner
  components/Form/MultiStepForm.tsx
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/InlineLoadingSpinner.tsx
Due: none

use cache v4
  .github/workflows/chromatic.yml
Due: none

fix unit test
  common/constants/testIDs.js
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/RegistrationForm/__tests__/RegistrationForm.test.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
Due: prettier --write, eslint --fix

change orb version
  .circleci/config.yml
Due: none

disable Cypress using GPU
  cypress.config.js
Due: prettier --write, eslint --fix

fix cypress tsconfig
  cypress.config.js
  cypress/tsconfig.json
Due: prettier --write, eslint --fix

exlude cypress-specifc tsconfig from build/dev
  tsconfig.json
Due: none

upgrade next ^12 to see if it fixes build error
  package.json
  yarn.lock
Due: none

fix join test
  cypress/e2e/join.spec.ts
Due: none

update snapshots
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
Due: none

upgrade logrocket
  package.json
  pages/_app.tsx
  yarn.lock
Due: none

hard-code logrocket id
  common/config/environment.js
  pages/_app.tsx
Due: prettier --write, eslint --fix

remove unused var
  pages/_app.tsx
Due: none

node 22
  .circleci/config.yml
  .nvmrc
Due: none

upgrade deps
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.tsx.snap
  package.json
  yarn.lock
Due: none

install cURL
  .circleci/config.yml
Due: none

adjust hashlink spec
  cypress/e2e/hashlink.spec.js
Due: prettier --write, eslint --fix

node 22 (#1864)
  .circleci/config.yml
  .nvmrc
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.tsx.snap
  cypress/e2e/hashlink.spec.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Updated team.tsx info
  pages/team.tsx
Due: none

Adjust team page card heights
  pages/team.tsx
Due: none

Update to properly handle teamContainerRef null
  pages/team.tsx
Due: none

Updated team page using some additional strict checks in tsconfig
  pages/team.tsx
Due: none

Based on a slack chat from datphotogurl.
  pages/team.tsx
Due: none

updated team page. update ui to balance cards
  pages/team.tsx
  public/static/images/cynthia.jpg
  public/static/images/glomani.jpg
  yarn.lock
Due: none

reordered team members
  pages/team.tsx
Due: none

remove interactivity. fix ts error
  components/Form/Select/ThemedReactSelect.tsx
  pages/team.tsx
Due: none

updated team page. update ui to balance cards (#1871)
  components/Form/Select/ThemedReactSelect.tsx
  pages/team.tsx
  public/static/images/cynthia.jpg
  public/static/images/glomani.jpg
  yarn.lock
Due: none

update sponsors section
  common/constants/partners.js
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/PartnerLogoLink/PartnerLogoLink.tsx
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/ReusableSections/SponsorsSection/SponsorsSection.tsx
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.tsx
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  public/static/images/sponsors/airbnb_logo.png
  public/static/images/sponsors/code_platoon_logo.png
  public/static/images/sponsors/comptia_logo.png
  public/static/images/sponsors/etsy_logo.png
  public/static/images/sponsors/google_logo.png
  public/static/images/sponsors/juniper_networks_logo.png
  public/static/images/sponsors/umpqua_bank_logo.png
  public/static/images/sponsors/unite_us_logo.png
Due: prettier --write, eslint --fix

update sponsors section (#1873)
  common/constants/partners.js
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/PartnerLogoLink/PartnerLogoLink.tsx
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/ReusableSections/SponsorsSection/SponsorsSection.tsx
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.tsx
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  public/static/images/sponsors/airbnb_logo.png
  public/static/images/sponsors/code_platoon_logo.png
  public/static/images/sponsors/comptia_logo.png
  public/static/images/sponsors/etsy_logo.png
  public/static/images/sponsors/google_logo.png
  public/static/images/sponsors/juniper_networks_logo.png
  public/static/images/sponsors/umpqua_bank_logo.png
  public/static/images/sponsors/unite_us_logo.png
Due: prettier --write, eslint --fix

remove utm_source redundancy
  common/constants/partners.js
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/PartnerLogoLink/PartnerLogoLink.tsx
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: prettier --write, eslint --fix

remove utm_source redundancy (#1874)
  common/constants/partners.js
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/PartnerLogoLink/PartnerLogoLink.tsx
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: prettier --write, eslint --fix

convert Accordion to tailwindcss
  components/Accordion/Accordion.module.css
  components/Accordion/Accordion.tsx
  components/Accordion/__tests__/Accordion.test.tsx
  pages/faq.tsx
  styles/faq.module.css
Due: prettier --write, stylelint --fix

add cva and utils
  .eslintrc.js
  common/utils/cva.ts
  components/Accordion/Accordion.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

remove unneccessary class
  pages/faq.tsx
Due: none

exclude auto-import suggestions for vscode
  .vscode/settings.json
Due: none

disable eslint rule
  .eslintrc.js
  common/utils/cva.ts
Due: prettier --write, eslint --fix

convert Accordion to tailwindcss (#1893)
  .eslintrc.js
  .vscode/settings.json
  common/utils/cva.ts
  components/Accordion/Accordion.module.css
  components/Accordion/Accordion.tsx
  components/Accordion/__tests__/Accordion.test.tsx
  package.json
  pages/faq.tsx
  styles/faq.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

replace refs to twMerge and classnames. remove classnames pkg
  .eslintrc.js
  components/Alert/Alert.tsx
  components/Badge/Badge.tsx
  components/Branding/LogoSection/LogoSection.tsx
  components/Buttons/Button/Button.tsx
  components/Buttons/CloseButton/CloseButton.tsx
  components/Buttons/LinkButton/LinkButton.tsx
  components/Cards/Card/Card.tsx
  components/Cards/FlatCard/FlatCard.js
  components/Cards/ImageCard/ImageCard.tsx
  components/Container/Container.tsx
  components/Drawer/Drawer.tsx
  components/Drawer/__tests__/__snapshots__/Drawer.test.tsx.snap
  components/Form/Checkbox/Checkbox.js
  components/Form/Input/Input.tsx
  components/Form/Label/Label.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Heading/Heading.tsx
  components/HeroBanner/HeroBanner.tsx
  components/InlineLoadingSpinner.tsx
  components/Modal/Modal.tsx
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavMobile/NavMobile.tsx
  components/OutboundLink/OutboundLink.tsx
  package.json
  pages/branding.tsx
  pages/chapter_leader.tsx
  pages/contact.tsx
  pages/corporate-training/index.tsx
  pages/get_involved.tsx
  pages/services.tsx
  scripts/createComponent/builders.js
  yarn.lock
Due: prettier --write, eslint --fix
