Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"]
}

fix nav list texts being not vertically centered with icons
  components/Nav/NavListItem/NavListItem.module.css
Due: prettier --write, stylelint --fix

re-introduce important config in tailwind
  tailwind.config.js
Due: prettier --write, eslint --fix

various style fixes
  components/Cards/FlatCard/FlatCard.module.css
  components/Cards/SchoolCard/SchoolCard.module.css
  components/Heading/Heading.module.css
Due: prettier --write, stylelint --fix

more style tweaks
  .stylelintrc
  components/Branding/LogoSection/LogoSection.module.css
  styles/services.module.css
Due: prettier --write, stylelint --fix

resolve styling problems
  .storybook/preview.js
  components/Badge/Badge.js
  components/Badge/__tests__/__snapshots__/Badge.test.js.snap
  components/Cards/SchoolCard/SchoolCard.module.css
  styles/get_involved.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css into Tailwind css of Badge component (#1739)
  .storybook/preview.js
  components/Badge/Badge.js
  components/Badge/Badge.module.css
  components/Badge/__tests__/__snapshots__/Badge.test.js.snap
  components/Cards/SchoolCard/SchoolCard.module.css
  styles/get_involved.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add John Winy Ludeke to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add John Winy Ludeke to challenge list (#1741)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Convert all the css into tailwind css of SocialMedia component
  .gitpod.yml
  components/SocialMedia/SocialMedia.js
  components/SocialMedia/SocialMedia.module.css
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.js
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.module.css
  components/SocialMedia/SocialMediaContainer/__tests__/__snapshots__/SocialMediaContainer.test.js.snap
  components/SocialMedia/SocialMediaItem/SocialMediaItem.js
  components/SocialMedia/SocialMediaItem/SocialMediaItem.module.css
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Convert all the css into tailwind css of SocialMedia component
  .gitpod.yml
Due: none

Update components/SocialMedia/SocialMediaItem/SocialMediaItem.js
  components/SocialMedia/SocialMediaItem/SocialMediaItem.js
Due: prettier --write, eslint --fix

Convert all the css into tailwind css of SocialMedia component
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
Due: none

Convert all the css into tailwind css of SocialMedia component (#1742)
  components/SocialMedia/SocialMedia.js
  components/SocialMedia/SocialMedia.module.css
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.js
  components/SocialMedia/SocialMediaContainer/SocialMediaContainer.module.css
  components/SocialMedia/SocialMediaContainer/__tests__/__snapshots__/SocialMediaContainer.test.js.snap
  components/SocialMedia/SocialMediaItem/SocialMediaItem.js
  components/SocialMedia/SocialMediaItem/SocialMediaItem.module.css
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css into tailwind css of Modal component
  components/Modal/Modal.js
  components/Modal/Modal.module.css
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css into tailwind css of Modal compononent
  components/Modal/Modal.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: prettier --write, eslint --fix

Converted all the css into tailwind css of Modal compononent
  components/Modal/Modal.js
  tailwind.config.js
Due: prettier --write, eslint --fix

Converted all the css into tailwind css of Modal compononent
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: none

remove dumb lint rule
  .eslintrc.js
Due: prettier --write, eslint --fix

integrate tailwind into Storybook
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

update modal API and fix issue where modal would not render
  components/Cards/Card/Card.module.css
  components/Modal/Modal.js
  components/Modal/Modal.module.css
  components/Modal/__stories__/Modal.stories.js
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.js
Due: prettier --write, eslint --fix, stylelint --fix

update snapshot tests
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.js.snap
Due: none

Coverted all the css into Tailwind css of Modal component (#1743)
  .eslintrc.js
  .storybook/main.js
  components/Cards/Card/Card.module.css
  components/Modal/Modal.js
  components/Modal/Modal.module.css
  components/Modal/__stories__/Modal.stories.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.js
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.js.snap
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css to into tailwind css of HeroBanner page
  components/HeroBanner/HeroBanner.js
  components/HeroBanner/HeroBanner.module.css
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

add ability to use text-shadwo
  tailwind.config.js
Due: prettier --write, eslint --fix

add missing styles, update snapshot, and remove CSS modules file
  components/HeroBanner/HeroBanner.js
  components/HeroBanner/HeroBanner.module.css
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

ensure fullViewportHeight always wins
  components/Container/Container.module.css
Due: prettier --write, stylelint --fix

Converted all the css to into tailiwind css of HeroBanner page (#1744)
  components/Container/Container.module.css
  components/HeroBanner/HeroBanner.js
  components/HeroBanner/HeroBanner.module.css
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css into Tailwind css of Drawer component
  components/Drawer/Drawer.js
  components/Drawer/__tests__/__snapshots__/Drawer.test.js.snap
Due: prettier --write, eslint --fix

Converted all the css into tailwind css of Drawer component
  components/Drawer/Drawer.js
  components/Drawer/Drawer.module.css
  components/Drawer/__tests__/__snapshots__/Drawer.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css into Tailwind css of Drawer component
  components/Drawer/Drawer.module.css
Due: prettier --write, stylelint --fix

Converted all the css into Tailwind css of Drawer component (#1745)
  components/Drawer/Drawer.js
  components/Drawer/Drawer.module.css
  components/Drawer/__tests__/__snapshots__/Drawer.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

fix padding issue on landing page
  pages/index.js
Due: prettier --write, eslint --fix

Converted all the css into Tailwind css of Drawer component
  components/Container/Container.js
  components/Container/Container.module.css
  components/Container/__tests__/__snapshots__/Container.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css into Tailwind css of Drawer component
  components/Container/Container.js
  components/Container/__tests__/__snapshots__/Container.test.js.snap
Due: prettier --write, eslint --fix

Update README.md for Hacktoberfest
  README.md
Due: none

fix hacktoberfest banner
  README.md
Due: none

dont use code coverage during local dev
  .gitignore
  cypress/downloads/downloads.html
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

Converted all the css into Tailwind css of Drawer component
  components/Container/Container.js
  components/Container/Container.module.css
  components/Container/__tests__/__snapshots__/Container.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix
