Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Run format
  .eslintrc.js
Due: prettier --write, eslint --fix

Added Recaptcha to join.js
  package.json
  pages/join.js
  yarn.lock
Due: prettier --write, eslint --fix

Update pages/join.js
  pages/join.js
Due: prettier --write, eslint --fix

Made changes per recommendations
  pages/join.js
Due: prettier --write, eslint --fix

Changed the value of recaptchareference to use state
  pages/join.js
Due: prettier --write, eslint --fix

added qs as dep/description for paramSerializer
  common/utils/api-utils.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

initialValues for formik form
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Revert "initialValues for formik form"
  pages/resources/[page].js
Due: prettier --write, eslint --fix

return error from get() api util
  common/utils/api-utils.js
Due: prettier --write, eslint --fix

import isNaN from lodash
  pages/resources/[page].js
Due: prettier --write, eslint --fix

absolute imports
  pages/resources/[page].js
Due: prettier --write, eslint --fix

update snapshots/skeleton test
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceSkeletonCard.stories.storyshot
  components/Cards/ResourceCard/__tests__/ResourceSkeletonCard.test.js
Due: prettier --write, eslint --fix

fix the single select not clearing on reset button
  components/Form/Select/Select.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

update data handling to work with new api
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Fix formatting of JSON file
  now.json
Due: none

small bugs for pagination
  common/constants/testIDs.js
  components/Pagination/Pagination.js
  cypress/integration/resources.spec.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Update deps
  package.json
  yarn.lock
Due: none

Fix code-coverage integration
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

Add resolution for Cypress install
  package.json
Due: none

Update lockfile
  yarn.lock
Due: none

Add debug commands
  .circleci/config.yml
Due: none

integration tests
  common/constants/testIDs.js
  components/Cards/ResourceCard/ResourceCard.js
  cypress/integration/resources.spec.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

update snapshots
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

finish tests and cleaning up
  common/constants/testIDs.js
  components/Cards/ResourceCard/ResourceCard.js
  components/Pagination/Pagination.js
  cypress/integration/resources.spec.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

snapshots
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
  components/Pagination/__stories__/__snapshots__/Pagination.stories.storyshot
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
Due: none

intergration tests
  common/constants/testIDs.js
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

rid of dynamic imports for resource card
  components/Cards/ResourceCard/ResourceCard.js
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

prop types for data-test attributes on resource card
  components/Cards/ResourceCard/ResourceCard.js
Due: prettier --write, eslint --fix

small changes to integration test
  cypress/integration/resources.spec.js
  cypress/support/commands.js
Due: prettier --write, eslint --fix

simplified error alerts
  pages/resources/[page].js
Due: prettier --write, eslint --fix

upgrade storybook to 5.1.11
  .babelrc
  .storybook/addons.js
  .storybook/backgrounds.js
  .storybook/config.js
  .storybook/webpack.config.js
  components/Cards/FlatCard/__stories__/__snapshots__/FlatCard.stories.storyshot
  components/Cards/ResourceCard/__stories__/ResourceCard.stories.js
  components/ChangePasswordForm/__tests__/ChangePasswordForm.test.js
  components/Form/Select/__stories__/__snapshots__/Select.stories.storyshot
  components/Form/Select/__tests__/Select.test.js
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Form/__tests__/MultiStepForm.test.js
  components/LoginForm/__tests__/LoginForm.test.js
  components/PasswordResetForm/__tests__/PasswordResetForm.test.js
  components/RegistrationForm/__tests__/RegistrationForm.test.js
  components/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/UpdateProfileForm/steps/__tests__/MilitaryDetails.test.js
  components/UpdateProfileForm/steps/__tests__/MilitaryStatus.test.js
  components/UpdateProfileForm/steps/__tests__/ProfessionalDetails.test.js
  components/UpdateProfileForm/steps/__tests__/Technology.test.js
  components/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

remove "react-svg-loader" & fix netlify build
  .storybook/webpack.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

comment out voting UI for resource cards
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
  components/Cards/ResourceCard/__tests__/ResourceCard.test.js
Due: prettier --write, eslint --fix

hide unused variables
  components/Cards/ResourceCard/ResourceCard.js
Due: prettier --write, eslint --fix

Upgrade dependencies
  package.json
  yarn.lock
Due: none

Ignore changed multiline-ternary rule
  .eslintrc.js
Due: prettier --write, eslint --fix

Fix typo
  .eslintrc.js
Due: prettier --write, eslint --fix

Fix resolution line
  package.json
Due: none

Fix lockfile
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
