Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

move config out of experimental
  next.config.js
Due: prettier --write, eslint --fix

upgrade more deps
  package.json
  yarn.lock
Due: none

update node version for cypress ci
  .circleci/config.yml
Due: none

run format and lint
  .eslintrc.js
  components/Cards/ResourceCard/ResourceSkeletonCard.js
Due: prettier --write, eslint --fix

Update dependencies (#1380)
  .circleci/config.yml
  .eslintrc.js
  .nvmrc
  components/Cards/ResourceCard/ResourceSkeletonCard.js
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/PasswordResetForm/PasswordResetForm.js
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/ResourceSearchForm.js
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/Nav/__tests__/Nav.test.js
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

rename methods
  common/constants/api.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

allows "args" as variable name
  .eslintrc.js
Due: prettier --write, eslint --fix

deal with redirect properly
  next.config.js
  pages/resources/index.js
Due: prettier --write, eslint --fix

use css variable for max width
  common/styles/globalStyles.css
  common/styles/variables.css
Due: prettier --write, stylelint --fix

create resource creation form and page
  common/constants/api.js
  components/Forms/CreateResourceForm/CreateResourceForm.js
  components/Forms/CreateResourceForm/CreateResourceForm.module.css
  pages/resources/create.js
Due: prettier --write, eslint --fix, stylelint --fix

allow user to see ability to create resource from resources listing page
  components/Forms/LoginForm/LoginForm.js
  pages/resources/[page].js
  styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix broken import
  pages/resources/create.js
Due: prettier --write, eslint --fix

adjust styles for alert on create page
  pages/resources/create.js
  styles/create_resource.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix broken login on vote prompt
  pages/resources/[page].js
Due: prettier --write, eslint --fix

fix issue with resources api compat
  common/constants/api.js
  common/utils/api-utils.js
Due: prettier --write, eslint --fix

control react-select's ability to be searchable via prop
  components/Form/Select/Select.js
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

create system for client unauthorized redirects
  pages/login.js
Due: prettier --write, eslint --fix

style tweaks, bug fixes, and error handling
  components/Forms/CreateResourceForm/CreateResourceForm.js
  pages/resources/create.js
  styles/create_resource.module.css
Due: prettier --write, eslint --fix, stylelint --fix

resolve broken voting and close login modal after logging in
  common/utils/api-utils.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Create resource form (#1381)
  .eslintrc.js
  common/constants/api.js
  common/styles/globalStyles.css
  common/styles/variables.css
  common/utils/api-utils.js
  components/Form/Select/Select.js
  components/Form/Select/ThemedReactSelect.js
  components/Forms/CreateResourceForm/CreateResourceForm.js
  components/Forms/CreateResourceForm/CreateResourceForm.module.css
  components/Forms/LoginForm/LoginForm.js
  next.config.js
  pages/login.js
  pages/resources/[page].js
  pages/resources/create.js
  pages/resources/index.js
  styles/create_resource.module.css
  styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

selfishly change port
  .circleci/config.yml
  CONTRIBUTING.md
  cypress.json
  package.json
Due: none

content changes
  common/constants/navigation.js
  components/Nav/NavListItem/NavListItem.module.css
  cypress/integration/login.spec.js
  next.config.js
  pages/about.js
  pages/get_involved.js
  pages/index.js
  pages/services.js
  styles/get_involved.module.css
  styles/index.module.css
  styles/services.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update tests
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/Nav.test.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

fix styles for new CTAs
  pages/index.js
  styles/get_involved.module.css
  styles/index.module.css
Due: prettier --write, eslint --fix, stylelint --fix

undo port change
  .circleci/config.yml
  CONTRIBUTING.md
  cypress.json
  package.json
Due: none

Content changes (#1392)
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/NavListItem/NavListItem.module.css
  components/Nav/__tests__/Nav.test.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  cypress/integration/login.spec.js
  next.config.js
  package.json
  pages/about.js
  pages/get_involved.js
  pages/index.js
  pages/services.js
  styles/get_involved.module.css
  styles/index.module.css
  styles/services.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Update Footer.test.js.snap
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

Update Footer.module.css
  components/Footer/Footer.module.css
Due: prettier --write, stylelint --fix

Update Modal.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
Due: none

Update Technology.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
Due: none

Update ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
Due: none

Update MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
Due: none

Update MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
Due: none

Update UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
Due: none

Update ResourceSearchForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
Due: none

Update ThemedReactSelect.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
Due: none

Update Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
Due: none

Update Footer.js
  components/Footer/Footer.js
Due: prettier --write, eslint --fix
