Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

fix tests
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/__tests__/JoinSection.test.js
Due: prettier --write, eslint --fix

remove unused CSS files
  styles/code_schools.module.css
  styles/create_resource.module.css
  styles/password_reset.module.css
  styles/profile.module.css
  styles/resources.module.css
Due: prettier --write, stylelint --fix

adjust join form styles
  pages/join.js
  styles/join.module.css
Due: prettier --write, eslint --fix, stylelint --fix

remove crossorigin property
  pages/join.js
Due: prettier --write, eslint --fix

fix join form submit button padding
  styles/join.module.css
Due: prettier --write, stylelint --fix

fix virtuous scripts
  pages/donate.js
  pages/join.js
Due: prettier --write, eslint --fix

one last tweak
  pages/donate.js
  pages/join.js
Due: prettier --write, eslint --fix

fix: resolves donation form issues
  pages/donate.js
Due: prettier --write, eslint --fix

fix: resolves donation form issues (#1695)
  pages/donate.js
Due: prettier --write, eslint --fix

fix some broken links
  components/Footer/__tests__/Footer.test.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  next.config.js
  pages/about.js
  pages/services.js
  pages/slack_guide.js
Due: prettier --write, eslint --fix

add: Arabic translation
  CODE_OF_CONDUCT.md
  internationalized-documentation/Arabic/CODE_OF_CONDUCT_AR.md
Due: none

add: Arabic translation (#1697)
  CODE_OF_CONDUCT.md
  internationalized-documentation/Arabic/CODE_OF_CONDUCT_AR.md
Due: none

go back to lgl for donate page
  pages/donate.js
  styles/donate.module.css
Due: prettier --write, eslint --fix, stylelint --fix

go back to LGL for donate page (#1698)
  pages/donate.js
  styles/donate.module.css
Due: prettier --write, eslint --fix, stylelint --fix

remove max-len lint rule
  .eslintrc.js
  common/constants/descriptions.js
  common/constants/successStories.js
  components/Press/PressLinks/Articles.js
  components/Timeline/Timeline.js
  components/head.js
  jest.config.js
  pages/team.js
  scripts/createComponent/builders.js
Due: prettier --write, eslint --fix

add more board members
  pages/team.js
Due: prettier --write, eslint --fix

fix next config
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

remove deprecated UI
  common/constants/navigation.js
  components/Form/Input/Input.js
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/RegistrationForm.module.css
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/UpdateProfileForm/UpdateProfileForm.js
  components/Nav/Nav.js
  components/Nav/NavMobile/__tests__/NavMobile.test.js
  components/Nav/__tests__/Nav.test.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/__tests__/JoinSection.test.js
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  cypress/e2e/login.spec.js
  cypress/e2e/password_reset/confirm.spec.js
  cypress/e2e/password_reset/index.spec.js
  cypress/e2e/profile/change_password.spec.js
  cypress/e2e/profile/update.spec.js
  cypress/e2e/resources.spec.js
  pages/confirm_email.js
  pages/join/form.js
  pages/join/index.js
  pages/join/success.js
  pages/login.js
  pages/password_reset/confirm.js
  pages/password_reset/index.js
  pages/profile/change_password.js
  pages/profile/index.js
  pages/resources/[page].js
  pages/resources/create.js
  scripts/SITEMAP_IGNORE.json
Due: prettier --write, eslint --fix, stylelint --fix

remove irrelevant tests
  cypress/e2e/join.spec.js
Due: prettier --write, eslint --fix

remove log statement
  common/constants/navigation.js
Due: prettier --write, eslint --fix

fix broken tests
  cypress/e2e/join.spec.js
Due: prettier --write, eslint --fix

fix broken test
  cypress/e2e/join.spec.js
Due: prettier --write, eslint --fix

fix lint errors
  internationalized-documentation/Arabic/CODE_OF_CONDUCT_AR.md
  pages/team.js
Due: prettier --write, eslint --fix

Adjust team page (#1700)
  .eslintrc.js
  common/constants/descriptions.js
  common/constants/successStories.js
  components/Press/PressLinks/Articles.js
  components/Timeline/Timeline.js
  components/head.js
  internationalized-documentation/Arabic/CODE_OF_CONDUCT_AR.md
  jest.config.js
  pages/team.js
  scripts/createComponent/builders.js
Due: prettier --write, eslint --fix

use new gtag ID for GA4
  common/config/environment.js
Due: prettier --write, eslint --fix

changed container max-width from 1400px to 1200px to match Nav
  components/Container/Container.module.css
Due: prettier --write, stylelint --fix

changed max-width of FlatCard from 400px to 340px to maintain grid
  components/Cards/FlatCard/FlatCard.module.css
Due: prettier --write, stylelint --fix

changed FlatCard max-width to 364px
  components/Cards/FlatCard/FlatCard.module.css
Due: prettier --write, stylelint --fix

changed Content and Nav max-width to 1400px and centered Nav
  components/Cards/FlatCard/FlatCard.module.css
  components/Container/Container.module.css
  components/Nav/Nav.module.css
Due: prettier --write, stylelint --fix

added chromatic script to package.json
  package.json
Due: none

refactored yaml workflow for github actions v2
  .github/workflows/chromatic.yml
Due: none

#1610 Limit width of page content to match width of nav bar (#1704)
  components/Container/Container.module.css
  components/Nav/Nav.module.css
Due: prettier --write, stylelint --fix

changed name back to ci
  .github/workflows/chromatic.yml
Due: none

updated Chromatic script with project token to deploy branch storybook changes
  package.json
Due: none

removed project token from Chromatic script
  package.json
Due: none

added skip to chromatic script to skip tests
  package.json
Due: none

changed copy for Alert story to test Chromatic ci
  components/Alert/__stories__/Alert.stories.js
Due: prettier --write, eslint --fix
