Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Update ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
Due: none

Update MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
Due: none

Update MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
Due: none

Update UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
Due: none

Update ResourceSearchForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
Due: none

Update ThemedReactSelect.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
Due: none

Update Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
Due: none

Update Footer.module.css
  components/Footer/Footer.module.css
Due: prettier --write, stylelint --fix

Update Footer.js
  components/Footer/Footer.js
Due: prettier --write, eslint --fix

Update Footer.test.js.snap
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

Update components/Footer/Footer.module.css
  components/Footer/Footer.module.css
Due: prettier --write, stylelint --fix

#1393 Add GuideStar seal to footer (#1394)
  components/Footer/Footer.js
  components/Footer/Footer.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Center Footer nav columns calin (#1395)
  components/Footer/Footer.js
  components/Footer/Footer.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Update get_involved.js
  pages/get_involved.js
Due: prettier --write, eslint --fix

Create blog.module.css
  styles/blog.module.css
Due: prettier --write, stylelint --fix

Update index.js
  pages/blog/index.js
Due: prettier --write, eslint --fix

Update themeMap.js
  common/styles/themeMap.js
Due: prettier --write, eslint --fix

dont use serverless target
  next.config.js
Due: prettier --write, eslint --fix

dont use serverless target (#1407)
  next.config.js
Due: prettier --write, eslint --fix

Update get_involved.js (#1396)
  pages/get_involved.js
Due: prettier --write, eslint --fix

Update blog.module.css
  styles/blog.module.css
Due: prettier --write, stylelint --fix

Update about.js
  pages/about.js
Due: prettier --write, eslint --fix

Update about.js (#1409)
  pages/about.js
Due: prettier --write, eslint --fix

Update faq.module.css
  styles/faq.module.css
Due: prettier --write, stylelint --fix

Update press.js
  pages/press.js
Due: prettier --write, eslint --fix

Update index.js
  components/Press/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
