Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

Add Briseida Pagador to challenge list (#1325)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Johnny Huang to challenge list (#1326)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Update names.js (#1327)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Update index.js (#1330)
  pages/index.js
Due: prettier --write, eslint --fix

Create index.js
  pages/blog/index.js
Due: prettier --write, eslint --fix

Update successStories.js
  common/constants/successStories.js
Due: prettier --write, eslint --fix

Update SuccessStory.module.css
  components/SuccessStory/SuccessStory.module.css
Due: prettier --write, stylelint --fix

Web Content Change: Landing Page [Success Stories] (#1331)
  common/constants/successStories.js
  components/SuccessStory/SuccessStory.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Update podcast.module.css
  styles/podcast.module.css
Due: prettier --write, stylelint --fix

Update styles/podcast.module.css
  styles/podcast.module.css
Due: prettier --write, stylelint --fix

Web Change: Podcast Page #1299 (#1332)
  styles/podcast.module.css
Due: prettier --write, stylelint --fix

Delete leadershipCircleMembers.js
  common/constants/leadershipCircleMembers.js
Due: prettier --write, eslint --fix

Update navigation.js
  common/constants/navigation.js
Due: prettier --write, eslint --fix

Delete leadership_circle.js
  pages/leadership_circle.js
Due: prettier --write, eslint --fix

Delete leadership_circle.module.css
  styles/leadership_circle.module.css
Due: prettier --write, stylelint --fix

Update Nav.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

Update sitemap.xml
  public/sitemap.xml
Due: none

fix typo
  .github/workflows/lighthouse.yml
Due: none

fix typo - for real!
  .github/workflows/lighthouse.yml
Due: none

add unset
  components/Form/Input/Input.module.css
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

merge conflict
  yarn.lock
Due: none

gets validation working, messes with styles
  components/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

added label controls
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

stylint
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

merge conflicts
  pages/profile/index.js
Due: prettier --write, eslint --fix

gets validation working, messes with styles
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add unset
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

checkbox component tests
  components/Form/Checkbox/__tests__/Checkbox.test.js
Due: prettier --write, eslint --fix

test tweak
  components/Form/Checkbox/__tests__/Checkbox.test.js
  components/Form/Checkbox/__tests__/__snapshots__/Checkbox.test.js.snap
Due: prettier --write, eslint --fix

commit to rebase
  components/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

adds testIDs, removed label logic
  common/constants/testIDs.js
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
Due: prettier --write, eslint --fix, stylelint --fix

commit to rebase
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/Form/Checkbox/__stories__/Checkbox.stories.js
  components/Form/Checkbox/__tests__/Checkbox.test.js
  components/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix, stylelint --fix

progress on checkbox
  common/constants/testIDs.js
  components/Form/Checkbox/Checkbox.js
  components/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

fix lint errors
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/RegistrationForm.module.css
Due: prettier --write, eslint --fix, stylelint --fix

implements feedback part 1
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/Form/Checkbox/__stories__/Checkbox.stories.js
  components/Form/Checkbox/__tests__/Checkbox.test.js
  components/Form/Checkbox/__tests__/__snapshots__/Checkbox.test.js.snap
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/__tests__/RegistrationForm.test.js
Due: prettier --write, eslint --fix, stylelint --fix

path to css in pages/profile
  pages/profile/index.js
Due: prettier --write, eslint --fix

Web Page Unpublish: Leadership Circle #1295 (#1333)
  common/constants/leadershipCircleMembers.js
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  pages/leadership_circle.js
  public/sitemap.xml
  styles/leadership_circle.module.css
Due: prettier --write, eslint --fix, stylelint --fix
