Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Fix wrong act warning
  test-utils/createSnapshotTest.js
Due: prettier --write, eslint --fix

Run with React 18
  components/Forms/RegistrationForm/__tests__/RegistrationForm.test.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Fix hydration mismatch in /join
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/LoginForm/LoginForm.js
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  pages/login.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Enable and fix missing act warnings
  components/Form/__tests__/MultiStepForm.test.js
  components/Forms/ChangePasswordForm/__tests__/ChangePasswordForm.test.js
  components/Forms/LoginForm/__tests__/LoginForm.test.js
  components/Forms/PasswordResetForm/__tests__/PasswordResetForm.test.js
  jest.setup.js
Due: prettier --write, eslint --fix

fix mergify
  .mergify.yml
Due: none

test push
  components/Modal/Modal.js
Due: prettier --write, eslint --fix

added temporary hover state
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

removed div
  components/Accordion/Accordion.js
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

test
  components/Accordion/Accordion.js
Due: prettier --write, eslint --fix

test
  components/Accordion/Accordion.js
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

updated tests to include JSX message
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

updated next test
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

test
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

passing all tests for accordion component
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

removed previous implementation
  components/Accordion/Accordion.js
Due: prettier --write, eslint --fix

temporary hotfix for code schools addition form
  pages/code_schools.js
Due: prettier --write, eslint --fix

updated unset to different css to get rid of button look
  components/Accordion/Accordion.module.css
Due: prettier --write, stylelint --fix

updated comments from PR
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

updated comments from PR
  components/Accordion/__tests__/Accordion.test.js
Due: prettier --write, eslint --fix

Update Modal.js
  components/Modal/Modal.js
Due: prettier --write, eslint --fix

removed bool from import
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

updated css to previous focus-visible
  components/Accordion/Accordion.module.css
Due: prettier --write, stylelint --fix

pr comments
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
Due: prettier --write, eslint --fix, stylelint --fix

added old visible css
  components/Accordion/Accordion.module.css
Due: prettier --write, stylelint --fix

removed unused dependencies
  package.json
  yarn.lock
Due: none

updated yarn.lock file
  yarn.lock
Due: none

Updating Accordion component to Radix Accordion (#1552)
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
  components/Accordion/__tests__/Accordion.test.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Revert "Updating Accordion component to Radix Accordion (#1552)"
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
  components/Accordion/__tests__/Accordion.test.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Revert "Updating Accordion component to Radix Accordion" (#1555)
  components/Accordion/Accordion.js
  components/Accordion/Accordion.module.css
  components/Accordion/__tests__/Accordion.test.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Add Damien Richcreek to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Damien Richcreek to challenge list (#1565)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Update about.js
  pages/about.js
Due: prettier --write, eslint --fix

Add Kevin Belk to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Kevin Belk to challenge list (#1568)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

update copyright snap
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

Update Footer snap copyright section (#1583)
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

use next/image
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/Nav.js
  components/Nav/NavMobile/NavMobile.js
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/Press/PressPhotos/PressPhotos.js
  components/Press/PressPhotos/__tests__/__snapshots__/PressPhotos.test.js.snap
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.js
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.js.snap
  next.config.js
  pages/challenge.js
  pages/events.js
  pages/get_involved.js
  pages/podcast.js
  pages/slack_guide.js
  public/favicon.png
Due: prettier --write, eslint --fix

update logo styles
  components/Nav/Nav.js
  components/Nav/Nav.module.css
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

installed radix UI dialog
  package.json
  yarn.lock
Due: none

replaced with dialog in progress
  components/Buttons/CloseButton/CloseButton.module.css
  components/Modal/Modal.js
  components/Modal/Modal.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
