Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

Add Kyle to challenge for the sake of a new commit
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

chore: improve sentry configuration
  package.json
  pages/_error.js
  yarn.lock
Due: prettier --write, eslint --fix

fix broken test
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

using expire method for reset
  pages/password_reset/resetpass
Due: none

grammar errors
  pages/event
Due: none

fix broken test (#1353)
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

display user vote direction
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/__tests__/ResourceCard.test.js
  cypress/integration/resources.spec.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Adds more details to sample blog post to provide better view of content layout
  blogArticles/hello-world.mdx
Due: none

Removed content to start clean up and prep for importing blog data
  pages/blog/index.js
Due: prettier --write, eslint --fix

modify e2e test & use props
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/__tests__/ResourceCard.test.js
  cypress/integration/resources.spec.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

enable skipped tests
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

Continuing initial config for .md/.mdx based blog
  next.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Continuing initial set up of blog resources
  blogArticles/hello-world.mdx
  jsconfig.json
  pages/api/blogIndex.js
  pages/blog/[article].js
  pages/blog/index.js
Due: prettier --write, eslint --fix

Initial api functions created for Blog
  blogArticles/hello-world.mdx
  package.json
  pages/api/blogIndex.js
  yarn.lock
Due: prettier --write, eslint --fix

Add Alexander Verhulst to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Alexander Verhulst to challenge list (#1365)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add OperationCode logo and replace Hacktoberfest Banner on README.md
  README.md
Due: none

Add OperationCode logo and replace Hacktoberfest Banner on README.md (#1366)
  README.md
Due: none

Added Blog component and changed blog post properties
  blogArticles/hello-world.md
  blogArticles/second.md
  blogArticles/second.mdx
  blogArticles/third.md
  blogArticles/third.mdx
  components/Blog/Blog.js
  components/Blog/Blog.module.css
  components/Blog/__stories__/Blog.stories.js
  components/Blog/__tests__/Blog.test.js
  jsconfig.json
  package.json
  pages/api/blogIndex.js
  pages/blog/[slug].js
  pages/blog/index.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Updates base file structure for blog
  components/Blog/Blog.js
  components/Blog/Blog.module.css
  components/Blog/BlogDefault.js
  components/Blog/BlogPost.js
  components/Blog/__stories__/Blog.stories.js
  components/Blog/__tests__/Blog.test.js
  pages/api/blogIndex.js
Due: prettier --write, eslint --fix, stylelint --fix

fix jsdocs
  components/Form/Select/Select.js
Due: prettier --write, eslint --fix

Add Christian Gonzalez to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Christian Gonzalez to challenge list (#1369)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

fix mergify .yml
  .mergify.yml
Due: none

Branding Page Updates Issue Complete Except For Step 9 and .eps
  .vscode/launch.json
  common/constants/navigation.js
  common/styles/styleExports.js
  components/Branding/ColorSection/ColorSection.js
  components/Branding/FontSection/FontSection.js
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/__tests__/LogoSection.test.js
  components/Cards/ResourceCard/ResourceCard.js
  components/Content/Content.js
  components/Nav/Nav.js
  components/Nav/NavListItem/NavListItem.js
  package.json
  pages/_app.js
  pages/about.js
  pages/branding.js
  pages/donate.js
  pages/sponsorship.js
  scripts/createComponent/builders.js
Due: prettier --write, eslint --fix

Delete launch.json
  .vscode/launch.json
Due: none

update snapshot test for new year 😂
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

run prettier against codebase
  internationalized-documentation/India/CODE_OF_CONDUCT_HI.md
  internationalized-documentation/Spanish/CODE_OF_CONDUCT_ES.md
Due: none

Everything works this time
  common/constants/navigation.js
  components/Branding/ColorSection/ColorSection.js
  components/Branding/FontSection/FontSection.js
  components/Branding/LogoSection/LogoSection.js
  package.json
  pages/about.js
  pages/branding.js
Due: prettier --write, eslint --fix

resolve format/lint issues
  common/constants/navigation.js
  components/Branding/ColorSection/ColorSection.js
  components/Branding/LogoSection/LogoSection.js
  package.json
  pages/branding.js
Due: prettier --write, eslint --fix

remove changes to color section of branding page
  components/Branding/ColorSection/ColorSection.js
Due: prettier --write, eslint --fix

update snapshot tests
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

Edits to branding page (#1379)
  common/constants/navigation.js
  components/Branding/ColorSection/ColorSection.js
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  pages/about.js
  pages/branding.js
Due: prettier --write, eslint --fix

bump node version
  .nvmrc
Due: none

update dependencies
  package.json
  yarn.lock
Due: none

update failing test and snapshot results
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/Nav/__tests__/Nav.test.js
Due: prettier --write, eslint --fix

fix improper form usages and prevent future similar mistakes
  .eslintrc.js
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/PasswordResetForm/PasswordResetForm.js
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/ResourceSearchForm.js
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
Due: prettier --write, eslint --fix

update node version to 14
  .nvmrc
Due: none

update more dependencies
  package.json
  yarn.lock
Due: none

fix broken test
  components/Nav/__tests__/Nav.test.js
Due: prettier --write, eslint --fix
