Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"]
}

include no-restricted-imports on twMerge, cx, and cva for ts files
  .eslintrc.js
Due: prettier --write, eslint --fix

remove code climate refs
  .circleci/config.yml
Due: none

remove code climate refs (#1896)
  .circleci/config.yml
Due: none

replace Alert css module with tailwind
  components/Alert/Alert.module.css
  components/Alert/Alert.tsx
  components/Alert/__tests__/__snapshots__/Alert.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

replace refs to twMerge and classnames. remove classnames pkg (#1894)
  .eslintrc.js
  components/Alert/Alert.tsx
  components/Badge/Badge.tsx
  components/Branding/LogoSection/LogoSection.tsx
  components/Buttons/Button/Button.tsx
  components/Buttons/CloseButton/CloseButton.tsx
  components/Buttons/LinkButton/LinkButton.tsx
  components/Cards/Card/Card.tsx
  components/Cards/FlatCard/FlatCard.js
  components/Cards/ImageCard/ImageCard.tsx
  components/Container/Container.tsx
  components/Drawer/Drawer.tsx
  components/Drawer/__tests__/__snapshots__/Drawer.test.tsx.snap
  components/Form/Checkbox/Checkbox.js
  components/Form/Input/Input.tsx
  components/Form/Label/Label.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Heading/Heading.tsx
  components/HeroBanner/HeroBanner.tsx
  components/InlineLoadingSpinner.tsx
  components/Modal/Modal.tsx
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavMobile/NavMobile.tsx
  components/OutboundLink/OutboundLink.tsx
  package.json
  pages/branding.tsx
  pages/chapter_leader.tsx
  pages/contact.tsx
  pages/corporate-training/index.tsx
  pages/get_involved.tsx
  pages/services.tsx
  scripts/createComponent/builders.js
  yarn.lock
Due: prettier --write, eslint --fix

replace LogoSection css module with tailwind
  components/Branding/LogoSection/LogoSection.module.css
  components/Branding/LogoSection/LogoSection.tsx
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

Chore/alert tw (#1898)
  components/Alert/Alert.module.css
  components/Alert/Alert.tsx
  components/Alert/__tests__/__snapshots__/Alert.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

convert logo section to tw (#1899)
  components/Branding/LogoSection/LogoSection.module.css
  components/Branding/LogoSection/LogoSection.tsx
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

clean up tw config. update snapshots. replace Button css module with tw
  components/Branding/FontSection/FontSection.tsx
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.tsx.snap
  components/Buttons/Button/Button.module.css
  components/Buttons/Button/Button.tsx
  components/Buttons/Button/__stories__/Button.stories.tsx
  components/Buttons/Button/__tests__/__snapshots__/Button.test.tsx.snap
  components/Buttons/LinkButton/LinkButton.tsx
  components/Buttons/LinkButton/__stories__/LinkButton.stories.tsx
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/Card/Card.tsx
  components/Cards/Card/__tests__/__snapshots__/Card.test.tsx.snap
  components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.tsx.snap
  components/FeaturedJobItem/FeaturedJobItem.tsx
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/Label/Label.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  components/HeroBanner/HeroBanner.tsx
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
  components/InlineLoadingSpinner.tsx
  components/Modal/Modal.tsx
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  pages/corporate-training/index.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

remove nulls from cva utils
  common/utils/cva.ts
Due: prettier --write, eslint --fix

replace CloseButton css modules to tw
  components/Buttons/CloseButton/CloseButton.module.css
  components/Buttons/CloseButton/CloseButton.tsx
  components/Buttons/CloseButton/__stories__/CloseButton.stories.tsx
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.tsx.snap
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

clean up Button props and update snapshots
  components/Buttons/Button/Button.tsx
  components/Buttons/Button/__stories__/Button.stories.tsx
  components/Buttons/Button/__tests__/__snapshots__/Button.test.tsx.snap
  components/Buttons/LinkButton/LinkButton.tsx
  components/Buttons/LinkButton/__stories__/LinkButton.stories.tsx
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Form/MultiStepForm.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
Due: prettier --write, eslint --fix

upgrade to cva@beta
  common/utils/cva.ts
  components/Buttons/Button/Button.tsx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix cva args
  common/utils/cva.ts
Due: prettier --write, eslint --fix

clean up tw config. update snapshots. replace Button css module with tw (#1900)
  common/utils/cva.ts
  components/Branding/FontSection/FontSection.tsx
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.tsx.snap
  components/Buttons/Button/Button.module.css
  components/Buttons/Button/Button.tsx
  components/Buttons/Button/__stories__/Button.stories.tsx
  components/Buttons/Button/__tests__/__snapshots__/Button.test.tsx.snap
  components/Buttons/LinkButton/LinkButton.tsx
  components/Buttons/LinkButton/__stories__/LinkButton.stories.tsx
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/Card/Card.tsx
  components/Cards/Card/__tests__/__snapshots__/Card.test.tsx.snap
  components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.tsx.snap
  components/FeaturedJobItem/FeaturedJobItem.tsx
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/Label/Label.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/MultiStepForm.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  components/HeroBanner/HeroBanner.tsx
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
  components/InlineLoadingSpinner.tsx
  components/Modal/Modal.tsx
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  package.json
  pages/corporate-training/index.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

set url to self in story
  components/PartnerLogoLink/__stories__/PartnerLogoLink.stories.tsx
Due: prettier --write, eslint --fix

clean up tw config. update snapshots. replace Button css module with tw (#1900)
  common/utils/cva.ts
  components/Buttons/Button/Button.tsx
  components/Buttons/Button/__stories__/Button.stories.tsx
  components/Buttons/Button/__tests__/__snapshots__/Button.test.tsx.snap
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.tsx.snap
  components/Buttons/LinkButton/LinkButton.tsx
  components/Buttons/LinkButton/__stories__/LinkButton.stories.tsx
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Form/MultiStepForm.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

update CloseButton cvas
  components/Buttons/CloseButton/CloseButton.tsx
Due: prettier --write, eslint --fix

update snapshots
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.tsx.snap
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
Due: none

Chore/close button tw (#1901)
  components/Buttons/CloseButton/CloseButton.module.css
  components/Buttons/CloseButton/CloseButton.tsx
  components/Buttons/CloseButton/__stories__/CloseButton.stories.tsx
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.tsx.snap
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

set url to self in story (#1903)
  components/PartnerLogoLink/__stories__/PartnerLogoLink.stories.tsx
Due: prettier --write, eslint --fix

replace container css module to tw. minor upgrade to tw
  components/Container/Container.module.css
  components/Container/Container.tsx
  components/Container/__tests__/__snapshots__/Container.test.tsx.snap
  components/Content/Content.tsx
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/HeroBanner/HeroBanner.tsx
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  package.json
  pages/branding.tsx
  pages/contact.tsx
  pages/index.tsx
  pages/policy.tsx
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

adjust min-h on pages
  components/Container/Container.tsx
  components/Container/__tests__/__snapshots__/Container.test.tsx.snap
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/HeroBanner/HeroBanner.tsx
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  pages/about.tsx
  pages/blog/index.tsx
  pages/challenge.tsx
  pages/chapter_leader.tsx
  pages/chapters.tsx
  pages/corporate-training/index.tsx
  pages/donate.tsx
  pages/faq.tsx
  pages/get_involved.tsx
  pages/history.tsx
  pages/jobs.tsx
  pages/join/form.tsx
  pages/join/index.tsx
  pages/join/success.tsx
  pages/podcast.tsx
  pages/press.tsx
  pages/project_rebuild.tsx
  pages/scholarship/index.tsx
  pages/services.tsx
  pages/slack_guide.tsx
  pages/sponsorship.tsx
  pages/team.tsx
  pages/terms.tsx
  pages/thank_you.tsx
  styles/thank_you.module.css
Due: prettier --write, eslint --fix, stylelint --fix

remove button text-shadow
  components/Buttons/Button/Button.tsx
  components/Buttons/Button/__tests__/__snapshots__/Button.test.tsx.snap
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
Due: prettier --write, eslint --fix

replace Checkbox css modules with tw. convert to ts and updated props
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/Form/Checkbox/Checkbox.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

fix check errors
  components/Form/Checkbox/Checkbox.tsx
Due: prettier --write, eslint --fix

replace Checkbox css modules with tw. convert to ts and updated props (#1905)
  components/Form/Checkbox/Checkbox.js
  components/Form/Checkbox/Checkbox.module.css
  components/Form/Checkbox/Checkbox.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

fix custom tw colors opacity. replace Input css module with tw
  common/styles/globals.css
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.module.css
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  tailwind.config.js
  tailwind.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

type cast hslWithOpacity values to string
  tailwind.config.ts
Due: prettier --write, eslint --fix

remove arbitrary values
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
Due: prettier --write, eslint --fix

fix custom tw colors opacity. replace Input css module with tw (#1906)
  common/styles/globals.css
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.module.css
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  tailwind.config.js
  tailwind.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

clean up Label props. removed css modules
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Label/Label.module.css
  components/Form/Label/Label.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
Due: prettier --write, eslint --fix, stylelint --fix

update snapshot
  components/Form/Label/__tests__/Label.test.js
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
Due: prettier --write, eslint --fix

use htmlFor on label
  components/Form/Input/Input.tsx
Due: prettier --write, eslint --fix

clean up Label props. removed css modules (#1907)
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Label/Label.module.css
  components/Form/Label/Label.tsx
  components/Form/Label/__tests__/Label.test.js
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
Due: prettier --write, eslint --fix, stylelint --fix

replace Select css modules with tw. removed sceens config
  components/Form/Select/Select.module.css
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/ThemedReactSelect.tsx
  components/Form/Select/__stories__/SelectMulti.stories.tsx
  components/Form/Select/__stories__/SelectSingle.stories.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  tailwind.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix error msg alignment
  components/Form/Select/SelectMulti.tsx
Due: prettier --write, eslint --fix

replace Select css modules with tw. removed sceens config (#1908)
  components/Form/Select/Select.module.css
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/ThemedReactSelect.tsx
  components/Form/Select/__stories__/SelectMulti.stories.tsx
  components/Form/Select/__stories__/SelectSingle.stories.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  tailwind.config.ts
Due: prettier --write, eslint --fix, stylelint --fix
