Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chapters page
  components/Content/Content.js
  components/Footer/Footer.module.css
  pages/chapters.js
  pages/chapters/kc.js
  styles/chapters.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update snapshots
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.js.snap
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
Due: none

Chapters (#1720)
  .storybook/preview.js
  common/constants/navigation.js
  common/styles/globals.css
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.js.snap
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Content/Content.js
  components/Footer/Footer.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  next.config.js
  pages/_app.js
  pages/chapters.js
  pages/podcast.js
  postcss.config.js
  styles/kc.module.css
  styles/podcast.module.css
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

fix formatting
  .eslintrc.js
Due: prettier --write, eslint --fix

upgrade storybook again
  package.json
  yarn.lock
Due: none

fix runtime error in storybook
  .storybook/preview.js
Due: prettier --write, eslint --fix

fix flatcard
  components/Cards/FlatCard/FlatCard.js
Due: prettier --write, eslint --fix

fix cypress tests
  cypress/downloads/downloads.html
  cypress/e2e/hashlink.spec.js
  cypress/e2e/join.spec.js
Due: prettier --write, eslint --fix

update lockfile
  yarn.lock
Due: none

https://github.com/storybookjs/storybook/issues/22431#issuecomment-1630086092
  package.json
  yarn.lock
Due: none

style fixes
  .storybook/OCTheme.js
  .storybook/main.js
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.js.snap
  components/Cards/FlatCard/FlatCard.js
  components/Cards/ImageCard/ImageCard.js
  components/Cards/ImageCard/ImageCard.module.css
  components/Cards/ResourceCard/ResourceCard.module.css
  components/Cards/SchoolCard/SchoolCard.module.css
  components/FeaturedJobItem/FeaturedJobItem.module.css
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/OutboundLink.module.css
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
  components/PartnerLogoLink/PartnerLogoLink.js
  components/PartnerLogoLink/PartnerLogoLink.module.css
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Storybook7 migration (#1708)
  .eslintrc.js
  .nvmrc
  .storybook/OCTheme.js
  .storybook/main.js
  .storybook/preview.js
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.js.snap
  components/Cards/FlatCard/FlatCard.js
  components/Cards/ImageCard/ImageCard.js
  components/Cards/ImageCard/ImageCard.module.css
  components/Cards/ResourceCard/ResourceCard.module.css
  components/Cards/SchoolCard/SchoolCard.module.css
  components/FeaturedJobItem/FeaturedJobItem.module.css
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Modal/__stories__/Modal.stories.js
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/OutboundLink.module.css
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
  components/PartnerLogoLink/PartnerLogoLink.js
  components/PartnerLogoLink/PartnerLogoLink.module.css
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
  components/ProgressIndicator/__stories__/ProgressIndicator.stories.js
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
  cypress/downloads/downloads.html
  cypress/e2e/code_schools.spec.js
  cypress/e2e/hashlink.spec.js
  cypress/e2e/join.spec.js
  cypress/e2e/modal.spec.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Add Andrew Lester to the operation code challenge names
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Andrew Lester to the operation code challenge names (#1731)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Correct <lastmod> attribute for sitemap entries
  public/sitemap.xml
Due: none

Regenerate the sitemap
  public/sitemap.xml
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix

Add a few older pages to site map ignore and regen the sitemap
  public/sitemap.xml
  scripts/SITEMAP_IGNORE.json
Due: none

Add sitemap to robots.txt
  public/robots.txt
Due: none

Remove autogenerated warning from sitemap
  public/sitemap.xml
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix

Switch to next-sitemap
  next-sitemap.config.js
  package.json
  scripts/SITEMAP_IGNORE.json
  yarn.lock
Due: prettier --write, eslint --fix

Untrack the sitemap from git
  .gitignore
  next-sitemap.config.js
  public/sitemap.xml
Due: prettier --write, eslint --fix

Remove sitemap generation script
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix

Add `next-sitemap` dep to correct `<lastmod>` tag values for sitemap entries (#1732)
  .gitignore
  next-sitemap.config.js
  package.json
  public/robots.txt
  public/sitemap.xml
  scripts/SITEMAP_IGNORE.json
  scripts/generate-sitemap.js
  yarn.lock
Due: prettier --write, eslint --fix

Converted all the css to tailwind css of ErrorDisplay page
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/ErrorDisplay.module.css
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Converted all the css to tailwind css of ErrorDisplay page
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
Due: none

Converted all css to tailwind css
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/ErrorDisplay.module.css
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Replace all styling with Tailwind
  .lintstagedrc
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  cypress/downloads/downloads.html
  tailwind.config.js
Due: prettier --write, eslint --fix

Replace all styling with Tailwind
  .gitignore
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
Due: prettier --write, eslint --fix

Replace all styling with Tailwind on ErrorDisplay page (#1736)
  .gitignore
  .lintstagedrc
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/ErrorDisplay.module.css
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  cypress/downloads/downloads.html
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Add Esther Lee to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Khush Makadia to challenge list.
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Converted all the css into tailwind css of Badge component
  components/Badge/Badge.js
  components/Badge/Badge.module.css
  components/Badge/__tests__/__snapshots__/Badge.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Add Esther Lee to challenge list (#1737)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Khush Makadia to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Khush Makadia to challenge list (#1740)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Converted all the css into Tailwind css of Badge component
  components/Badge/Badge.js
  components/Badge/Badge.module.css
  components/Badge/__tests__/__snapshots__/Badge.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Update components/Badge/Badge.js
  components/Badge/Badge.js
Due: prettier --write, eslint --fix

Fixed syntax error
  components/Badge/Badge.js
  components/Badge/__tests__/__snapshots__/Badge.test.js.snap
Due: prettier --write, eslint --fix

remove important config tailwind
  tailwind.config.js
Due: prettier --write, eslint --fix

update ValueCard to use tailwind
  components/Cards/ValueCard/ValueCard.js
  components/Cards/ValueCard/ValueCard.module.css
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
