Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Upgrade Cypress to v10 (#1649)
  cypress.config.js
  cypress.json
  cypress/e2e/code_schools.spec.js
  cypress/e2e/faq.spec.js
  cypress/e2e/hashlink.spec.js
  cypress/e2e/join.spec.js
  cypress/e2e/login.spec.js
  cypress/e2e/modal.spec.js
  cypress/e2e/password_reset/confirm.spec.js
  cypress/e2e/password_reset/index.spec.js
  cypress/e2e/podcast.spec.js
  cypress/e2e/profile/change_password.spec.js
  cypress/e2e/profile/update.spec.js
  cypress/e2e/resources.spec.js
  cypress/e2e/team.spec.js
  cypress/plugins/index.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

add "project rebuild" to nav
  common/constants/navigation.js
Due: prettier --write, eslint --fix

finish page
  pages/project_rebuild.js
  styles/project_rebuild.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update snapshot
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

adjust website description default AND adjust description for project rebuild page
  components/head.js
  pages/project_rebuild.js
Due: prettier --write, eslint --fix

Create "Project Rebuild" page (#1637)
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/head.js
  pages/project_rebuild.js
  styles/project_rebuild.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update to react 18
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/SocialLoginGroup/__tests__/__snapshots__/SocialLoginGroup.test.js.snap
  cypress/e2e/profile/change_password.spec.js
  cypress/e2e/profile/update.spec.js
  cypress/support/commands.js
  package.json
  pages/podcast.js
  yarn.lock
Due: prettier --write, eslint --fix

fix hydration issue with nav component when user is logged in
  components/Nav/Nav.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  cypress/e2e/profile/change_password.spec.js
  cypress/e2e/profile/update.spec.js
  cypress/support/commands.js
Due: prettier --write, eslint --fix

Update to react 18 (#1650)
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/Nav/Nav.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/SocialLoginGroup/__tests__/__snapshots__/SocialLoginGroup.test.js.snap
  package.json
  pages/podcast.js
  yarn.lock
Due: prettier --write, eslint --fix

remove events page
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  pages/about.js
  pages/events.js
  pages/services.js
  public/sitemap.xml
  styles/events.module.css
Due: prettier --write, eslint --fix, stylelint --fix

simplify
  pages/about.js
Due: prettier --write, eslint --fix

Remove events page (#1664)
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  pages/about.js
  pages/events.js
  pages/services.js
  public/sitemap.xml
  styles/events.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Updated logo in nav bar and footer
  components/Footer/Footer.js
  components/Nav/Nav.js
  public/static/images/logo.svg
Due: prettier --write, eslint --fix

Test files for changed logos
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

Updated logo to svg format (#1675)
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/Nav.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  public/static/images/logo.svg
Due: prettier --write, eslint --fix

update lockfile
  yarn.lock
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

update linkedin link
  components/SocialMedia/SocialMedia.js
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.js.snap
Due: prettier --write, eslint --fix

feat: updating donation form to embed from Virtuous CRM
  pages/donate.js
Due: prettier --write, eslint --fix

refactor: donation form component
  pages/donate.js
Due: prettier --write, eslint --fix

fix: donation form component
  pages/donate.js
Due: prettier --write, eslint --fix

fix: updates based on pr feedback
  pages/donate.js
Due: prettier --write, eslint --fix

try script in body
  pages/donate.js
Due: prettier --write, eslint --fix

chore: resolves lint errors
  pages/donate.js
Due: prettier --write, eslint --fix

feat: updating donation form to version from Virtuous CRM (#1689)
  pages/donate.js
Due: prettier --write, eslint --fix

fix: updates scholarship link
  pages/profile/index.js
Due: prettier --write, eslint --fix

fix: updates scholarship link (#1692)
  pages/profile/index.js
Due: prettier --write, eslint --fix

feat: implements onboarding form
  pages/join.js
Due: prettier --write, eslint --fix

feat: removes profile-related functionality
  common/constants/api.js
  common/constants/navigation.js
  common/utils/auth-utils.js
  cypress/e2e/join.spec.js
  cypress/e2e/login.spec.js
  cypress/e2e/password_reset/confirm.spec.js
  cypress/e2e/password_reset/index.spec.js
  cypress/e2e/profile/change_password.spec.js
  cypress/e2e/profile/update.spec.js
  next.config.js
  pages/join.js
  pages/login.js
  pages/password_reset/confirm.js
  pages/password_reset/index.js
  pages/profile/change_password.js
  pages/profile/index.js
  pages/profile/update.js
Due: prettier --write, eslint --fix

just for testing
  README.md
Due: none

again
  README.md
Due: none

feat: updates api and navigation files to remove profile and user related code
  common/constants/api.js
  common/constants/navigation.js
Due: prettier --write, eslint --fix

fix: resolves lint errors
  common/constants/api.js
  common/constants/navigation.js
  pages/join.js
Due: prettier --write, eslint --fix

fix: resolves additional lint errors
  common/constants/navigation.js
  pages/join.js
Due: prettier --write, eslint --fix

fix: resolves additional lint errors
  pages/join.js
Due: prettier --write, eslint --fix

update sitemap
  public/sitemap.xml
  scripts/SITEMAP_IGNORE.json
Due: none

update snapshots
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
