Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

Whitelist Next API methods from abbreviations lint rule
  .eslintrc.js
Due: prettier --write, eslint --fix

Use SSG for /code_schools
  pages/code_schools.js
Due: prettier --write, eslint --fix

Remove irrelavant tests
  cypress/integration/code_schools.spec.js
Due: prettier --write, eslint --fix

working on integrating routes w pagination
  common/constants/api.js
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  package.json
  pages/resources/[page].js
Due: prettier --write, eslint --fix

api for search
  common/constants/api.js
Due: prettier --write, eslint --fix

working to integrate routes w pagination
  common/constants/api.js
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

pagination routing
  common/constants/api.js
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

working on integrating search with pag
  common/constants/api.js
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Fix typos in CONTRIBUTING
  CONTRIBUTING.md
Due: none

working on pag / route integration
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

prop types
  components/Pagination/PaginationItem/PaginationItem.js
Due: prettier --write, eslint --fix

tests
  components/Pagination/PaginationItem/__tests__/__snapshots__/PaginationItem.test.js.snap
  components/Pagination/__stories__/__snapshots__/Pagination.stories.storyshot
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
Due: none

get rid of search param
  components/Pagination/PaginationItem/PaginationItem.js
Due: prettier --write, eslint --fix

get gIP to utilize searchResourcesPromise
  pages/resources/[page].js
Due: prettier --write, eslint --fix

trying to eliminate anything server side/gIP
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  components/Pagination/PaginationItem/__tests__/__snapshots__/PaginationItem.test.js.snap
  components/Pagination/__stories__/__snapshots__/Pagination.stories.storyshot
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Improve lint rule config
  pages/.eslintrc
  pages/code_schools.js
  pages/login.js
  pages/password_reset/confirm.js
  pages/resources/index.js
Due: prettier --write, eslint --fix

Avoid 404s in local development
  pages/resources/index.js
Due: prettier --write, eslint --fix

Add new API methods
  common/constants/api.js
Due: prettier --write, eslint --fix

Persist query if page 1
  pages/resources/index.js
Due: prettier --write, eslint --fix

Maintain query params in pagination links
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
Due: prettier --write, eslint --fix

Convert resources page to client-side data fetching
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Update tests and stories
  components/Pagination/PaginationItem/__tests__/PaginationItem.test.js
  components/Pagination/__stories__/Pagination.stories.js
  components/Pagination/__tests__/Pagination.test.js
Due: prettier --write, eslint --fix

match task/client-side-data-fetch-for-resources
  common/constants/api.js
  components/Pagination/Pagination.js
  components/Pagination/PaginationItem/PaginationItem.js
  components/Pagination/PaginationItem/__tests__/PaginationItem.test.js
  components/Pagination/PaginationItem/__tests__/__snapshots__/PaginationItem.test.js.snap
  components/Pagination/__stories__/Pagination.stories.js
  components/Pagination/__stories__/__snapshots__/Pagination.stories.storyshot
  components/Pagination/__tests__/Pagination.test.js
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
  package.json
  pages/.eslintrc
  pages/code_schools.js
  pages/login.js
  pages/password_reset/confirm.js
  pages/resources/[page].js
  pages/resources/index.js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

create a handler for endpoint
  common/constants/api.js
  now.json
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Create /donate and /thank_you
  pages/donate.js
  pages/styles/donate.module.css
  pages/styles/thank_you.module.css
  pages/thank_you.js
Due: prettier --write, eslint --fix, stylelint --fix

No more redirecting donate and fix resource redirect
  now.json
Due: none

Fix references to external donation page
  common/constants/navigation.js
  common/constants/urls.js
  components/Nav/Nav.js
  components/Nav/NavMobile/NavMobile.js
  components/ReusableSections/DonateSection/DonateSection.js
  pages/events.js
  pages/faq.js
  pages/index.js
  pages/sponsorship.js
Due: prettier --write, eslint --fix

Update snapshots
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/LinkButton/LinkButton.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
  components/ReusableSections/__stories__/__snapshots__/ReusableSections.stories.storyshot
Due: prettier --write, eslint --fix

Dont crawl /thank_you page
  public/robots.txt
Due: none

Remove unnecessary stuff
  pages/donate.js
  pages/styles/donate.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Update sitemap and handle dynamic routes in generator
  public/sitemap.xml
  scripts/SITEMAP_IGNORE.json
  scripts/generate-sitemap.js
Due: prettier --write, eslint --fix

Ensure all options can be clicked on mobile nav
  components/Nav/NavMobile/NavMobile.module.css
Due: prettier --write, stylelint --fix

Rename Zeit -> Vercel
  common/constants/partners.js
Due: prettier --write, eslint --fix

Simplify tests and update storyshots
  components/ReusableSections/SponsorsSection/__tests__/SponsorsSection.test.js
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.js.snap
  components/ReusableSections/__stories__/__snapshots__/ReusableSections.stories.storyshot
Due: prettier --write, eslint --fix

Add ad and gtm env vars
  common/config/environment.js
  pages/_document.js
Due: prettier --write, eslint --fix

Ad a conversionEvent method to gtag module
  common/utils/thirdParty/gtag.js
Due: prettier --write, eslint --fix

Rename method
  pages/thank_you.js
Due: prettier --write, eslint --fix

Use conversion event for successful registration + donation
  pages/join.js
  pages/thank_you.js
Due: prettier --write, eslint --fix
