Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

Pass languages array to card
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Render metadata on ResourceCard
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/ResourceCard.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Update stories and storyshots
  components/Cards/ResourceCard/__stories__/ResourceCard.stories.js
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
Due: prettier --write, eslint --fix

Remove references to master in place of new default branch
  CONTRIBUTING.md
  MAINTAINERS.md
  README.md
  common/utils/thirdParty/gtag.js
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
  components/Timeline/historyData.js
  package.json
  pages/_app.js
  pages/branding.js
  pages/challenge.js
Due: prettier --write, eslint --fix

Update snapshot
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Pin ESLint lower
  package.json
  yarn.lock
Due: none

Adjust custom Cypress attribute check command
  cypress/support/commands.js
Due: prettier --write, eslint --fix

Update deps (#1137)
  cypress/support/commands.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

add powered by algolia note
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

align note text with search bar
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Ensure OutboundLink icon Inherits size and color
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/OutboundLink.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Style tweaks
  pages/resources/[page].js
  pages/styles/resources.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Re-enable upvote/downvote buttons
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/ResourceCard.module.css
  pages/resources/[page].js
Due: prettier --write, eslint --fix, stylelint --fix

Update deps
  package.json
  yarn.lock
Due: none

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

Update snapshot tests
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
Due: none

Style tweaks on resources (#1139)
  components/Cards/ResourceCard/ResourceCard.js
  components/Cards/ResourceCard/ResourceCard.module.css
  components/Cards/ResourceCard/__stories__/__snapshots__/ResourceCard.stories.storyshot
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/OutboundLink.module.css
  package.json
  pages/resources/[page].js
  pages/styles/resources.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

adjust starting page # when using search endpoint
  pages/resources/[page].js
Due: prettier --write, eslint --fix

Fix broken links to Storybook badge asset
  CONTRIBUTING.md
  README.md
Due: none

Fix broken links to Storybook badge asset (#1144)
  CONTRIBUTING.md
  README.md
Due: none

Remove debug commands
  .circleci/config.yml
Due: none

Retrives user information to display to profile page
  pages/profile/index.js
Due: prettier --write, eslint --fix

Update dependencies (#1158)
  package.json
  yarn.lock
Due: none

Add intellisense for lint config
  .eslintrc.js
Due: prettier --write, eslint --fix

Starts style of the profile page
  pages/profile/index.js
Due: prettier --write, eslint --fix

Allows logged in user to view their profile
  pages/profile/index.js
Due: prettier --write, eslint --fix

Update config.yml
  .circleci/config.yml
Due: none

Update Cypress orb version
  .circleci/config.yml
Due: none

Fix Circle config (#1162)
  .circleci/config.yml
Due: none

Fix failing integration test
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

Remove unused code
  next.config.js
Due: prettier --write, eslint --fix

Fix typo
  common/utils/auth-utils.js
Due: prettier --write, eslint --fix

Fix style bug
  pages/about.js
  pages/index.js
  pages/styles/about.module.css
  pages/styles/index.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Always prerender links
  common/constants/navigation.js
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/LinkButton/LinkButton.js
  components/Nav/Nav.js
  components/Nav/NavListItem/NavListItem.js
  components/Nav/NavListItem/__tests__/NavListItem.test.js
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.js.snap
  components/Nav/NavMobile/NavMobile.js
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
  pages/profile/index.js
Due: prettier --write, eslint --fix
