Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Delete CivicXBadge.module.css
  components/Press/CivicXBadge/CivicXBadge.module.css
Due: prettier --write, stylelint --fix

Delete CivicXBadge.js
  components/Press/CivicXBadge/CivicXBadge.js
Due: prettier --write, eslint --fix

Delete CivicXBadge.test.js
  components/Press/CivicXBadge/__tests__/CivicXBadge.test.js
Due: prettier --write, eslint --fix

Delete CivicXBadge.test.js.snap
  components/Press/CivicXBadge/__tests__/__snapshots__/CivicXBadge.test.js.snap
Due: none

Update press.js (#1411)
  components/Press/CivicXBadge/CivicXBadge.js
  components/Press/CivicXBadge/CivicXBadge.module.css
  components/Press/CivicXBadge/__tests__/CivicXBadge.test.js
  components/Press/CivicXBadge/__tests__/__snapshots__/CivicXBadge.test.js.snap
  components/Press/index.js
  pages/press.js
Due: prettier --write, eslint --fix, stylelint --fix

Update TimelineNav.test.js.snap
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
Due: none

Update historyData.js
  components/Timeline/historyData.js
Due: prettier --write, eslint --fix

Update Timeline.test.js.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
Due: none

Update faq.module.css
  styles/faq.module.css
Due: prettier --write, stylelint --fix

Update faq.module.css (#1410)
  styles/faq.module.css
Due: prettier --write, stylelint --fix

Update blog.module.css
  styles/blog.module.css
Due: prettier --write, stylelint --fix

Update index.js
  pages/blog/index.js
Due: prettier --write, eslint --fix

#1115 create blog index page UI (#1408)
  common/styles/themeMap.js
  pages/blog/index.js
  styles/blog.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add slack guide
  components/Forms/RegistrationForm/RegistrationForm.js
  pages/slack_guide.js
Due: prettier --write, eslint --fix

Update yarn.lock
  yarn.lock
Due: none

Create slack_guide.module.css
  styles/slack_guide.module.css
Due: prettier --write, stylelint --fix

Update slack_guide.js
  pages/slack_guide.js
Due: prettier --write, eslint --fix

Update package.json
  package.json
Due: none

Update RegistrationForm.js
  components/Forms/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

'remove-YouTubeVideo-component'
  components/YouTubeVideo/YouTubeVideo.js
  components/YouTubeVideo/YouTubeVideo.module.css
  components/YouTubeVideo/__stories__/YouTubeVideo.stories.js
  components/YouTubeVideo/__tests__/YouTubeVideo.test.js
  components/YouTubeVideo/__tests__/__snapshots__/YouTubeVideo.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

delete-YouTubeVideo-component (#1416)
  components/YouTubeVideo/YouTubeVideo.js
  components/YouTubeVideo/YouTubeVideo.module.css
  components/YouTubeVideo/__stories__/YouTubeVideo.stories.js
  components/YouTubeVideo/__tests__/YouTubeVideo.test.js
  components/YouTubeVideo/__tests__/__snapshots__/YouTubeVideo.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

create-major-milestones-placeholders
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
  components/Timeline/historyData.js
Due: prettier --write, eslint --fix

add Sean Mangosing to names.js
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

add Sean Mangosing to names.js (#1419)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

change " to '
  pages/slack_guide.js
Due: prettier --write, eslint --fix

revert husky@5.1.3 to husky@4.3.8
  package.json
  yarn.lock
Due: none

git log
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix

Update pages/slack_guide.js
  pages/slack_guide.js
Due: prettier --write, eslint --fix

delete Outbound and Content imports
  components/Forms/RegistrationForm/RegistrationForm.js
  pages/slack_guide.js
Due: prettier --write, eslint --fix

delete slack guide page style sheet
  pages/slack_guide.js
  styles/slack_guide.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Slack guide page (#1415)
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  package.json
  pages/slack_guide.js
  yarn.lock
Due: prettier --write, eslint --fix

create slack guide page faq placeholders
  pages/slack_guide.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
