Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Add oss gratitude section in README
  README.md
Due: none

ensure window.gtag is available
  common/utils/thirdParty/gtag.js
Due: prettier --write, eslint --fix

download chromatic dependencies
  package.json
  yarn.lock
Due: none

add Chromatic GH Action
  .github/workflows/chromatic.yml
Due: none

Fix #1232 Call gtag only when it available (#1244)
  common/utils/thirdParty/gtag.js
Due: prettier --write, eslint --fix

rename action
  .github/workflows/chromatic.yml
Due: none

add function onContextMenu
  components/Nav/Nav.js
Due: prettier --write, eslint --fix

dont do chromatic on master pushes
  .github/workflows/chromatic.yml
Due: none

Update function no args
  components/Nav/Nav.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

Add chromatic (#1258)
  .github/workflows/chromatic.yml
  README.md
  package.json
  yarn.lock
Due: none

fix readme images
  README.md
  public/static/images/sentry.svg
  public/static/images/vercel.svg
Due: none

forreal fix readme images
  README.md
  public/static/images/sentry.svg
  public/static/images/vercel.svg
Due: none

🤷‍♂️
  public/static/images/vercel.svg
Due: none

add links to gratitude section in readme
  README.md
  public/static/images/vercel.svg
Due: none

add chromatic to sponsors section
  common/constants/partners.js
Due: prettier --write, eslint --fix

fix image for chromatic
  common/constants/partners.js
Due: prettier --write, eslint --fix

Add Chromatic to sponsors section (#1260)
  common/constants/partners.js
Due: prettier --write, eslint --fix

Navigation right click (#1259)
  components/Nav/Nav.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

chore(#1229): setup path aliases in cypress config
  .babelrc
  .babelrc.js
  cypress/plugins/index.js
  package.json
  pathAliases.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(#1229): replace relative imports with path aliases in cypress
  cypress/integration/faq.spec.js
  cypress/integration/join.spec.js
  cypress/integration/login.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/password_reset/index.spec.js
  cypress/integration/profile/change_password.spec.js
  cypress/integration/profile/update.spec.js
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

Chore/e2e path aliases (#1243)
  .babelrc
  .babelrc.js
  cypress/integration/faq.spec.js
  cypress/integration/join.spec.js
  cypress/integration/login.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/password_reset/index.spec.js
  cypress/integration/profile/change_password.spec.js
  cypress/integration/profile/update.spec.js
  cypress/integration/resources.spec.js
  cypress/plugins/index.js
  package.json
  pathAliases.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(#1116): Add linting for mdx files
  .eslintrc.js
  blogArticles/hello-world.mdx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

rebase, update yarn.lock
  yarn.lock
Due: none

Prevent dropdown to close on code_school page
  pages/code_schools.js
Due: prettier --write, eslint --fix

Refactor
  components/Form/Select/Select.js
  components/Form/Select/ThemedReactSelect.js
  pages/code_schools.js
Due: prettier --write, eslint --fix

feat(#1116): Add linting for mdx files (#1261)
  .eslintrc.js
  blogArticles/hello-world.mdx
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update formik to v2
  components/Form/Input/Input.js
  components/Form/Input/__tests__/Input.test.js
  components/Form/MultiStepForm.js
  components/Form/Select/Select.js
  components/Form/Select/__tests__/Select.test.js
  package.json
  pages/resources/[page].js
  yarn.lock
Due: prettier --write, eslint --fix

feat(#1141): create <SurveyForm /> based on <RegistrationForm /> and create a new public route /survey
  components/SurveyForm/SurveyForm.js
  components/SurveyForm/SurveyForm.module.css
  components/SurveyForm/__tests__/SurveyForm.test.js
  components/SurveyForm/__tests__/__snapshots__/SurveyForm.test.js.snap
  pages/survey.js
Due: prettier --write, eslint --fix, stylelint --fix

create modal login on resources page
  common/constants/navigation.js
  components/Cards/Card/Card.module.css
  components/Cards/ResourceCard/ResourceCard.js
  components/LoginForm/LoginForm.js
  components/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Modal/Modal.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.js.snap
  pages/profile/index.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix, stylelint --fix

added more testing for modal and loginform
  common/constants/testIDs.js
  components/LoginForm/LoginForm.js
  components/LoginForm/__tests__/LoginForm.test.js
  components/Modal/Modal.js
  components/Modal/__tests__/Modal.test.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  pages/resources/[page].js
Due: prettier --write, eslint --fix

have columnsContainer use entire width available within it's parent element
  components/Content/Content.module.css
Due: prettier --write, stylelint --fix

Removed Comment
  cypress/integration/profile/update.spec.js
Due: prettier --write, eslint --fix

Add Nithin KS to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Nithin KS to challenge list (#1266)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

remove maintainer file
  CONTRIBUTING_TO_DESIGN.md
  MAINTAINERS.md
  README.md
Due: none

remove maintainer file (#1267)
  CONTRIBUTING_TO_DESIGN.md
  MAINTAINERS.md
  README.md
Due: none

auto-accept changes for Chromatic on main
  .github/workflows/chromatic.yml
Due: none

fix broken focus locking during modal rendering
  pages/_app.js
Due: prettier --write, eslint --fix

remove unnecessary css selector
  pages/code_schools.js
  pages/styles/code_schools.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix and update/add tests
  common/constants/testIDs.js
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/__tests__/SchoolCard.test.js
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/Modal/Modal.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  cypress/integration/code_schools.spec.js
  cypress/integration/modal.spec.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
