Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Converted all the css into Tailwind css of Container component
  tailwind.config.js
Due: prettier --write, eslint --fix

Converted all the css into Tailwind css of Container component
  components/Content/__tests__/__snapshots__/Content.test.js.snap
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: none

docs: grammatical error fixed
  CONTRIBUTING.md
Due: none

docs: grammatical error fixed (#1751)
  CONTRIBUTING.md
Due: none

Replaced all the css into tailwind css on Content component
  components/Content/Content.js
  components/Content/__tests__/__snapshots__/Content.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on Content component
  components/Content/Content.module.css
Due: prettier --write, stylelint --fix

Updated the twitter logo to X
  public/static/images/icons/twitter_logo.svg
Due: none

Replaced all the css into tailwind css on Content component (#1754)
  components/Content/Content.js
  components/Content/Content.module.css
  components/Content/__tests__/__snapshots__/Content.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FeaturedJobItem component
  components/FeaturedJobItem/FeaturedJobItem.js
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on FeaturedJobItem component
  components/FeaturedJobItem/FeaturedJobItem.module.css
Due: prettier --write, stylelint --fix

Replaced all the css into tailwind css on FeaturedJobItem component (#1757)
  components/FeaturedJobItem/FeaturedJobItem.js
  components/FeaturedJobItem/FeaturedJobItem.module.css
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ScreenReaderOnly component
  components/ScreenReaderOnly/ScreenReaderOnly.js
  components/ScreenReaderOnly/ScreenReaderOnly.module.css
  components/ScreenReaderOnly/__tests__/__snapshots__/ScreenReaderOnly.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ScreenReaderOnly component (#1758)
  components/ScreenReaderOnly/ScreenReaderOnly.js
  components/ScreenReaderOnly/ScreenReaderOnly.module.css
  components/ScreenReaderOnly/__tests__/__snapshots__/ScreenReaderOnly.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on Card component
  components/Cards/Card/Card.js
  components/Cards/Card/__tests__/__snapshots__/Card.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on Card component
  components/Cards/Card/Card.module.css
Due: prettier --write, stylelint --fix

Replaced all the css into tailwind css on Card component (#1762)
  components/Cards/Card/Card.js
  components/Cards/Card/Card.module.css
  components/Cards/Card/__tests__/__snapshots__/Card.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on Pagination component
  components/Pagination/Pagination.js
  components/Pagination/Pagination.module.css
  components/Pagination/PaginationItem/__tests__/__snapshots__/PaginationItem.test.js.snap
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on Pagination component
  components/Pagination/Pagination.js
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on Pagination component (#1763)
  components/Pagination/Pagination.js
  components/Pagination/Pagination.module.css
  components/Pagination/PaginationItem/__tests__/__snapshots__/PaginationItem.test.js.snap
  components/Pagination/__tests__/__snapshots__/Pagination.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ParrtnerLogoLink component
  components/PartnerLogoLink/PartnerLogoLink.js
  components/PartnerLogoLink/PartnerLogoLink.module.css
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ParrtnerLogoLink component
  components/PartnerLogoLink/PartnerLogoLink.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on PartnerLogoLink component (#1764)
  components/PartnerLogoLink/PartnerLogoLink.js
  components/PartnerLogoLink/PartnerLogoLink.module.css
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ProgressIndicator component
  components/ProgressIndicator/ProgressIndicator.js
  components/ProgressIndicator/ProgressIndicator.module.css
  components/ProgressIndicator/__tests__/__snapshots__/ProgressIndicator.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Fix 404 page and podcast page
  components/ErrorDisplay/ErrorDisplay.js
  next.config.js
  pages/podcast.js
Due: prettier --write, eslint --fix

update snapshot tests
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.js.snap
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.js.snap
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.js.snap
  components/Content/__tests__/__snapshots__/Content.test.js.snap
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Heading/__tests__/__snapshots__/Heading.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
Due: none

Fix 404 page and podcast page (#1766)
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.js.snap
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.js.snap
  components/Cards/ValueCard/__tests__/__snapshots__/ValueCard.test.js.snap
  components/Content/__tests__/__snapshots__/Content.test.js.snap
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Heading/__tests__/__snapshots__/Heading.test.js.snap
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
  next.config.js
  pages/podcast.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on ProgressIndicator component
  components/ProgressIndicator/ProgressIndicator.js
  components/ProgressIndicator/__tests__/__snapshots__/ProgressIndicator.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on ProgressIndicator component
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
Due: none

Replaced all the css into tailwind css on ProgressIndicator component (#1765)
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/ProgressIndicator/ProgressIndicator.js
  components/ProgressIndicator/ProgressIndicator.module.css
  components/ProgressIndicator/__tests__/__snapshots__/ProgressIndicator.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on SuccessStory component
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/SuccessStory.module.css
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on SuccessStory component
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on SuccessStory component (#1769)
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/SuccessStory.module.css
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
