Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

update log
  pages/api/registration/update.ts
Due: prettier --write, eslint --fix

update timeout
  common/utils/api-utils.ts
  pages/api/registration/update.ts
Due: prettier --write, eslint --fix

dont patch twice on last step
  components/Forms/UpdateProfileForm/UpdateProfileForm.tsx
Due: prettier --write, eslint --fix

attempt fix (#1950)
  common/utils/api-utils.ts
  components/Forms/UpdateProfileForm/UpdateProfileForm.tsx
  pages/api/registration/update.ts
Due: prettier --write, eslint --fix

fix: Replace 'any' with 'unknown' in SVGOPlugin interface
  common/config/svgo.ts
Due: prettier --write, eslint --fix

refactor: Remove redundant type annotations and add proper ProcessEnv typing
  common/config/environment.ts
  common/constants/unitsOfTime.ts
  common/constants/urls.ts
  common/styles/themeMap.ts
  common/utils/thirdParty/gtag.ts
  types/global.d.ts
Due: prettier --write, eslint --fix

refactor: Add no-inferrable-types ESLint rule and fix all violations
  .eslintrc.js
  common/utils/auth-utils.ts
  common/utils/prop-utils.ts
  common/utils/string-utils.ts
  common/utils/style-utils.ts
  pathAliases.js
Due: prettier --write, eslint --fix

test: Add TypeScript test snapshots
  common/utils/__tests__/__snapshots__/next-utils.test.ts.snap
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.tsx.snap
  components/Form/Label/__tests__/__snapshots__/Label.test.tsx.snap
Due: none

fix: Update lint:ci to check TypeScript files and add ESLint overrides
  .eslintrc.js
  package.json
Due: prettier --write, eslint --fix

fix: Add .storybook to .eslintignore to exclude config files
  .eslintignore
Due: none

fix: Convert config files to JS for Next.js 12 compatibility and fix TypeScript errors
  .eslintrc.js
  common/config/svgo.d.ts
  common/config/svgo.js
  common/constants/urls.d.ts
  common/constants/urls.js
  common/utils/auth-utils.ts
  components/Cards/FlatCard/FlatCard.tsx
  components/Cards/FlatCard/__stories__/FlatCard.stories.tsx
  components/Form/Input/__stories__/Input.stories.tsx
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
  components/ZipRecruiterJobs/ZipRecruiterJobs.tsx
  components/head.tsx
  cypress.config.ts
  cypress/plugins/index.ts
  decorators/getDisplayName.ts
  next-sitemap.config.ts
  next.config.js
  scripts/createComponent/builders.ts
  tsconfig.json
  types/cypress-image-snapshot.d.ts
  types/global.d.ts
Due: prettier --write, eslint --fix

fix: Rename config files from .ts to .js to fix build and lint errors
  nyc.config.js
  prettier.config.js
Due: prettier --write, eslint --fix

docs: Add TypeScript conversion progress summary
  TYPESCRIPT_CONVERSION_PROGRESS.md
Due: none

fix arbitrary values
  pages/sponsorship.tsx
Due: prettier --write, eslint --fix

upgrade deps
  package.json
  yarn.lock
Due: none

update snapshot
  components/Badge/__tests__/__snapshots__/Badge.test.tsx.snap
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.tsx.snap
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
Due: none

update remaining src to ts
  components/Cards/FlatCard/FlatCard.tsx
  components/Cards/FlatCard/__stories__/FlatCard.stories.tsx
  components/Cards/FlatCard/__tests__/FlatCard.test.tsx
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.tsx.snap
  components/Form/Input/__stories__/Input.stories.tsx
  components/Form/Label/__stories__/Label.stories.tsx
  components/Form/Label/__tests__/Label.test.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.tsx.snap
  components/Form/__tests__/MultiStepForm.test.tsx
  components/Forms/RegistrationForm/__stories__/RegistrationForm.stories.js
  components/Forms/RegistrationForm/__stories__/RegistrationForm.stories.tsx
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
  components/ZipRecruiterJobs/ZipRecruiterJobs.tsx
  components/head.tsx
  decorators/__tests__/getDisplayName.test.ts
  decorators/getDisplayName.js
  decorators/getDisplayName.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Replace Sponsorship page styles with TailwindCSS (#1953)
  pages/sponsorship.tsx
  styles/sponsorship.module.css
Due: prettier --write, eslint --fix, stylelint --fix

simplify conditional code
  components/Cards/FlatCard/FlatCard.tsx
Due: prettier --write, eslint --fix

remove unused snapshots
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Form/Input/__tests__/__snapshots__/Input.test.js.snap
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Form/__tests__/__snapshots__/Form.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: none

whoopsie with deps
  package.json
  yarn.lock
Due: none

upgrade deps and convert remaining components code to ts (#1954)
  components/Badge/__tests__/__snapshots__/Badge.test.tsx.snap
  components/Buttons/CloseButton/__tests__/__snapshots__/CloseButton.test.tsx.snap
  components/Cards/FlatCard/FlatCard.tsx
  components/Cards/FlatCard/__stories__/FlatCard.stories.tsx
  components/Cards/FlatCard/__tests__/FlatCard.test.tsx
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.tsx.snap
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Form/Input/__stories__/Input.stories.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.js.snap
  components/Form/Label/__stories__/Label.stories.tsx
  components/Form/Label/__tests__/Label.test.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Form/__tests__/MultiStepForm.test.tsx
  components/Form/__tests__/__snapshots__/Form.test.js.snap
  components/Forms/RegistrationForm/__stories__/RegistrationForm.stories.js
  components/Forms/RegistrationForm/__stories__/RegistrationForm.stories.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
  components/ZipRecruiterJobs/ZipRecruiterJobs.tsx
  components/head.tsx
  decorators/__tests__/getDisplayName.test.ts
  decorators/getDisplayName.js
  decorators/getDisplayName.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fix lint message
  .eslintrc.js
Due: prettier --write, eslint --fix

remove airbnb eslint preset, add react eslint plugin, add playwright eslint plugin, and remove cypress eslint plugin
  .eslintrc.js
  .gitignore
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

add playwright and port one test
  .github/workflows/playwright.yml
  components/Heading/Heading.tsx
  cypress/e2e/hashlink.spec.js
  e2e/hashlink.spec.ts
  package.json
  pages/index.tsx
  playwright.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

Cypress -> Playwright and no more babel!
  .babelrc.js
  .circleci/config.yml
  .eslintignore
  .eslintrc.js
  .gitignore
  components/Form/MultiStepForm.tsx
  cypress.config.js
  cypress/README.md
  cypress/e2e/faq.spec.js
  cypress/e2e/join.spec.ts
  cypress/e2e/podcast.spec.js
  cypress/e2e/team.spec.js
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/e2e.js
  cypress/tsconfig.json
  e2e/faq.spec.ts
  e2e/hashlink.spec.ts
  e2e/join.spec.ts
  e2e/podcast.spec.ts
  e2e/team.spec.ts
  nyc.config.js
  package.json
  pages/api/__coverage__.js
  pages/podcast.tsx
  playwright.config.ts
  test-utils/mockGenerators/mockUser.ts
  vitest.config.mts
  yarn.lock
Due: prettier --write, eslint --fix

update snapshots
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: none

Fix all lint errors
  components/Branding/ColorSection/ColorSection.tsx
  components/Branding/FontSection/FontSection.tsx
  components/Branding/LogoSection/LogoSection.tsx
  components/Content/__stories__/Content.stories.tsx
  components/Content/__tests__/Content.test.tsx
  pages/about.tsx
  pages/challenge.tsx
  pages/chapter_leader.tsx
  pages/chapters.tsx
  pages/get_involved.tsx
  pages/history.tsx
  pages/jobs.tsx
  pages/join/form.tsx
  pages/join/index.tsx
  pages/press.tsx
  pages/project_rebuild.tsx
  pages/services.tsx
  pages/slack_guide.tsx
  pages/sponsorship.tsx
  pages/team.tsx
  pages/terms.tsx
Due: prettier --write, eslint --fix

remove cypress from CircleCI pipeline
  .circleci/config.yml
Due: none

try to fix tests
  .github/workflows/playwright.yml
  e2e/hashlink.spec.ts
  package.json
Due: prettier --write, eslint --fix

tweak test
  e2e/join.spec.ts
Due: prettier --write, eslint --fix

?
  .github/workflows/playwright.yml
Due: none

update podcast parsing
  pages/podcast.tsx
Due: prettier --write, eslint --fix

upload artifacts on test failure
  .github/workflows/playwright.yml
Due: none

fix podcast page
  pages/podcast.tsx
Due: prettier --write, eslint --fix

update playwright config for reporting
  playwright.config.ts
Due: prettier --write, eslint --fix

fix env var
  .github/workflows/playwright.yml
Due: none

test failure script
  .github/workflows/playwright.yml
Due: none

succeeding tests
  .github/workflows/playwright.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.css)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
