Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

add vertical padding to Alert and add notice to RegistrationForm
  components/Alert/Alert.tsx
  components/Forms/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

copy update
  components/Forms/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

removed fixed margin classes on input elements. replace UpdateProfileForm css modules with tw
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/UpdateProfileForm/UpdateProfileForm.module.css
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/MilitaryStatus.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.tsx
  components/Forms/UpdateProfileForm/steps/_steps.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update snapshots
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
Due: prettier --write, eslint --fix

update snapshots
  components/Alert/__tests__/__snapshots__/Alert.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
Due: none

lil style tweaks
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
Due: prettier --write, eslint --fix

replace UpdateProfileForm css modules with tw (#1909)
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/UpdateProfileForm.module.css
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/MilitaryStatus.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.tsx
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/_steps.module.css
Due: prettier --write, eslint --fix, stylelint --fix

replace Heading css modules with tw
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/Heading/Heading.module.css
  components/Heading/Heading.tsx
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

remove duplicate margin bottom
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/Heading/Heading.tsx
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: prettier --write, eslint --fix

replace Heading css modules with tw (#1911)
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/Heading/Heading.module.css
  components/Heading/Heading.tsx
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

replace Nav css modules to tw
  common/constants/navigation.ts
  components/Nav/Nav.module.css
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.module.css
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavListItem/__tests__/NavListItem.test.tsx
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

replace NavMobile css modules to tw
  components/Nav/NavMobile/NavMobile.module.css
  components/Nav/NavMobile/NavMobile.tsx
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

replace Press components css to tw. inlined OutboundLink icon so it flows naturally
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Heading/Heading.tsx
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/OutboundLink/OutboundLink.tsx
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.tsx.snap
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/Press/PressLinks/PressLinks.module.css
  components/Press/PressLinks/PressLinks.tsx
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.tsx.snap
  components/Press/PressPhotos/PressPhotos.module.css
  components/Press/PressPhotos/PressPhotos.tsx
  components/Press/PressPhotos/__tests__/__snapshots__/PressPhotos.test.tsx.snap
  components/Press/PressVideos/PressVideos.module.css
  components/Press/PressVideos/PressVideos.tsx
  components/Press/PressVideos/__tests__/__snapshots__/PressVideos.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

add NavLink type
  common/constants/navigation.ts
Due: prettier --write, eslint --fix

less types
  common/constants/navigation.ts
  components/Nav/NavMobile/NavMobile.tsx
Due: prettier --write, eslint --fix

Chore/nav tw (#1912)
  common/constants/navigation.ts
  components/Nav/Nav.module.css
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.module.css
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavListItem/__tests__/NavListItem.test.tsx
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  components/Nav/NavMobile/NavMobile.module.css
  components/Nav/NavMobile/NavMobile.tsx
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

remove type cast
  components/Press/PressLinks/PressLinks.tsx
Due: prettier --write, eslint --fix

replace Press components css to tw (#1913)
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Content/__tests__/__snapshots__/Content.test.tsx.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.tsx.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Heading/Heading.tsx
  components/Heading/__tests__/__snapshots__/Heading.test.tsx.snap
  components/OutboundLink/OutboundLink.tsx
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.tsx.snap
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/Press/PressLinks/PressLinks.module.css
  components/Press/PressLinks/PressLinks.tsx
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.tsx.snap
  components/Press/PressPhotos/PressPhotos.module.css
  components/Press/PressPhotos/PressPhotos.tsx
  components/Press/PressPhotos/__tests__/__snapshots__/PressPhotos.test.tsx.snap
  components/Press/PressVideos/PressVideos.module.css
  components/Press/PressVideos/PressVideos.tsx
  components/Press/PressVideos/__tests__/__snapshots__/PressVideos.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

replace Timeline component css modules with tw
  components/Timeline/Timeline.module.css
  components/Timeline/Timeline.tsx
  components/Timeline/TimelineEvent/TimelineEvent.module.css
  components/Timeline/TimelineEvent/TimelineEvent.tsx
  components/Timeline/TimelineEvent/__tests__/__snapshots__/TimelineEvent.test.tsx.snap
  components/Timeline/TimelineNav/TimelineNav.module.css
  components/Timeline/TimelineNav/TimelineNav.tsx
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
  components/Timeline/historyData.tsx
Due: prettier --write, eslint --fix, stylelint --fix

replace Timeline component css modules with tw (#1914)
  components/Timeline/Timeline.module.css
  components/Timeline/Timeline.tsx
  components/Timeline/TimelineEvent/TimelineEvent.module.css
  components/Timeline/TimelineEvent/TimelineEvent.tsx
  components/Timeline/TimelineEvent/__tests__/__snapshots__/TimelineEvent.test.tsx.snap
  components/Timeline/TimelineNav/TimelineNav.module.css
  components/Timeline/TimelineNav/TimelineNav.tsx
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.tsx.snap
  components/Timeline/historyData.tsx
Due: prettier --write, eslint --fix, stylelint --fix

replace UpgradeBrowserOverlay css to tw
  components/Modal/Modal.tsx
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.module.css
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

remove component
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.tsx
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.tsx
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, eslint --fix

Remove UpgradeBrowserOverlay Component (#1916)
  components/Modal/Modal.tsx
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.module.css
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.tsx
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.tsx
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

spruce up registration form, form components, and donate page
  components/Alert/Alert.tsx
  components/Alert/__tests__/__snapshots__/Alert.test.tsx.snap
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/Label/Label.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/MultiStepForm.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/MilitaryStatus.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.tsx
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  components/ProgressIndicator/ProgressIndicator.tsx
  components/ProgressIndicator/__tests__/__snapshots__/ProgressIndicator.test.tsx.snap
  pages/donate.tsx
  pages/join/index.tsx
  pages/slack_guide.tsx
  styles/donate.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Update registration form (#1910)
  components/Alert/Alert.tsx
  components/Alert/__tests__/__snapshots__/Alert.test.tsx.snap
  components/Form/Checkbox/Checkbox.tsx
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/Label/Label.tsx
  components/Form/Label/__tests__/__snapshots__/Label.test.js.snap
  components/Form/MultiStepForm.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/MilitaryStatus.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.tsx
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  components/ProgressIndicator/ProgressIndicator.tsx
  components/ProgressIndicator/__tests__/__snapshots__/ProgressIndicator.test.tsx.snap
  pages/donate.tsx
  pages/join/index.tsx
  pages/slack_guide.tsx
  styles/donate.module.css
Due: prettier --write, eslint --fix, stylelint --fix

🤦🏼‍♂️ dont mark everybody as working at capsule
  pages/api/registration/new.ts
Due: prettier --write, eslint --fix

add workflow actions
  .github/workflows/code_coverage.yml
  .github/workflows/upload_coverage.yml
  .gitignore
  vitest.config.mts
Due: none

fix coverage path
  .github/workflows/upload_coverage.yml
Due: none

renaming
  .github/workflows/report_coverage.yml
  .github/workflows/upload_coverage.yml
Due: none

test changes
  .github/workflows/report_coverage.yml
  .github/workflows/upload_coverage.yml
Due: none

refactor: migrate CSS modules to Tailwind classes in homepage components
  pages/index.tsx
  styles/index.module.css
Due: prettier --write, eslint --fix, stylelint --fix

refactor: migrate CSS modules to Tailwind classes in homepage components (#1940)
  pages/index.tsx
  styles/index.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add pr code coverage
  .github/workflows/report_coverage.yml
  .github/workflows/upload_coverage.yml
  vitest.config.mts
Due: none

add pr code coverage (#1941)
  .github/workflows/report_coverage.yml
  .github/workflows/upload_coverage.yml
  vitest.config.mts
Due: none

replaced Branding page styles with tw
  components/Branding/LogoSection/LogoSection.tsx
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
  components/Branding/Swatch/Swatch.tsx
  components/Branding/Swatch/__tests__/__snapshots__/Swatch.test.tsx.snap
  pages/branding.tsx
  styles/branding.module.css
Due: prettier --write, eslint --fix, stylelint --fix

simplify tw margin
  components/Branding/LogoSection/LogoSection.tsx
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
Due: prettier --write, eslint --fix

replaced Branding page styles with tw (#1942)
  components/Branding/LogoSection/LogoSection.tsx
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
  components/Branding/Swatch/Swatch.tsx
  components/Branding/Swatch/__tests__/__snapshots__/Swatch.test.tsx.snap
  pages/branding.tsx
  styles/branding.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Replace Sponsorship page styles with TailwindCSS
  pages/sponsorship.tsx
  styles/sponsorship.module.css
Due: prettier --write, eslint --fix, stylelint --fix

attempt fix
  pages/api/registration/update.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.css)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
