Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on DonationSection component
  components/ReusableSections/DonateSection/DonateSection.js
  components/ReusableSections/DonateSection/DonateSection.module.css
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on DonationSection component (#1770)
  components/ReusableSections/DonateSection/DonateSection.js
  components/ReusableSections/DonateSection/DonateSection.module.css
  components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on JoinSection component
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/JoinSection.module.css
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on JoinSection component
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on JoinSection component (#1771)
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/JoinSection.module.css
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on SponsorsSection component
  components/ReusableSections/SponsorsSection/SponsorsSection.js
  components/ReusableSections/SponsorsSection/SponsorsSection.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on SponsorsSection component
  components/ReusableSections/SponsorsSection/SponsorsSection.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on SponsorsSection component (#1772)
  components/ReusableSections/SponsorsSection/SponsorsSection.js
  components/ReusableSections/SponsorsSection/SponsorsSection.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on OutboundLink component
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/OutboundLink.module.css
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on OutboundLink component
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.js.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
Due: none

Replaced all the css into tailwind css on OutboundLink component
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on OutboundLink component (#1773)
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.js.snap
  components/FeaturedJobItem/__tests__/__snapshots__/FeaturedJobItem.test.js.snap
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/OutboundLink/OutboundLink.js
  components/OutboundLink/OutboundLink.module.css
  components/OutboundLink/__tests__/__snapshots__/OutboundLink.test.js.snap
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.js.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  components/SocialMedia/SocialMediaItem/__tests__/__snapshots__/SocialMediaItem.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ChangePasswordForm componen
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/ChangePasswordForm/ChangePasswordForm.module.css
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ChangePasswordForm componen
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on ChangePasswordForm component (#1774)
  components/Forms/ChangePasswordForm/ChangePasswordForm.js
  components/Forms/ChangePasswordForm/ChangePasswordForm.module.css
  components/Forms/ChangePasswordForm/__tests__/__snapshots__/ChangePasswordForm.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css onLoginForm component
  components/Forms/LoginForm/LoginForm.js
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on LoginForm component (#1776)
  components/Forms/LoginForm/LoginForm.js
  components/Forms/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on PasswordResetForm component
  components/Forms/PasswordResetForm/PasswordResetForm.js
  components/Forms/PasswordResetForm/PasswordResetForm.module.css
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on PasswordResetForm component
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
Due: none

Replaced all the css into tailwind css on PasswordResetForm component (#1778)
  components/Forms/PasswordResetForm/PasswordResetForm.js
  components/Forms/PasswordResetForm/PasswordResetForm.module.css
  components/Forms/PasswordResetForm/__tests__/__snapshots__/PasswordResetForm.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on RegistrationForm component
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/RegistrationForm.module.css
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on RegistrationForm component
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on RegistrationForm component (#1780)
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/RegistrationForm.module.css
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on CreateResourceForm component
  components/Forms/CreateResourceForm/CreateResourceForm.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on CreateResourceForm component
  components/Forms/CreateResourceForm/CreateResourceForm.module.css
Due: prettier --write, stylelint --fix

Replaced all the css into tailwind css on CreateResourceForm component
  components/Forms/CreateResourceForm/CreateResourceForm.js
  tailwind.config.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on CreateResourceForm component (#1781)
  components/Forms/CreateResourceForm/CreateResourceForm.js
  components/Forms/CreateResourceForm/CreateResourceForm.module.css
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css onColorSection component
  components/Branding/ColorSection/ColorSection.js
  components/Branding/ColorSection/ColorSection.module.css
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on ColorSection component (#1782)
  components/Branding/ColorSection/ColorSection.js
  components/Branding/ColorSection/ColorSection.module.css
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on Swatch component
  components/Branding/Swatch/Swatch.js
  components/Branding/Swatch/Swatch.module.css
  components/Branding/Swatch/__tests__/__snapshots__/Swatch.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on Swatch component (#1783)
  components/Branding/Swatch/Swatch.js
  components/Branding/Swatch/Swatch.module.css
  components/Branding/Swatch/__tests__/__snapshots__/Swatch.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FontSection component
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/FontSection.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FontSection component
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
Due: none

Replaced all the css into tailwind css on FontSection component
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/FontSection.module.css
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Replaced all the css into tailwind css on FontSection component
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on FontSection component
  components/Branding/FontSection/FontSection.js
  components/Branding/FontSection/__tests__/__snapshots__/FontSection.test.js.snap
  tailwind.config.js
Due: prettier --write, eslint --fix

Replaced all the css into tailwind css on FontSection component
  tailwind.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
