Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

remove comment
  components/Nav/Nav.js
Due: prettier --write, eslint --fix

make header logo smaller. reverted change in cdb1e6492a29c30049b2252891dd36d82712916e to navlistitem
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.js
Due: prettier --write, eslint --fix, stylelint --fix

removed rule causing stretchyness where it wasnt needed. switched to using css variables in media queries instead of static values
  components/Container/Container.module.css
Due: prettier --write, stylelint --fix

remove uneeded comment
  components/Branding/LogoSection/LogoSection.js
Due: prettier --write, eslint --fix

center logo height
  components/Nav/Nav.module.css
Due: prettier --write, stylelint --fix

Update components/Nav/Nav.module.css
  components/Nav/Nav.module.css
Due: prettier --write, stylelint --fix

switch to svg based logo
  common/styles/themeMap.js
  components/Badge/Badge.module.css
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.js.snap
  components/Branding/Logo/Logo.js
  components/Branding/Logo/Logo.module.css
  components/Branding/Logo/StackedLogo.js
  components/Branding/Logo/__tests__/Logo.test.js
  components/Branding/Logo/__tests__/__snapshots__/Logo.test.js.snap
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/Nav.js
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/ReusableSections/JoinSection/JoinSection.js
  components/ReusableSections/JoinSection/JoinSection.module.css
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.js.snap
  decorators/withAuthSync/withAuthSync.js
  pages/branding.js
Due: prettier --write, eslint --fix, stylelint --fix

implement Variants.js
  components/Branding/Logo/Logo.js
  components/Branding/Logo/StackedLogo.js
  components/Branding/Logo/Variants.js
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/LogoSection.module.css
  components/Footer/Footer.js
  components/Footer/Footer.module.css
Due: prettier --write, eslint --fix, stylelint --fix

eslint complaining about the camel casing
  common/styles/globalStyles.css
  components/Accordion/Accordion.module.css
  components/Container/Container.module.css
  components/Nav/NavListItem/NavListItem.module.css
  components/OutboundLink/OutboundLink.module.css
  components/Pagination/PaginationItem/PaginationItem.module.css
  styles/faq.module.css
  styles/slack_guide.module.css
Due: prettier --write, stylelint --fix

updated snapshots
  components/Branding/Logo/__tests__/__snapshots__/Logo.test.js.snap
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

revert use null
  components/Nav/NavListItem/NavListItem.js
Due: prettier --write, eslint --fix

fix flex basis for logo size
  components/Branding/Logo/Logo.js
  components/Branding/Logo/Logo.module.css
  components/Branding/LogoSection/LogoSection.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add lint exception for 'this' usage
  decorators/withAuthSync/withAuthSync.js
Due: prettier --write, eslint --fix

test snapshot updates
  components/Branding/Logo/__tests__/__snapshots__/Logo.test.js.snap
Due: none

added variants hook
  components/Branding/Logo/Logo.js
  components/Branding/Logo/Logo.module.css
  components/Branding/Logo/Variants.js
  components/Branding/Logo/__tests__/__snapshots__/Logo.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

oops
  components/Branding/Logo/Logo.js
Due: prettier --write, eslint --fix

dl => ul
  components/Branding/LogoSection/LogoSection.js
  components/Branding/LogoSection/LogoSection.module.css
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

update node version and cypress runtime
  .circleci/config.yml
  .nvmrc
  package.json
Due: none

try to fix test
  cypress/integration/profile/update.spec.js
Due: prettier --write, eslint --fix

whoopsie
  .circleci/config.yml
Due: none

log statement
  .circleci/config.yml
Due: none

swap to darwin reporter
  .circleci/config.yml
Due: none

fix: outdated slackguide youtube
  pages/slack_guide.js
Due: prettier --write, eslint --fix

Updates Slack Guide Youtube Video (#1632)
  pages/slack_guide.js
Due: prettier --write, eslint --fix

try different test-reporter binary
  .circleci/config.yml
Due: none

use different image and update node version
  .circleci/config.yml
  .nvmrc
Due: none

update node version and cypress runtime (#1620)
  .circleci/config.yml
  .nvmrc
  cypress/integration/profile/update.spec.js
  package.json
  pages/blog/index.js
Due: prettier --write, eslint --fix

update many dependencies and resolve any breaking changes
  .eslintrc.js
  .prettierignore
  common/config/svgo.js
  common/styles/globalStyles.css
  components/Accordion/Accordion.module.css
  components/Badge/Badge.module.css
  components/Cards/ResourceCard/ResourceCard.js
  components/Container/Container.module.css
  components/Form/Label/Label.js
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.js
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.js
  components/Nav/NavListItem/NavListItem.module.css
  components/OutboundLink/OutboundLink.module.css
  components/Pagination/PaginationItem/PaginationItem.module.css
  jest.setup.js
  next.config.js
  package.json
  pages/login.js
  pages/press.js
  pages/slack_guide.js
  postcss.config.js
  styles/faq.module.css
  styles/slack_guide.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

fix jest
  components/Cards/ResourceCard/ResourceCard.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.js.snap
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.js.snap
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix a bug and allow expressions to be a single child in a fragment
  .eslintrc.js
  pages/login.js
Due: prettier --write, eslint --fix

downgrade @cypress/code-coverage
  package.json
  yarn.lock
Due: none

add a test id for hero banner h1
  common/constants/testIDs.js
  components/HeroBanner/HeroBanner.js
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
Due: prettier --write, eslint --fix

try to fix hashlink tests
  cypress/integration/hashlink.spec.js
Due: prettier --write, eslint --fix

Update dependencies (#1633)
  .eslintrc.js
  .prettierignore
  common/config/svgo.js
  common/constants/testIDs.js
  common/styles/globalStyles.css
  components/Accordion/Accordion.module.css
  components/Badge/Badge.module.css
  components/Cards/ResourceCard/ResourceCard.js
  components/Container/Container.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Form/Label/Label.js
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.js
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.js
  components/HeroBanner/HeroBanner.js
  components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.js.snap
  components/Nav/NavListItem/NavListItem.module.css
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.js.snap
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  components/OutboundLink/OutboundLink.module.css
  components/Pagination/PaginationItem/PaginationItem.module.css
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.js.snap
  cypress/integration/hashlink.spec.js
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  pages/press.js
  pages/slack_guide.js
  postcss.config.js
  styles/faq.module.css
  styles/slack_guide.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

create draft of page
  pages/project_rebuild.js
  styles/project_rebuild.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Update .mergify.yml
  .mergify.yml
Due: none

upgrade cypress to v10
  cypress.config.js
  cypress.json
  cypress/e2e/code_schools.spec.js
  cypress/e2e/faq.spec.js
  cypress/e2e/hashlink.spec.js
  cypress/e2e/join.spec.js
  cypress/e2e/login.spec.js
  cypress/e2e/modal.spec.js
  cypress/e2e/password_reset/confirm.spec.js
  cypress/e2e/password_reset/index.spec.js
  cypress/e2e/podcast.spec.js
  cypress/e2e/profile/change_password.spec.js
  cypress/e2e/profile/update.spec.js
  cypress/e2e/resources.spec.js
  cypress/e2e/team.spec.js
  cypress/plugins/index.js
  cypress/support/e2e.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

pass codeclimate
  cypress/e2e/login.spec.js
Due: prettier --write, eslint --fix
