Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

nevermind - next only has file-loader as a devdep
  package.json
  yarn.lock
Due: none

"Preptember" cleaning (#1207)
  .circleci/config.yml
  .eslintignore
  .nvmrc
  .prettierignore
  .storybook/config.js
  .storybook/middleware.js
  .storybook/webpack.config.js
  README.md
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/ErrorDisplay.module.css
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  components/head.js
  cypress.json
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/resources.spec.js
  cypress/integration/retry.spec.js
  cypress/support/index.js
  next.config.js
  package.json
  pages/404.js
  pages/_document.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Add Kenneth Ofosu to names.js
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

UX Contribution Guide Initial Draft
  CONTRIBUTINGtoUX.md
Due: none

format
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Kenneth Ofosu to names.js (#1209)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Apply suggestions from code review
  CONTRIBUTINGtoUX.md
Due: none

change file name
  CONTRIBUTING_TO_DESIGN.md
Due: none

add CONTRIBUTING_TO_DESIGN.md link
  README.md
Due: none

UX Contribution Guide Initial Draft (#1210)
  CONTRIBUTING_TO_DESIGN.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

adjust vercel.json
  vercel.json
Due: none

remove aliases
  vercel.json
Due: none

adjust vercel.json (#1212)
  vercel.json
Due: none

remove vercel.json
  next.config.js
  vercel.json
Due: prettier --write, eslint --fix

format md file
  CONTRIBUTING_TO_DESIGN.md
Due: none

remove invalid starting character from custom header src
  next.config.js
Due: prettier --write, eslint --fix

set redirects as permanent
  next.config.js
Due: prettier --write, eslint --fix

Remove vercel.json (#1213)
  CONTRIBUTING_TO_DESIGN.md
  next.config.js
  vercel.json
Due: prettier --write, eslint --fix

feat(nav): add account dropdown menu item with icon
  common/constants/navigation.js
  components/Nav/Nav.js
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.js
  components/Nav/NavListItem/__tests__/NavListItem.test.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  public/static/images/icons/FontAwesome/user.svg
Due: prettier --write, eslint --fix, stylelint --fix

Internationalized documentation in spanish
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
  internationalized-documentation/Spanish/CODE_OF_CONDUCT_ES.md
  internationalized-documentation/Spanish/MAINTAINERS_ES.md
Due: none

Internationalized documentation in spanish (#1214)
  CODE_OF_CONDUCT.md
  MAINTAINERS.md
  internationalized-documentation/Spanish/CODE_OF_CONDUCT_ES.md
  internationalized-documentation/Spanish/MAINTAINERS_ES.md
Due: none

allow storybook files via .vercelignore
  .vercelignore
Due: none

allow test-utils into vercel
  .vercelignore
Due: none

feat(nav): add account dropdown menu item with icon (#1208)
  common/constants/navigation.js
  components/Nav/Nav.js
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.js
  components/Nav/NavListItem/__tests__/NavListItem.test.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  public/static/images/icons/FontAwesome/user.svg
Due: prettier --write, eslint --fix, stylelint --fix

put "Who We Serve" under about sublinks
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

only lint and run unit tests in CI
  .circleci/config.yml
Due: none

simplify coverage metrics
  jest.config.js
Due: prettier --write, eslint --fix

sync up ignore files
  .eslintignore
  .gitignore
  .prettierignore
Due: none

update sitemap
  public/sitemap.xml
  scripts/SITEMAP_IGNORE.json
Due: none

remove allcontributors and update configs/dependencies
  .all-contributorsrc
  .gitignore
  .stylelintrc
  README.md
  nyc.config.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix mergify config
  .mergify.yml
Due: none

explicitly set node version
  .circleci/config.yml
Due: none

be explicit with yarn version
  .circleci/config.yml
Due: none

nvm
  .circleci/config.yml
Due: none

install packages, not node
  .circleci/config.yml
Due: none

add cypress test status to mergify config
  .mergify.yml
Due: none

update README
  README.md
Due: none

force a new cypress build w/ a new commit
  pages/join.js
Due: prettier --write, eslint --fix
