Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

updating styling
  pages/corporate-training/index.tsx
Due: none

updated header
  pages/corporate-training/index.tsx
Due: none

remove unused code
  pages/corporate-training/index.tsx
Due: none

styling
  pages/corporate-training/index.tsx
Due: none

fixed that jumping in faq when chevron clicked
  components/Accordion/Accordion.module.css
  components/Accordion/Accordion.tsx
  styles/faq.module.css
Due: prettier --write, stylelint --fix

undo styling
  components/Accordion/Accordion.module.css
Due: prettier --write, stylelint --fix

update
  pages/corporate-training/index.tsx
Due: none

fixed that text shift in faq when chevron clicked (#1829)
  components/Accordion/Accordion.tsx
  styles/faq.module.css
Due: prettier --write, stylelint --fix

Corporate Training Page (#1826)
  pages/corporate-training/index.tsx
  public/static/images/bias1.jpg
  public/static/images/bias2.jpg
  public/static/images/bias3.jpg
  public/static/images/bias4.jpg
  public/static/images/bias5.jpg
  public/static/images/heroImage.jpg
  yarn.lock
Due: none

fix broken import and update snapshots
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
  components/Buttons/LinkButton/__tests__/__snapshots__/LinkButton.test.tsx.snap
  components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.js.snap
  components/Cards/ImageCard/__tests__/__snapshots__/ImageCard.test.tsx.snap
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/Forms/LoginForm/LoginForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
  components/Pagination/PaginationItem/__tests__/__snapshots__/PaginationItem.test.tsx.snap
  components/Pagination/__tests__/__snapshots__/Pagination.test.tsx.snap
  components/PartnerLogoLink/__tests__/__snapshots__/PartnerLogoLink.test.tsx.snap
  components/Press/PressPhotos/__tests__/__snapshots__/PressPhotos.test.tsx.snap
  components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
  components/SuccessStory/__tests__/__snapshots__/SuccessStory.test.tsx.snap
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, eslint --fix

fix storybook builds
  .storybook/main.ts
  components/Badge/__stories__/Badge.stories.tsx
  package.json
  tsconfig.json
  types/files.d.ts
  vitest.config.mts
  yarn.lock
Due: none

resolve build errors
  components/Modal/Modal.tsx
  components/Modal/__stories__/Modal.stories.tsx
  components/OutboundLink/OutboundLink.tsx
  components/Pagination/Pagination.tsx
  components/Pagination/PaginationItem/PaginationItem.tsx
  components/Press/PressLinks/PressLinks.tsx
  components/Press/index.ts
  components/ReusableSections/DonateSection/__stories__/DonateSection.stories.tsx
  components/Timeline/Timeline.tsx
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  pages/join/index.tsx
  pages/team.tsx
  types/files.d.ts
Due: none

update snap
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: none

update nvm range
  .nvmrc
Due: none

Updated images and added page to nav bar (#1830)
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
  pages/corporate-training/index.tsx
  public/static/images/bias1.jpg
  public/static/images/bias2.jpg
  public/static/images/bias3.jpg
  public/static/images/bias4.jpg
  public/static/images/bias5.jpg
Due: prettier --write, eslint --fix

update circleci image
  .circleci/config.yml
Due: none

delete unused 'UpgradeBrowserOverlay'
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.module.css
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.tsx
  components/UpgradeBrowserOverlay/__stories__/UpgradeBrowserOverlay.stories.tsx
  components/UpgradeBrowserOverlay/__tests__/UpgradeBrowserOverlay.test.tsx
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.tsx.snap
Due: prettier --write, stylelint --fix

update chromatic action
  .github/workflows/chromatic.yml
  package.json
  yarn.lock
Due: none

attempt to fix aliases in cypress
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

fix import aliases in cypress
  cypress/e2e/join.spec.js
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

another attempt to fix import aliases
  cypress/plugins/index.js
  cypress/tsconfig.cypress.json
  sentry.edge.config.js
  tsconfig.json
Due: prettier --write, eslint --fix

give up on alias imports in cypress
  .circleci/config.yml
  .eslintrc.js
  cypress.config.js
  cypress.config.ts
  cypress/e2e/faq.spec.cy.ts
  cypress/e2e/hashlink.spec.cy.ts
  cypress/e2e/join.spec.cy.ts
  cypress/e2e/podcast.spec.cy.ts
  cypress/e2e/team.spec.cy.ts
  cypress/fixtures/example.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.cypress.json
  next.config.js
  package.json
  test-utils/mockGenerators/mockUser.js
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

give up on updating cypress orb
  .circleci/config.yml
Due: none

i hate cypress
  cypress/tsconfig.json
Due: none

another volley
  cypress/tsconfig.json
Due: none

for good measure
  cypress/support/e2e.ts
Due: none

add tsconfig
  cypress/e2e/faq.spec.cy.ts
  cypress/e2e/hashlink.spec.cy.ts
  cypress/tsconfig.json
  postcss.config.js
Due: prettier --write, eslint --fix

add tsconfig
  cypress/e2e/faq.spec.cy.ts
  cypress/e2e/hashlink.spec.cy.ts
  cypress/tsconfig.json
Due: none

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: none

added navigation spec
  cypress/e2e/navigation.spec.js
Due: prettier --write, eslint --fix

update configs, deps, and types
  .eslintrc.js
  common/config/environment.js
  package.json
  tsconfig.json
  tsconfig.test.json
  types/global.d.ts
  types/index.d.ts
  yarn.lock
Due: prettier --write, eslint --fix

upgrade more deps and resolve issues
  .eslintrc.js
  .prettierrc
  .stylelintrc
  common/styles/globals.css
  common/styles/media-queries.css
  common/styles/variables.css
  common/utils/cookie-utils.ts
  components/Alert/Alert.module.css
  components/Buttons/Button/Button.module.css
  components/ErrorDisplay/ErrorDisplay.tsx
  components/Form/Input/Input.module.css
  components/Heading/Heading.module.css
  components/Modal/Modal.tsx
  components/Modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/Nav/NavMobile/NavMobile.module.css
  components/Press/PressLinks/PressLinks.module.css
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.module.css
  package.json
  prettier.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

remove unused snapshot
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
