Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"]
}

fixed minor styling issue on hero text (#1822)
  pages/index.tsx
  styles/index.module.css
Due: prettier --write, stylelint --fix

Update components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/FlatCard.js
Due: prettier --write, eslint --fix

refactoring footer styling - inital pr - work in progress
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
Due: prettier --write, stylelint --fix

Update FlatCard.js
  components/Cards/FlatCard/FlatCard.js
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

Flat card styling issue (#1823)
  components/Cards/FlatCard/FlatCard.js
Due: prettier --write, eslint --fix

updated smapshot
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: none

replacing css with tailwind-WIP
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
Due: prettier --write, stylelint --fix

refactoring footer styling to tailwind
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: prettier --write, stylelint --fix

logic refactoring and styling refactoring
  common/constants/navigation.js
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

logic refactoring and styling refactoring
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: none

replaced css file with tailwind, refactored some logic
  common/constants/navigation.js
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

messing with font size
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: none

code update
  common/constants/navigation.js
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: prettier --write, eslint --fix

remove li
  components/Footer/Footer.tsx
Due: none

update snap and remove li
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: none

adding padding and snap update
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: none

playwright integration
  .github/workflows/playwright.yml
  .gitignore
  package.json
  playwright.config.ts
  tests-examples/demo-todo-app.spec.ts
  tests/example.spec.ts
  yarn.lock
Due: none

added base fixtures and updated package.json
  package.json
  tests/baseFixtures.ts
  yarn.lock
Due: none

more configurations
  nyc.config.js
  package.json
  playwright.config.ts
  tests/baseFixtures.ts
Due: prettier --write, eslint --fix

updating scripts
  package.json
Due: none

renamed tests to e2e
  e2e/baseFixtures.ts
  e2e/example.spec.ts
  playwright.config.ts
Due: none

added a basic title test for the homepage
  e2e/homePageExampleTest.spec.ts
  package.json
Due: none

testing out playwright
  e2e/homePageExampleTest.spec.ts
Due: none

text update
  e2e/homePageExampleTest.spec.ts
Due: none

updated styling
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: none

initial PR for corporate training
  pages/corporate_training.tsx
Due: none

refactoring footer styling (#1824)
  common/constants/navigation.js
  components/Footer/Footer.module.css
  components/Footer/Footer.tsx
  components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
Due: prettier --write, eslint --fix, stylelint --fix

corporate training page
  pages/corporate-training/index.tsx
  pages/corporate_training.tsx
  public/static/images/heroImage.jpg
Due: none

more work
  pages/corporate-training/index.tsx
  public/static/images/bias1.jpg
Due: none

added images and logic
  pages/corporate-training/index.tsx
  public/static/images/bias2.jpg
  public/static/images/bias3.jpg
  public/static/images/bias4.jpg
  public/static/images/bias5.jpg
Due: none

more additions
  pages/corporate-training/index.tsx
Due: none

styling
  pages/corporate-training/index.tsx
Due: none

styling
  pages/corporate-training/index.tsx
  yarn.lock
Due: none

removed section
  pages/corporate-training/index.tsx
Due: none

added links
  pages/corporate-training/index.tsx
Due: none

working on responsive styling
  pages/corporate-training/index.tsx
Due: none

updating styling
  pages/corporate-training/index.tsx
Due: none
