Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

add history tab to top nav
  common/constants/navigation.js
Due: prettier --write, eslint --fix

update nav.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

Add History tab to head nav (#1424)
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

update history page
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
  components/Timeline/historyData.js
Due: prettier --write, eslint --fix

update history page
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
Due: none

Update components/Timeline/historyData.js
  components/Timeline/historyData.js
Due: prettier --write, eslint --fix

update history page test snaps
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
Due: none

Update history page (#1417)
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
  components/Timeline/historyData.js
Due: prettier --write, eslint --fix

update join page
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix

update join page (#1427)
  components/Forms/RegistrationForm/RegistrationForm.js
  components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.js.snap
Due: prettier --write, eslint --fix

display login and services in mobile menu
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

display login and services in mobile menu (#1429)
  common/constants/navigation.js
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

add slack guide faq copy
  pages/slack_guide.js
Due: prettier --write, eslint --fix

Create Slack Guide page FAQ UI and add copy (#1422)
  pages/slack_guide.js
Due: prettier --write, eslint --fix

update images in slack guide
  pages/slack_guide.js
Due: prettier --write, eslint --fix

update images in slack guide (#1431)
  pages/slack_guide.js
Due: prettier --write, eslint --fix

adjust slack guide page assets size at mobile screen size
  pages/slack_guide.js
  styles/slack_guide.module.css
Due: prettier --write, eslint --fix, stylelint --fix

adjust slack guide page assets size at mobile screen size (#1433)
  pages/slack_guide.js
  styles/slack_guide.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add new user 'Frank Gauss' to the challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add new user 'Frank Gauss' to the challenge list (#1434)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

added why donate
  pages/donate.js
Due: prettier --write, eslint --fix

added more to why donate
  pages/donate.js
Due: prettier --write, eslint --fix

changed text
  pages/donate.js
Due: prettier --write, eslint --fix

update deps
  package.json
  yarn.lock
Due: none

remove rule and fix pretier config
  .eslintrc.js
Due: prettier --write, eslint --fix

lint format result
  common/utils/string-utils.js
Due: prettier --write, eslint --fix

enable webpack 5 for next.js
  next.config.js
Due: prettier --write, eslint --fix

consolidate lint rules
  .eslintrc.js
  pages/.eslintrc
Due: prettier --write, eslint --fix

configure next/image usage and webpack 5
  common/constants/urls.js
  next.config.js
Due: prettier --write, eslint --fix

fix lint error
  common/utils/string-utils.js
Due: prettier --write, eslint --fix

use next/image
  components/Cards/FlatCard/FlatCard.js
  components/Cards/FlatCard/FlatCard.module.css
  components/Cards/ImageCard/ImageCard.js
  components/Cards/ImageCard/ImageCard.module.css
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/SchoolCard.module.css
  components/PartnerLogoLink/PartnerLogoLink.js
  components/PartnerLogoLink/PartnerLogoLink.module.css
  components/SuccessStory/SuccessStory.js
  components/SuccessStory/SuccessStory.module.css
Due: prettier --write, eslint --fix, stylelint --fix

fix style loading in storybook config
  .storybook/main.js
  .storybook/preview.js
Due: prettier --write, eslint --fix

use a prod build for integration tests
  .babelrc.js
  .circleci/config.yml
  package.json
Due: prettier --write, eslint --fix

Donate Page "Why Donate?" (#1436)
  pages/donate.js
Due: prettier --write, eslint --fix

add navigation to merch store and copy on services page
  common/constants/navigation.js
  pages/services.js
Due: prettier --write, eslint --fix

updated snapshots
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
