Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.css": ["prettier --write", "stylelint --fix"]
}

update deps
  package.json
  pnpm-lock.yaml
Due: none

update vitest config
  vitest.config.mts
Due: none

update snaps
  src/components/Container/__tests__/__snapshots__/Container.test.tsx.snap
  src/components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  src/components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  src/components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  src/components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  src/components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  src/components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  src/components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  src/components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  src/components/HeroBanner/__tests__/__snapshots__/HeroBanner.test.tsx.snap
  src/components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.tsx.snap
Due: none

fix tsconfig
  tsconfig.json
Due: none

resolve type errors
  src/components/Analytics/AnalyticsProvider.tsx
  src/components/Container/__tests__/Container.test.tsx
  src/components/Content/__tests__/Content.test.tsx
  src/components/Form/MultiStepForm.tsx
  src/components/Form/__tests__/MultiStepForm.test.tsx
  src/components/Forms/RegistrationForm/RegistrationForm.tsx
  src/components/HeroBanner/__tests__/HeroBanner.test.tsx
  src/lib/utils/__tests__/api-utils.test.ts
Due: prettier --write, eslint --fix

enable react compiler
  next.config.ts
Due: prettier --write, eslint --fix

swap lint deps and add typecheck script
  package.json
  pnpm-lock.yaml
Due: none

button style changes
  src/components/Cards/FlatCard/__tests__/__snapshots__/FlatCard.test.tsx.snap
  src/components/Footer/__tests__/__snapshots__/Footer.test.tsx.snap
  src/components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
  src/components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  src/components/ReusableSections/DonateSection/__tests__/__snapshots__/DonateSection.test.tsx.snap
  src/components/ReusableSections/JoinSection/__tests__/__snapshots__/JoinSection.test.tsx.snap
  src/components/ui/button.tsx
Due: prettier --write, eslint --fix

update lint config and resolve lint warnings/errors
  eslint.config.mjs
  src/app/join/form/page.tsx
  src/app/podcast/page.tsx
  src/app/scholarship/code_platoon/CodePlatoonContent.tsx
  src/components/Cards/FlatCard/__tests__/FlatCard.test.tsx
  src/components/Content/Content.tsx
  src/components/Footer/Footer.tsx
  src/components/Form/Checkbox/Checkbox.tsx
  src/components/Form/Input/Input.tsx
  src/components/Nav/Nav.tsx
  src/components/Nav/NavListItem/NavListItem.tsx
  src/components/ScrollToTopButton/ScrollToTopButton.tsx
  src/components/ZipRecruiterJobs/ZipRecruiterJobs.tsx
  src/components/ui/field.tsx
  src/components/ui/label.tsx
Due: prettier --write, eslint --fix

update meta images
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon-96x96.png
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.png
  src/app/layout.tsx
  src/app/opengraph-image.png
  src/app/twitter-image.png
Due: prettier --write, eslint --fix

whoops
  package.json
  pnpm-lock.yaml
Due: none

fix nav bg
  src/components/Nav/Nav.tsx
  src/components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: prettier --write, eslint --fix

integrate eslint-plugin-react-you-might-not-need-an-effect
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

hope i fixed type error
  src/components/Form/MultiStepForm.tsx
Due: prettier --write, eslint --fix

downgrade zod
  package.json
  pnpm-lock.yaml
  src/components/Form/MultiStepForm.tsx
  vitest.config.mts
Due: prettier --write, eslint --fix

whoopsie
  src/components/Forms/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

reorganize stories
  src/components/Cards/Card/__stories__/Card.stories.tsx
  src/components/Cards/FlatCard/__stories__/FlatCard.stories.tsx
  src/components/Form/Checkbox/__stories__/Checkbox.stories.tsx
  src/components/Form/Input/__stories__/Input.stories.tsx
  src/components/Form/Label/__stories__/Label.stories.tsx
  src/components/ui/__stories__/Button.stories.tsx
  src/components/ui/__stories__/Card.stories.tsx
  src/components/ui/__stories__/DropdownMenu.stories.tsx
  src/components/ui/__stories__/Field.stories.tsx
  src/components/ui/__stories__/InlineLoadingSpinner.stories.tsx
  src/components/ui/__stories__/Label.stories.tsx
Due: prettier --write, eslint --fix

fix disabled checkbox styles
  src/components/Form/Checkbox/Checkbox.tsx
Due: prettier --write, eslint --fix

fix 404 image
  public/static/images/TankFlip.gif
  src/components/Forms/RegistrationForm/__tests__/__snapshots__/RegistrationForm.test.tsx.snap
Due: none

attempt to assuage flake
  src/e2e/join.spec.ts
Due: prettier --write, eslint --fix

fix lockfile
  pnpm-lock.yaml
Due: none

update deps, pnpm, and security config
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update deps, pnpm, and security config (#2009)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update more for latest pnpm version
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add NVIDIA DLI voucher program to scholarships
  public/static/images/nvidia_dli_logo.png
  src/app/scholarship/layout.tsx
Due: prettier --write, eslint --fix

Add NVIDIA DLI voucher program + pnpm/dep updates (#2012)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/static/images/nvidia_dli_logo.png
  src/app/scholarship/layout.tsx
Due: prettier --write, eslint --fix

Update non-dev dependencies and patch transitive advisories
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix cva wrapper for beta.8 required config property
  src/lib/utils/index.ts
Due: prettier --write, eslint --fix

Migrate zod schemas to v4 error API
  src/components/Form/MultiStepForm.tsx
  src/components/Forms/RegistrationForm/RegistrationForm.tsx
Due: prettier --write, eslint --fix

Update snapshots for base-ui id counter changes
  src/components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.tsx.snap
  src/components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
  src/components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
Due: none

Update non-dev dependencies to patch security advisories (#2017)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/Form/MultiStepForm.tsx
  src/components/Forms/RegistrationForm/RegistrationForm.tsx
  src/components/Nav/NavMobile/__tests__/__snapshots__/NavMobile.test.tsx.snap
  src/components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
  src/components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.tsx.snap
  src/lib/utils/index.ts
Due: prettier --write, eslint --fix

Added Blog component and changed blog post properties
  blogArticles/hello-world.md
  blogArticles/second.md
  blogArticles/second.mdx
  blogArticles/third.md
  blogArticles/third.mdx
  components/Blog/Blog.js
  components/Blog/Blog.module.css
  components/Blog/__stories__/Blog.stories.js
  components/Blog/__tests__/Blog.test.js
  jsconfig.json
  package.json
  pages/api/blogIndex.js
  pages/blog/[slug].js
  pages/blog/index.js
  postcss.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Updates base file structure for blog
  components/Blog/Blog.js
  components/Blog/Blog.module.css
  components/Blog/BlogDefault.js
  components/Blog/BlogPost.js
  components/Blog/__stories__/Blog.stories.js
  components/Blog/__tests__/Blog.test.js
  pages/api/blogIndex.js
  postcss.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Add migration plan for dependency updates, App Router, and Sentry CLI
  PLAN.md
  postcss.config.js
Due: prettier --write, eslint --fix

enable skipped tests
  cypress/integration/resources.spec.js
  postcss.config.js
Due: prettier --write, eslint --fix
