Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

Reduced div widths
  pages/styles/challenge.module.css
Due: prettier --write, stylelint --fix

Add trim function from yup to validationSchema (#1182)
  components/RegistrationForm/RegistrationForm.js
Due: prettier --write, eslint --fix

Create column layout for challenge name list (#1181)
  pages/challenge.js
  pages/styles/challenge.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Add tests integration tests for join page
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

Add Integration tests for previously implemented trim() on firstName/lastName input fields of join page (#1193)
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

Changes to join page and validation
  common/constants/messages.js
  common/constants/validations.js
  components/RegistrationForm/RegistrationForm.js
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

Added unit tests and altered some validation
  common/constants/messages.js
  common/constants/validations.js
  common/utils/__tests__/validator-utils.test.js
  common/utils/validator-utils.js
  components/ChangePasswordForm/ChangePasswordForm.js
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/__tests__/RegistrationForm.test.js
  cypress/integration/join.spec.js
  cypress/integration/password_reset/confirm.spec.js
  test-utils/mockGenerators/mockPassword.js
Due: prettier --write, eslint --fix

Add Yusoof Moh to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Yusoof Moh to challenge list (#1195)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

update deps
  package.json
  yarn.lock
Due: none

bump next version
  package.json
  yarn.lock
Due: none

Create youtube_logo.svg
  components/SocialMedia/SocialMedia.js
Due: prettier --write, eslint --fix

Create youtube_logo.svg
  public/static/images/icons/youtube_logo.svg
Due: none

Spelling changes
  cypress/integration/join.spec.js
  cypress/integration/profile/change_password.spec.js
Due: prettier --write, eslint --fix

Update SocialMedia.test.js.snap
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.js.snap
Due: none

remove extra whitespace
  public/static/images/icons/youtube_logo.svg
Due: none

Add OC YouTube channel to OC Social Media (#1202)
  components/SocialMedia/SocialMedia.js
  components/SocialMedia/__tests__/__snapshots__/SocialMedia.test.js.snap
  public/static/images/icons/youtube_logo.svg
Due: prettier --write, eslint --fix

add aditya goparaju
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Corrections to failed integration tests
  components/RegistrationForm/RegistrationForm.js
  cypress/integration/join.spec.js
  cypress/integration/login.spec.js
  test-utils/mockGenerators/mockPassword.js
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

add aditya goparaju (#1203)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: none

Changes to integration tests and validations
  common/constants/validations.js
  common/utils/__tests__/validator-utils.test.js
  common/utils/validator-utils.js
  components/ChangePasswordForm/ChangePasswordForm.js
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/__tests__/RegistrationForm.test.js
  cypress/integration/join.spec.js
  test-utils/mockGenerators/mockPassword.js
Due: prettier --write, eslint --fix

Rename of passwordStrengthRegex
  common/constants/validations.js
  common/utils/validator-utils.js
Due: prettier --write, eslint --fix

Unit tests for user registration page and validation changes (#1194)
  common/constants/messages.js
  common/constants/validations.js
  common/utils/__tests__/validator-utils.test.js
  common/utils/validator-utils.js
  components/ChangePasswordForm/ChangePasswordForm.js
  components/RegistrationForm/RegistrationForm.js
  components/RegistrationForm/__tests__/RegistrationForm.test.js
  cypress/integration/join.spec.js
  cypress/integration/login.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/profile/change_password.spec.js
  test-utils/mockGenerators/mockPassword.js
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

fix styles on error page and add statically optimized 404 page
  components/ErrorDisplay/ErrorDisplay.js
  components/ErrorDisplay/ErrorDisplay.module.css
  components/ErrorDisplay/__tests__/__snapshots__/ErrorDisplay.test.js.snap
  pages/404.js
Due: prettier --write, eslint --fix, stylelint --fix

Added name per challenge
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

update dependencies
  package.json
  yarn.lock
Due: none

use first-class retry support in cypress
  cypress.json
  cypress/integration/retry.spec.js
  cypress/support/index.js
Due: prettier --write, eslint --fix

🤷‍♂️
  README.md
Due: none

add experimental scroll restoration
  next.config.js
Due: prettier --write, eslint --fix

move viewport meta tag as instructed by next dev warnings
  components/head.js
  pages/_document.js
Due: prettier --write, eslint --fix

Added name per challenge (#1206)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

fix lint mistake
  cypress/integration/password_reset/confirm.spec.js
Due: prettier --write, eslint --fix

use + instead of %20 in query strings
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

upgrade node version for cypress v5 image
  .circleci/config.yml
  .nvmrc
Due: none

lint storybook config files
  .eslintignore
  .storybook/config.js
  .storybook/middleware.js
  .storybook/webpack.config.js
Due: prettier --write, eslint --fix

dont format .storybook-dist
  .prettierignore
Due: none

downgrade a storybook dep
  package.json
  yarn.lock
Due: none

remove loader deps and rely on next subdeps
  package.json
  yarn.lock
Due: none

update next deps
  package.json
  yarn.lock
Due: none
