Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

try 4 machines
  .circleci/config.yml
Due: none

change cache path
  .circleci/config.yml
Due: none

revert parralel change for caching check
  .circleci/config.yml
Due: none

custom install step
  .circleci/config.yml
Due: none

fix typo
  .circleci/config.yml
Due: none

comment out seemingly irrelevant bit
  .circleci/config.yml
Due: none

restore cache in cypress job
  .circleci/config.yml
Due: none

use anchor/alias and add debug statement
  .circleci/config.yml
Due: none

fix indentation
  .circleci/config.yml
Due: none

fix alias / syntax errors
  .circleci/config.yml
Due: none

🤷‍♂️
  .circleci/config.yml
Due: none

fix alias
  .circleci/config.yml
Due: none

fix typos
  .circleci/config.yml
Due: none

remove typos forreal
  .circleci/config.yml
Due: none

add debug statements
  .circleci/config.yml
Due: none

add missing checkout step
  .circleci/config.yml
Due: none

remove persist attempt
  .circleci/config.yml
Due: none

force new cache
  .circleci/config.yml
Due: none

add debug statement
  .circleci/config.yml
Due: none

remove debug statement
  .circleci/config.yml
Due: none

checking CI speed (#1226)
  .circleci/config.yml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1227)
  README.md
Due: none

adjust footer
  components/Footer/Footer.js
  components/Footer/Footer.module.css
Due: prettier --write, eslint --fix, stylelint --fix

update snapshot
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

Adjust Footer (#1231)
  components/Footer/Footer.js
  components/Footer/Footer.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

#123 Re-order addons in Storybook instance
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

#123 Re-order addons in Storybook instance (#1235)
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Set closeMenuOnSelect to false. (Closes #1237)
  components/Form/Select/Select.js
Due: prettier --write, eslint --fix

Only set closeMenuOnSelect to false if isMulti is true
  components/Form/Select/Select.js
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

fix(#1233): use text as children in ImageCard.stories
  components/Cards/ImageCard/__stories__/ImageCard.stories.js
Due: prettier --write, eslint --fix

Add missing proptypes and validations
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

Prevent multiselect to close on click
  components/Form/Select/Select.js
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

feat: added closeMenuOnSelect prop to select component
  components/Form/Select/Select.js
Due: prettier --write, eslint --fix

call gtag only when it available
  common/utils/thirdParty/gtag.js
Due: prettier --write, eslint --fix

Leverages testing-library as part of #1228
  cypress/integration/code_schools.spec.js
  cypress/integration/join.spec.js
  cypress/integration/login.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/password_reset/index.spec.js
  cypress/integration/profile/change_password.spec.js
  cypress/integration/profile/update.spec.js
Due: prettier --write, eslint --fix

fix(#1233): use text as children in ImageCard.stories (#1240)
  components/Cards/ImageCard/__stories__/ImageCard.stories.js
Due: prettier --write, eslint --fix

Added Secure Code Warrior Logo
  common/constants/partners.js
Due: prettier --write, eslint --fix

Added Secure Code Warrior Logo (#1256)
  common/constants/partners.js
Due: prettier --write, eslint --fix
