Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

resolve storybook build issue
  components/Forms/UpdateProfileForm/__stories__/UpdateProfileForm.stories.tsx
Due: none

fix build issue
  components/Forms/UpdateProfileForm/UpdateProfileForm.tsx
  components/Forms/UpdateProfileForm/__stories__/UpdateProfileForm.stories.tsx
  tsconfig.json
Due: none

fix cypress tests
  common/constants/messages.ts
  cypress/e2e/join.spec.js
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

use staging in cypress
  common/config/environment.js
  cypress/plugins/index.js
Due: prettier --write, eslint --fix

fix storybook issue
  components/Form/Select/__stories__/SelectMulti.stories.tsx
  components/Form/Select/__stories__/SelectSingle.stories.tsx
Due: none

add logging
  components/Forms/RegistrationForm/RegistrationForm.tsx
  test-utils/mocks/existingUser.js
Due: prettier --write, eslint --fix

fixed minor navigation issue with merch store navlink
  common/constants/navigation.js
  components/Nav/NavListItem/NavListItem.tsx
Due: prettier --write, eslint --fix

modified test for merch store navlink fix
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: none

Updated snapshot tests
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: none

Modified NavListItem.tsx for Merch Store navlink fix
  components/Nav/NavListItem/NavListItem.tsx
Due: none

fix issues with selects and polish stuff up
  components/Form/Input/Input.tsx
  components/Form/Input/__tests__/__snapshots__/Input.test.tsx.snap
  components/Form/MultiStepForm.module.css
  components/Form/MultiStepForm.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/ThemedReactSelect.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  components/Forms/RegistrationForm/RegistrationForm.tsx
  components/Forms/UpdateProfileForm/UpdateProfileForm.tsx
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/MilitaryStatus.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
  components/Forms/UpdateProfileForm/steps/ProfessionalDetails.tsx
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

fix typo
  components/Forms/RegistrationForm/RegistrationForm.tsx
Due: none

CR for OutboundLink be useable inside Nav
  common/constants/navigation.js
  components/Nav/NavListItem/NavListItem.tsx
Due: prettier --write, eslint --fix

Updated PR for CR for OutboundLink be useable inside Nav
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: none

Modified OutboundLink styling issue
  components/Nav/NavListItem/NavListItem.tsx
Due: none

Fixed commit errors
  components/Nav/NavListItem/NavListItem.tsx
Due: none

Modified OutboundLink instance
  components/Nav/NavListItem/NavListItem.tsx
Due: none

fix more form issues
  components/Form/MultiStepForm.tsx
  components/Forms/UpdateProfileForm/UpdateProfileForm.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
Due: none

update snapshot
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
Due: none

fix loading state UI
  components/Form/MultiStepForm.tsx
Due: none

another snapshot update
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
Due: none

allow for non-checked TS in Cypress
  cypress/tsconfig.json
Due: none

fix more form issues, finish e2e test, and update snapshots
  common/constants/testIDs.js
  components/Form/MultiStepForm.tsx
  components/Form/Select/SelectMulti.tsx
  components/Form/Select/SelectSingle.tsx
  components/Form/Select/ThemedReactSelect.tsx
  components/Form/Select/__tests__/__snapshots__/SelectMulti.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/SelectSingle.test.tsx.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.tsx.snap
  components/Forms/UpdateProfileForm/UpdateProfileForm.tsx
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/MilitaryDetails.tsx
  components/Forms/UpdateProfileForm/steps/PersonalDetails.tsx
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/PersonalDetails.test.tsx.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.tsx.snap
  cypress/e2e/join.spec.ts
  pages/api/registration/update.ts
  pages/join/success.tsx
Due: prettier --write, eslint --fix

Modified branding-page styling to resolve bugs and inconsistent styling issues.
  common/styles/globals.css
  components/Branding/ColorSection/ColorSection.tsx
  pages/branding.tsx
Due: prettier --write, stylelint --fix

Modified LogSection styling rules to enhance UI design
  components/Branding/LogoSection/LogoSection.tsx
Due: none

Updated ColorSection and LogoSection test
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.tsx.snap
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
Due: none

Modified various files to align with requested changes or fixes
  common/styles/globals.css
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  pages/branding.tsx
  styles/branding.module.css
Due: prettier --write, stylelint --fix

Cleanup for Nav.tsx & NavListItem.tsx
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
Due: none

Cleanup for Nav.tsx & NavListItem.tsx
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: none

Cleanup for cross-branch conflicts
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
Due: none

Updated snapshot tests
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
Due: none

Navlink merch store target fix (#1848)
  common/constants/navigation.js
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: prettier --write, eslint --fix

Resolved merge conflicts
  components/Nav/Nav.tsx
  components/Nav/NavListItem/NavListItem.tsx
Due: none

Updated snapshot tests
  components/Nav/NavListItem/__tests__/__snapshots__/NavListItem.test.tsx.snap
  components/Nav/__tests__/__snapshots__/Nav.test.tsx.snap
Due: none

Branding page styling fixes and UI/UX improvements (#1849)
  components/Branding/ColorSection/ColorSection.tsx
  components/Branding/ColorSection/__tests__/__snapshots__/ColorSection.test.tsx.snap
  components/Branding/LogoSection/LogoSection.tsx
  components/Branding/LogoSection/__tests__/__snapshots__/LogoSection.test.tsx.snap
  pages/branding.tsx
  styles/branding.module.css
Due: prettier --write, stylelint --fix

removed the slack logo from the corporate sponsers section.
  common/constants/partners.js
Due: prettier --write, eslint --fix

Removed snapshot test for Slack Logo.
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: none

1852/remove slack logo (#1854)
  common/constants/partners.js
  components/ReusableSections/SponsorsSection/__tests__/__snapshots__/SponsorsSection.test.tsx.snap
Due: prettier --write, eslint --fix

fix: add column gap for android mobile viewport
  styles/get_involved.module.css
  styles/index.module.css
Due: prettier --write, stylelint --fix

fix: add column gap for android mobile viewport (#1860)
  styles/get_involved.module.css
  styles/index.module.css
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
