Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix test commands
  package.json
Due: none

resolve issue with warnings in jest
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  jest.setup.js
Due: prettier --write, eslint --fix

Fix integration test by typing 'esc' after multi selection
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

have columnsContainer use entire width available within it's parent element (#1265)
  components/Content/Content.module.css
Due: prettier --write, stylelint --fix

Profile items conditionally render
  pages/profile/index.js
Due: prettier --write, eslint --fix

Fix modal focus locking (#1270)
  common/constants/testIDs.js
  components/Cards/SchoolCard/SchoolCard.js
  components/Cards/SchoolCard/__tests__/SchoolCard.test.js
  components/Cards/SchoolCard/__tests__/__snapshots__/SchoolCard.test.js.snap
  components/Modal/Modal.js
  components/Modal/__tests__/__snapshots__/Modal.test.js.snap
  cypress/integration/code_schools.spec.js
  cypress/integration/modal.spec.js
  jest.setup.js
  package.json
  pages/_app.js
  pages/code_schools.js
  pages/styles/code_schools.module.css
Due: prettier --write, eslint --fix, stylelint --fix

undo some changes/minor fix on Modal & ResourceCard
  components/Cards/Card/Card.module.css
  components/Cards/ResourceCard/ResourceCard.js
  components/LoginForm/LoginForm.js
  components/LoginForm/__tests__/LoginForm.test.js
  components/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Modal/Modal.js
  components/Modal/__tests__/Modal.test.js
  pages/code_schools.js
  pages/profile/index.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix, stylelint --fix

Added a new command to find and set value in react select component
  cypress/integration/profile/update.spec.js
  cypress/integration/resources.spec.js
  cypress/support/commands.js
Due: prettier --write, eslint --fix

Leverages testing-library as part of #1228 (#1255)
  cypress/integration/code_schools.spec.js
  cypress/integration/join.spec.js
  cypress/integration/login.spec.js
  cypress/integration/password_reset/confirm.spec.js
  cypress/integration/password_reset/index.spec.js
  cypress/integration/profile/change_password.spec.js
  cypress/integration/profile/update.spec.js
  cypress/integration/resources.spec.js
  cypress/support/commands.js
Due: prettier --write, eslint --fix

Profile has default props
  pages/profile/index.js
Due: prettier --write, eslint --fix

chore: update formik to v2 (#1262)
  components/Form/Input/Input.js
  components/Form/Input/__tests__/Input.test.js
  components/Form/MultiStepForm.js
  components/Form/Select/Select.js
  components/Form/Select/__tests__/Select.test.js
  package.json
  pages/resources/[page].js
  yarn.lock
Due: prettier --write, eslint --fix

Profile items conditionally render (#1271)
  pages/profile/index.js
Due: prettier --write, eslint --fix

Set closeMenuOnSelect to false. (Closes #1237) (#1238)
  components/Form/Select/ThemedReactSelect.js
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

update dependencies
  package.json
  yarn.lock
Due: none

downgrade and pin autoprefixer
  package.json
  yarn.lock
Due: none

update lockfile and remove @storybook/addon-controls
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Add Krishna AL to Challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Krishna AL to Challenge list (#1274)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

added lighthouse ci action
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: prettier --write, eslint --fix

added in mergify
  .github/workflows/lighthouse.yml
  .mergify.yml
Due: none

Vibhor Garg
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

add missing comma
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

fix merge conflict & add prop in LoginForm
  components/LoginForm/LoginForm.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

fix unit/e2e tests
  components/LoginForm/__tests__/LoginForm.test.js
  components/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/UpgradeBrowserOverlay/__tests__/__snapshots__/UpgradeBrowserOverlay.test.js.snap
  cypress/integration/login.spec.js
Due: prettier --write, eslint --fix

use cypress-testing-library for login e2e testing
  common/constants/testIDs.js
  components/LoginForm/LoginForm.js
  components/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  cypress/integration/login.spec.js
Due: prettier --write, eslint --fix

create modal login on resources page (#1264)
  common/constants/navigation.js
  common/constants/testIDs.js
  components/Cards/Card/Card.module.css
  components/Cards/ResourceCard/ResourceCard.js
  components/LoginForm/LoginForm.js
  components/LoginForm/__tests__/LoginForm.test.js
  components/LoginForm/__tests__/__snapshots__/LoginForm.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  cypress/integration/login.spec.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix, stylelint --fix

Add Akshaya Subramanian to the challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Akshaya Subramanian to the challenge list (#1278)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

disabled scrollRestoration to fix footer link issue
  next.config.js
Due: prettier --write, eslint --fix

add comment
  next.config.js
Due: prettier --write, eslint --fix

PR for "Footer links dont open when clicked on iOS mobile #1277" (#1280)
  next.config.js
Due: prettier --write, eslint --fix

updated lighthouse actions
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: prettier --write, eslint --fix

WIP | list titles
  pages/blog/index.js
Due: prettier --write, eslint --fix

Add Parshwa52 to challenge list
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Add Parshwa52 to challenge list (#1281)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

enable upvote/downvote feature on resources
  common/constants/api.js
  common/utils/api-utils.js
  components/Cards/ResourceCard/ResourceCard.js
  pages/resources/[page].js
Due: prettier --write, eslint --fix

link list of articles
  pages/blog/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
