Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix typo
  README.md
Due: none

update more deps and add process plugin
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix cypress tests
  test-utils/mockGenerators/mockUser.js
Due: prettier --write, eslint --fix

skip failing test for now
  cypress/integration/resources.spec.js
Due: prettier --write, eslint --fix

force istanbul-lib-coverage upgrade
  package.json
  yarn.lock
Due: none

fix cypress tests forreal
  cypress/integration/join.spec.js
Due: prettier --write, eslint --fix

update next and storybook and use postcss 8 + webpack 5 (#1507)
  .storybook/main.js
  cypress/integration/join.spec.js
  cypress/integration/resources.spec.js
  next.config.js
  package.json
  test-utils/mockGenerators/mockUser.js
  yarn.lock
Due: prettier --write, eslint --fix

update lint deps, yeet mdx, run formatter
  .eslintrc.js
  .stylelintrc
  blogArticles/hello-world.mdx
  blogArticles/second.mdx
  blogArticles/third.mdx
  components/Branding/LogoSection/LogoSection.module.css
  components/Footer/Footer.module.css
  components/Nav/Nav.module.css
  next.config.js
  package.json
  pages/blog/[article].js
  pages/blog/index.js
  styles/index.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

remove final blog artifacts
  public/sitemap.xml
  styles/blog.module.css
Due: prettier --write, stylelint --fix

update lint deps, yeet mdx, run formatter (#1522)
  .eslintrc.js
  .stylelintrc
  blogArticles/hello-world.mdx
  blogArticles/second.mdx
  blogArticles/third.mdx
  components/Branding/LogoSection/LogoSection.module.css
  components/Footer/Footer.module.css
  components/Nav/Nav.module.css
  next.config.js
  package.json
  pages/blog/[article].js
  pages/blog/index.js
  public/sitemap.xml
  styles/blog.module.css
  styles/index.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Add new colors to css variables, update themeMap
  common/styles/themeMap.js
  common/styles/variables.css
Due: prettier --write, eslint --fix, stylelint --fix

Refactor PressLinks to use react-tabs
  components/Press/PressLinks/PressLinks.js
  components/Press/PressLinks/PressLinks.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Set width to 70ch for PressLinks
  components/Press/PressLinks/PressLinks.module.css
Due: prettier --write, stylelint --fix

Install react-tabs
  package.json
  yarn.lock
Due: none

Update test snaps for PressLinks
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.js.snap
Due: none

Update colors used in PressLinks
  components/Press/PressLinks/PressLinks.module.css
  styles/press.module.css
Due: prettier --write, stylelint --fix

Remove ArticleGroup component
  components/Press/PressLinks/ArticleGroup/ArticleGroup.js
  components/Press/PressLinks/ArticleGroup/ArticleGroup.module.css
  components/Press/PressLinks/ArticleGroup/__tests__/ArticleGroup.test.js
  components/Press/PressLinks/ArticleGroup/__tests__/__snapshots__/ArticleGroup.test.js.snap
Due: prettier --write, eslint --fix, stylelint --fix

Add focus-visible styles to PressLinks tabs
  components/Press/PressLinks/PressLinks.module.css
Due: prettier --write, stylelint --fix

Revert "Add new colors to css variables, update themeMap"
  common/styles/themeMap.js
  common/styles/variables.css
Due: prettier --write, eslint --fix, stylelint --fix

Use pointer cursor on PressLinks tabs
  components/Press/PressLinks/PressLinks.module.css
Due: prettier --write, stylelint --fix

Wrap PressLinks tabs for small viewports
  components/Press/PressLinks/PressLinks.module.css
Due: prettier --write, stylelint --fix

Use primary color for PressLinks tabs
  components/Press/PressLinks/PressLinks.module.css
  styles/press.module.css
Due: prettier --write, stylelint --fix

Refactor press links (#1519)
  components/Press/PressLinks/ArticleGroup/ArticleGroup.js
  components/Press/PressLinks/ArticleGroup/ArticleGroup.module.css
  components/Press/PressLinks/ArticleGroup/__tests__/ArticleGroup.test.js
  components/Press/PressLinks/ArticleGroup/__tests__/__snapshots__/ArticleGroup.test.js.snap
  components/Press/PressLinks/PressLinks.js
  components/Press/PressLinks/PressLinks.module.css
  components/Press/PressLinks/__tests__/__snapshots__/PressLinks.test.js.snap
  package.json
  styles/press.module.css
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

update some deps
  package.json
  yarn.lock
Due: none

Add Tri Tran to challenge list (#1461)
  public/static/operationcode_challenge/names.js
Due: prettier --write, eslint --fix

Update some more deps (#1523)
  package.json
  yarn.lock
Due: none

setup @sentry/nextjs
  .gitignore
  jsconfig.json
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  pages/_error.js
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  yarn.lock
Due: prettier --write, eslint --fix

conditionally enable sentry
  sentry.client.config.js
  sentry.server.config.js
Due: prettier --write, eslint --fix

setup @sentry/nextjs (#1524)
  .gitignore
  jsconfig.json
  next.config.js
  package.json
  pages/_app.js
  pages/_document.js
  pages/_error.js
  sentry.client.config.js
  sentry.properties
  sentry.server.config.js
  yarn.lock
Due: prettier --write, eslint --fix

change polyfill implementation
  next.config.js
  pages/_app.js
  polyfills.js
Due: prettier --write, eslint --fix

Change polyfill implementation (#1525)
  next.config.js
  pages/_app.js
  polyfills.js
Due: prettier --write, eslint --fix

try it
  next.config.js
Due: prettier --write, eslint --fix

Updated CSS :focus to :focus-visible
  components/Accordion/Accordion.module.css
  components/Buttons/Button/Button.module.css
  components/Cards/Card/Card.module.css
  components/Cards/FlatCard/FlatCard.module.css
  components/Cards/ResourceCard/ResourceCard.module.css
  components/Form/Input/Input.module.css
  components/Heading/Heading.module.css
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.module.css
  components/Pagination/PaginationItem/PaginationItem.module.css
  components/SocialLoginGroup/SocialLoginGroup.module.css
  styles/contact.module.css
Due: prettier --write, stylelint --fix

Fix code schools search form collisions
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

Update test snapshots with regenerated class-names
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
Due: none

Change mas-width to use ch instead of pixels
  common/styles/variables.css
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.module.css
  styles/contact.module.css
  styles/index.module.css
Due: prettier --write, stylelint --fix

Put the z-index in the right subcomponent
  components/Form/Select/ThemedReactSelect.js
  components/Form/Select/__tests__/__snapshots__/Select.test.js.snap
  components/Form/Select/__tests__/__snapshots__/ThemedReactSelect.test.js.snap
  components/Forms/ResourceSearchForm/__tests__/__snapshots__/ResourceSearchForm.test.js.snap
  components/Forms/UpdateProfileForm/__tests__/__snapshots__/UpdateProfileForm.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/MilitaryStatus.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/ProfessionalDetails.test.js.snap
  components/Forms/UpdateProfileForm/steps/__tests__/__snapshots__/Technology.test.js.snap
Due: prettier --write, eslint --fix

Change max-width to use ch instead of pixels (#1530)
  common/styles/variables.css
  components/UpgradeBrowserOverlay/UpgradeBrowserOverlay.module.css
  styles/contact.module.css
  styles/index.module.css
Due: prettier --write, stylelint --fix

Fix code schools search form collisions (#1529)
  components/Form/Select/ThemedReactSelect.js
Due: prettier --write, eslint --fix

Updated CSS :focus to :focus-visible (#1528)
  components/Accordion/Accordion.module.css
  components/Buttons/Button/Button.module.css
  components/Cards/Card/Card.module.css
  components/Cards/FlatCard/FlatCard.module.css
  components/Cards/ResourceCard/ResourceCard.module.css
  components/Form/Input/Input.module.css
  components/Heading/Heading.module.css
  components/Nav/Nav.module.css
  components/Nav/NavListItem/NavListItem.module.css
  components/Pagination/PaginationItem/PaginationItem.module.css
  components/SocialLoginGroup/SocialLoginGroup.module.css
  styles/contact.module.css
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.css)
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
