Repository OperationCode/front-end: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.js": [
    "prettier --write",
    "eslint --fix",
  ],
  "*.css": [
    "prettier --write",
    "stylelint --fix",
  ]
}

reverted copy for Alert story
  components/Alert/__stories__/Alert.stories.js
Due: prettier --write, eslint --fix

commented out variable names to pass lint
  components/Form/Input/__stories__/Input.stories.js
  components/Form/Select/__stories__/Select.stories.js
Due: prettier --write, eslint --fix

reverted Input and Select stories'
  components/Form/Input/__stories__/Input.stories.js
  components/Form/Select/__stories__/Select.stories.js
Due: prettier --write, eslint --fix

updated actions/checkout2 to v3 and changed autoacceptchagnes to true
  .github/workflows/chromatic.yml
Due: none

reverted autoAcceptChanges value back to main
  .github/workflows/chromatic.yml
Due: none

placed new script in alphabetical order
  package.json
Due: none

added Formik from to Input and Select stories
  components/Form/Input/__stories__/Input.stories.js
  components/Form/Select/__stories__/Select.stories.js
Due: prettier --write, eslint --fix

Fix #1521: chromatic is not working (#1705)
  .github/workflows/chromatic.yml
  components/Form/Input/__stories__/Input.stories.js
  components/Form/Select/__stories__/Select.stories.js
  package.json
Due: prettier --write, eslint --fix

updated Storybook to Storybook 7
  .eslintrc.js
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

reset commit and upgraded Storybook using nextjs install
  .eslintrc.js
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

use node 18 and fix storybook webpack config
  .circleci/config.yml
  .nvmrc
  .storybook/main.js
Due: prettier --write, eslint --fix

upgraded ProgressIndicator story to new format
  components/ProgressIndicator/__stories__/ProgressIndicator.stories.js
Due: prettier --write, eslint --fix

added documentation to ProgressIndicator stories
  components/ProgressIndicator/__stories__/ProgressIndicator.stories.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

updated Modal stories to new format
  components/Modal/__stories__/Modal.stories.js
Due: prettier --write, eslint --fix

updated default exports in main.js and preview.js
  .storybook/main.js
  .storybook/preview.js
Due: prettier --write, eslint --fix

removed resources from nav list arrays
  common/constants/navigation.js
Due: prettier --write, eslint --fix

updated Nav test snapshot
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: none

added setTimeout to Modal e2e test
  cypress/e2e/modal.spec.js
Due: prettier --write, eslint --fix

refactored cypress command chaining
  cypress/e2e/code_schools.spec.js
  cypress/e2e/hashlink.spec.js
  cypress/e2e/join.spec.js
Due: prettier --write, eslint --fix

removed cypress blur action from join e2e test
  cypress/e2e/join.spec.js
Due: prettier --write, eslint --fix

message
  common/constants/navigation.js
Due: prettier --write, eslint --fix

update snapshot test
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: none

Remove resources link from navigation (#1710)
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
Due: prettier --write, eslint --fix

remuved margin-top and add box-shadow
  components/Nav/Nav.module.css
Due: prettier --write, stylelint --fix

add elyon to partners
  common/constants/partners.js
Due: prettier --write, eslint --fix

Add "Elyon International" to partners marquee (#1715)
  common/constants/partners.js
Due: prettier --write, eslint --fix

update project rebuild content
  pages/project_rebuild.js
Due: prettier --write, eslint --fix

anotha one
  pages/project_rebuild.js
Due: prettier --write, eslint --fix

Update project rebuild content (#1716)
  pages/project_rebuild.js
Due: prettier --write, eslint --fix

add references to 501(c)3
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  pages/about.js
Due: prettier --write, eslint --fix

update guidestar
  components/Footer/Footer.js
  components/Footer/Footer.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
  components/Timeline/historyData.js
  pages/donate.js
  public/static/images/platinum-transparency.png
Due: prettier --write, eslint --fix, stylelint --fix

node 18
  .circleci/config.yml
  .nvmrc
Due: none

update guidestar and node 14-->18 (#1718)
  .circleci/config.yml
  .nvmrc
  components/Footer/Footer.js
  components/Footer/Footer.module.css
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Timeline/TimelineNav/__tests__/__snapshots__/TimelineNav.test.js.snap
  components/Timeline/__tests__/__snapshots__/Timeline.test.js.snap
  components/Timeline/historyData.js
  pages/donate.js
  public/static/images/platinum-transparency.png
Due: prettier --write, eslint --fix, stylelint --fix

remove outbound icon from footer guidestar link
  components/Footer/Footer.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
Due: prettier --write, eslint --fix

add KC chapter redirect
  next.config.js
Due: prettier --write, eslint --fix

tweak podcast page styles
  pages/podcast.js
  styles/podcast.module.css
Due: prettier --write, eslint --fix, stylelint --fix

add chapters and kansas city chapter page
  common/constants/navigation.js
  components/Footer/__tests__/__snapshots__/Footer.test.js.snap
  components/Nav/__tests__/__snapshots__/Nav.test.js.snap
  next.config.js
  pages/chapters/index.js
  pages/chapters/kc.js
  styles/chapters.module.css
  styles/kc.module.css
Due: prettier --write, eslint --fix, stylelint --fix

Integrated tailwind css plugin
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Integrated tailwind css plugin (#1729)
  package.json
  tailwind.config.js
  yarn.lock
Due: prettier --write, eslint --fix

fix tailwind in app
  .storybook/preview.js
  common/styles/globals.css
  pages/_app.js
  postcss.config.js
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix
